{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block imports %}
<style>
  input {
  width: 350px;
  }
</style>

{% endblock %}
{% block content %}
<div id="home" style="width:351px">
  <h1 style="font-size:4.5em;">sign in</h1>
  <br />
  {% if form.errors %}
  <p id="validateTips" style="margin-top:8px; margin-bottom:10px;">
    Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  <form method="post" action=".">
    <p>{{ form.username.label_tag }}
      {{ form.username }}</p>
    <p>{{ form.password.label_tag }}
      {{ form.password }}<p>
      <input type="submit" value="sign in" />
      <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <div class="bodytext" style="margin-top:30px;">
    if you do not have an account, please <a href="/register/">register</a>
  </div>
</div>
{% endblock %}

