{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block imports %}
        <script src="/lib/js/jquery-1.3.2.min.js">
        </script>
        <script src="/lib/js/watchlogin.js">
        </script>
{% endblock %}
{% block content %}
<div id="home" style="width:351px">
<h1>sign in</h1>
<br /><br />
<p id="validateTips">
{% if form.has_errors %}
Your username and password didn't match.
Please try again.
{% endif %}
</p>
<form method="post" action=".">
<p><label for="id_username">Username:</label>
{{ form.username }}</p>
<p><label for="id_password">Password:</label>
{{ form.password }}</p>
<input type="hidden" name="next" value="/" />
<input type="submit" value="sign in" id="registerSubmit" />
</form>
<div class="bodytext" style="margin-top:30px;">
  if you do not have an account, please <a href="/register/">register</a>
</div>
</div>
{% endblock %}
