{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block content %}
<div id="home">
    <h1>Thank you for registering!</h1>
    <h3>to get started, please install the eyebrowse plugin and login</h3>
    <div id="signUpLink" style="margin-top:30px">
        <a href="/releases/eyebrowse.xpi"> install</a>
    </div>
    <h3 style="width:320px;margin-left:auto;margin-right:auto">remember, you log only the urls you choose to share<br /><br />share a url by clicking on the eyebrowse icon in the bottom right corner of firefox</h3>
    <h2 style="margin-top:25px; padding-bottom:0px;border:none"><a href="/login/">login</a></h2>
</div>
{% endblock %}
