{% extends "base.html" %}
{% block title %}register{% endblock %}
{% block imports %}
        <script src="/lib/js/jquery-1.3.2.min.js">
        </script>
        <script src="/lib/js/jquery-ui-1.7.2.dialog.min.js">
        </script>
        <script src="/lib/js/watchhome.js">
        </script>
{% endblock %}
{% block content %}
		<div id="home" style="width:351px; margin-left:auto; margin-right:auto;">
		  <h1 style="font-size:4.5em;text-align:left">get started</h1>
		  <div class="bodytext" style="margin-top:12px;width:400px; text-align:left;font-size:1em;">
		    check out our <a href="http://eyebrowse.csail.mit.edu/help" target="_blank">help page</a> for a short run through of eyebrowse
		    <br />
		    by registering you agree to the <a href="/terms/" style="font-size:1em">terms and conditions and data use policies</a>
		  </div>
		  <br />
		  <p id="validateTips"></p>
		  <form method="post" action=".">
		    {{ form.as_p }}
		    <input type="submit" value="register" style="margin-top:6px;font-size:1.5em"/>
		  </form>
		  <div id="messageSent">signing in...</div>		  
		</div>
{% endblock %}
