{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block content %}
<div id="home">
    <h1 style="font-size:28px; font-weight:bold;">Thank you for registering!</h1>
    <h3 style="margin-top:5px; font-size:14px;">To get started, install the eyebrowse plugin and login</h3>
    <div id="signUpLink" style="margin-top:30px;margin-bottom:26px;">
        <a href="/releases/eyebrowse.xpi"> install</a>
    </div>
    <h5 style="width:390px;margin-left:auto;margin-right:auto; line-height:17px;">Share a url by clicking on the eyebrowse icon in the bottom-right corner of your firefox browser</h5>
    <h2 style="margin-top:19px; padding-bottom:0px;border:none"><a href="/login/"><b>login</b></a></h2>
</div>
{% endblock %}
