{% extends "base.html" %}
{% block title %}register{% endblock %}
{% block imports %}
<script src="/lib/js/watchhome.js"></script>
<style>
  input {
  width: 364px;
  }
  input[type= radio]{ width:auto; display:inline-block;}
  
  li { display:inline-block;}
  h3 {font-size:11px;
  font-weight:bold;
  padding-top:24px;
  vertical-align:top;}

.errorlist { background:lightyellow; font-weight:bold}
</style>
{% endblock %}
{% block content %}
<div id="home" style="width:364px; margin-left:auto; margin-right:auto;">
  <h1 style="font-size:4.5em;">get started</h1><br />
  <div class="bodytext" style="margin-top:12px;text-align:center;font-size:1em;">
    please register an account to begin using eyebrowse
    <p>
      if you would like more information, please check
      our <a href="/help" target="_blank">help page</a><p>
  </div>
  <br />
  <p id="validateTips"></p>
  <form method="post" action=".">
	    {{ form.as_p }}
	    <input type="submit" value="register"/>
  </form>
  <br />
  by registering you agree to the <a href="/terms/" style="font-size:1em">terms and conditions and data use policies</a>
</div>
    <div id="footer">
      <a href="/about">about</a>&nbsp; &#124; &nbsp;
      <a href="http://code.google.com/p/list-it/">google code</a>&nbsp; &#124; 
      <a href="/data/all_the_data.zip">download the data</a>&nbsp; &#124; &nbsp;
      {% if request_user %}
      <a href="my_eyebrowse_data.zip">download my data</a>&nbsp; &#124; &nbsp;
      {% endif %}
      <a href="/releases/eyebrowse.xpi"> download the plugin</a>
      <div style="margin-top:4px; line-height:15px;">created by: 
	<a href="http://www.zamiang.com/" style="text-decoration:none; font-size:1em;">Brennan Moore</a>, 
	<a href="http://people.csail.mit.edu/emax" style="text-decoration:none; font-size:1em;">Max Van Kleek</a> & 
	<a href="http://people.csail.mit.edu/karger/" style="text-decoration:none; font-size:1em;">David Karger</a>
	at MIT CSAIL</div>
    </div>


{% endblock %}
