body {
  font-family: serif;
  background-color:#FFFFFF;
}

#menubar {
  color:#000000;
}

.note { /* Div's// textareas containing note text */
  border:solid 1px #cccccc;
  background-color:#ffffff;
}

.note > pre { /* Do this to pre tags in noteDiv's */
  font-family:serif;
  color: #000000;
}