<html>
<head><title>list.it - welcome!</title>
    <link rel="stylesheet" type="text/css" href="../../css/listit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/soon.css" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="../../js/jquery.accordion.js"></script>
    <script type="text/javascript" src="../../js/plum-util-ns.js"></script> 

<script type="text/javascript">
var BASE_URL = "/listit/jv3";
var COOKIE = "{{cookie}}";  // replaced via DJANGO template
var USERNAME = "{{username}}";
var PASSWORD = "{{password}}";
var SERVER_URL = "{{server}}";

var resetbackground = function() {
    $('#back').attr('width',$(window).width());
}
$(document).ready(resetbackground);
$(window).resize(resetbackground);

function doconfig() {
    try {
	$("#error").fadeOut();
	netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");    
	var prefs = Components.classes["@mozilla.org/preferences-service;1"].getService(Components.interfaces.nsIPrefService).getBranch("listit.");
	prefs.QueryInterface(Components.interfaces.nsIPrefBranch);
	prefs.setCharPref("sync.username",USERNAME);
	prefs.setCharPref("sync.password",PASSWORD);
	prefs.setCharPref("sync.server",SERVER_URL);
	prefs.setBoolPref("sync.support",true);
	$("#configmessage").html("Done! You are all configured for using list.it with synchronization.");
	$("#configmessage").fadeIn();
    } catch (e) {
	$("#configmessage").html("Oops, something went wrong. Sorry! Please try again (and hit Allow when prompted).  If that doesn't work, your Firefox has unusual security settings -- but fear not!  Open up list.it by going into Firefox's menu View --> Sidebars --> list.it.  Then press the 'Options' button and enter your username and password in the synchronization settings.");
	$("#configmessage").fadeIn();
	return;
    } 

}

$(document).ready(function() {
    if (USERNAME.length > 0 && PASSWORD.length > 0 && SERVER_URL.length > 0) {
	$("#config").fadeIn();
	$("#configureit").click(function() {
	    doconfig();
	});
    }
});
</script>
</head>

  <body style="margin: 0;">
    <div id="topbar" class="topbar">
      <center>
        <table width="720" class="normal" cellpadding="0" cellspacing="0">
          <tr valign="bottom">

            <td style="padding-top:0px; font-weight: bold; margin: 5px">
	      <div class="topbartitle"><span style="font-size: 72px;">list<span style="font-size:36px;"><span style="color:#fca11f">.</span>it</span></span></div>
            </td>

	    <td align="right">
	      <a href="http://haystack.csail.mit.edu">Haystack Home</a>
	      | list.it
	      | <a href="http://plum.csail.mit.edu/">jourknow</a> 
	      | <a href="http://plum.csail.mit.edu/">PLUM</a> 
	      | <a href="http://simile.mit.edu/exhibit/">Exhibit</a> 
	      | <a href="http://relo.csail.mit.edu/">Relo</a> 
              | <a href="http://groups.csail.mit.edu/haystack/">haystack</a> 

            </td>
          </tr>
        </table>
    </center>
    </div>
   <img id="back" src="../../imgs/postits-sm.jpg" style="z-index:-1; position:absolute; left:0px; top:1in; right:0px; bottom:0px;" alt="post-its"/>
    <center>
    <table width="700px" cellpadding="15px" cellspacing="0" border="0" id="main">
	<tr valign="top">
	  <td colspan="2">
	  
	  <h1>Welcome to list.it!</h1>

	  <h2>Getting started</h2>

    <ul id="gettingstarted">


    
    <li>Launch <a href="../../web/index.html">List.it Web Edition</a> (for IE, Chrome, Safari, iPhone, G1, Opera, and Firefox)
    <li>List.it Deluxe for Firefox users:
<ul>
     <li> If you don't have List.it yet, <a target="_top" href="../../releases/builds/listit.xpi">Install list.it for Firefox (3.0+)</a>   
     <li> To open List.it: click on the little yellow note icon (<img src="../../imgs/listit.png">) in the bottom-right hand corner of your browser window.</li>
     
     <li> Set up automatic backup of your notes!
       <ol>
	 <li> Open List.it by clicking on (<img src="../../imgs/listit.png">) in the bottom-right hand corner of your browser window
	 <li> If this icon appears at the top:<br>
	   <img src="../../imgs/login.png">
	   <br>click on it, and follow the instructions. Otherwise you're all set.
	 <li> You are all set!
       </ol>
     </li>     
    <li>  Watch this intro video on Youtube:
    <br>
    <div style="padding:20px;">
      <a href="http://www.youtube.com/watch?v=aKEzH-4Poog"><img border="0" src="../../imgs/about_video.png"></a>
    </div>
    
    </ul>
          <li> See the <a href="../../faq.html">Frequently Asked Questions</a>.
          <li> Visit the <a href="http://groups.google.com/group/list-it">List.it Support Forum</a>.
    
     </ul>

<!-- Not necessary  <h3>The server said: {{ message }}</h3> -->
<!--
   This has been commented out because it fails for users who
   are running FF for windows, which locks down priviolege escalation
	    
    <div id="config">
	  <h3> Pre-Configure it! </h3>
	  <p>
    Optional: To save you the hassle of setting up your listit
preferences, click the following button, which will add your personal
synchronization settings (username and password) to your Firefox
preferences.  You can also manually set these parameters after you
install list.it in list.it's Options menu.
	  </p>	  
          <center><button id="configureit">Configure it!</button></center>
          <h3 id="configmessage"></h3>
    </div>

	  
	  <h3>Download firefox plugin</h3>
	  
	  <div id="terms" class="terms">
		 <p style="margin-top:0px;">This software is licensed under the MIT License.</p>
		 <p>
		  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
		  AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
		  WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
		  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
		  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
		  SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
		  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
		  EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
		  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
		  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
		  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
		  LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
		  CHOCOLATE TORTE (INCLUDING NEGLIGENCE OR OTHERWISE)
		  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
		  EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
		 </p>
		 <div id="downloadlink">
		 <a target="_top" href="../../releases/builds/listit.xpi" ><span style="font-size:120%; font-weight:bold; text-align:center;">install List.it!</span></a> (Requires Firefox 3.0+)
  	         </div>	 
     <p>
     If nothing appears to happen when you click on the link, check the top of the page for a bar that asks for your permission to install the extension.  You will need to click "Allow" in order to continue with installation.  Below is what it might look like at the top of your browser:
     </p>
     <p style="text-align: center;">
       <img src="../../imgs/allow-screenshot.png" alt="Screenshot of Allow button"/>
     </p>

	      </div> 
	      
	      <h3>Open it!</h3>
	      <p>To open list.it for the first time, open the View menu in Firefox, 
	      click Sidebar, and then click list.it.  You can then use the Options dialog
	      to set up a hotkey to open the client if you'd like.</p>

-->

	  </td>
	</tr>
      </table>
    </center>


</body>
</html>
