<html>
<head><title>list.it - new user account</title>
    <link rel="stylesheet" type="text/css" href="../../css/listit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/soon.css" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="../../js/jquery.accordion.js"></script>
    <script type="text/javascript" src="../../js/plum-util-ns.js"></script> 
</head>

<body>
  <body style="margin: 0">
    <div class="topbar">
      <center>
        <table width="720" height="75" class="normal" cellpadding="0" cellspacing="0">
          <tr valign="bottom">

            <td style="padding-top:0px; font-weight: bold; margin: 5px">
	      <a href="../../index.html"><div class="topbartitle"><!--<img class="logo" src="imgs/orangedot.png"/>--><span style="font-size: 72px;">list<span style="font-size:36px;"><span style="color:#fca11f">.</span>it</span></span></div></a>
            </td>

	    <td align="right">
	      <a href="http://haystack.csail.mit.edu">Haystack Home</a>
	      | list.it
	      | <a href="http://plum.csail.mit.edu/">jourknow</a> 
	      | <a href="http://plum.csail.mit.edu/">PLUM</a> 
	      | <a href="http://simile.mit.edu/exhibit/">Exhibit</a> 
	      | <a href="http://relo.csail.mit.edu/">Relo</a> 
              | <a href="http://groups.csail.mit.edu/haystack/">haystack</a> 

            </td>
          </tr>
        </table>
      </center>
    </div>
    <p>&nbsp;</p>

    <center>
      <table width="500" cellpadding="0" cellspacing="0" border="0">
	<tr>
	
	  <td class="prose">
	  
	  <h2>You clicked on an email I sent you.  This is what happened:</h2>
	  
	  <h3>{{ message }}</h3>
	  
	  </td>
	</tr>
      </table>
    </center>


</body>
</html>