<html>
<head><title>list.it - welcome!</title>
    <link rel="stylesheet" type="text/css" href="../../css/listit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/soon.css" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="../../js/jquery.accordion.js"></script>
    <script type="text/javascript" src="../../js/plum-util-ns.js"></script> 

<script type="text/javascript">
var BASE_URL = "/listit/jv3";
var COOKIE = "{{cookie}}";  // replaced via DJANGO template
var USERNAME = "{{username}}";
var PASSWORD = "{{password}}";
var SERVER_URL = "{{server}}";

var resetbackground = function() {
    $('#back').attr('width',$(window).width());
}
$(document).ready(resetbackground);

function doconfig() {
    try {
	$("#error").fadeOut();
	netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");    
	var prefs = Components.classes["@mozilla.org/preferences-service;1"].getService(Components.interfaces.nsIPrefService).getBranch("listit.");
	prefs.QueryInterface(Components.interfaces.nsIPrefBranch);
	prefs.setCharPref("sync.username",USERNAME);
	prefs.setCharPref("sync.password",PASSWORD);
	prefs.setCharPref("sync.server",SERVER_URL);
	prefs.setBoolPref("sync.support",true);
	$("#configmessage").html("Done! You are all configured for using list.it with synchronization.");
	$("#configmessage").fadeIn();
    } catch (e) {
	$("#configmessage").html("Oops, something went wrong. Sorry! Please try again (and hit Allow when prompted)");
	$("#configmessage").fadeIn();
	return;
    } 

}

$(document).ready(function() {
    if (USERNAME.length > 0 && PASSWORD.length > 0 && SERVER_URL.length > 0) {
	$("#config").fadeIn();
	$("#configureit").click(function() {
	    doconfig();
	});
    }
});
</script>
</head>

  <body style="margin: 0;">
    <div id="topbar" class="topbar">
      <center>
        <table width="720" class="normal" cellpadding="0" cellspacing="0">
          <tr valign="bottom">

            <td style="padding-top:0px; font-weight: bold; margin: 5px">
	      <div class="topbartitle"><span style="font-size: 72px;">list<span style="font-size:36px;"><span style="color:#fca11f">.</span>it</span></span></div>
            </td>

	    <td align="right">
	      <a href="http://haystack.csail.mit.edu">Haystack Home</a>
	      | list.it
	      | <a href="http://plum.csail.mit.edu/">jourknow</a> 
	      | <a href="http://plum.csail.mit.edu/">PLUM</a> 
	      | <a href="http://simile.mit.edu/exhibit/">Exhibit</a> 
	      | <a href="http://relo.csail.mit.edu/">Relo</a> 
              | <a href="http://groups.csail.mit.edu/haystack/">haystack</a> 

            </td>
          </tr>
        </table>
    </center>
    </div>
   <img id="back" src="../../imgs/postits-sm.jpg" style="z-index:-1; position:absolute; left:0px; top:1in; right:0px; bottom:0px;" alt="post-its"/>
    <center>
    <table width="700px" cellpadding="5px" cellspacing="0" border="0" id="main">
	<tr valign="top">
	  <td colspan="2">
	  
	  <h1>Welcome to list.it!</h1>
	  
	  <h3>The server said: {{ message }}</h3>

    <div id="config">
	  <h3> Pre-Configure it! </h3>
	  <p>
    Optional: To save you the hassle of setting up your listit
preferences, click the following button, which will add your personal
synchronization settings (username and password) to your Firefox
preferences.  You can also manually set these parameters after you
install list.it in list.it's Options menu.
	  </p>	  
          <center><button id="configureit">Configure it!</button></center>
          <h3 id="configmessage"></h3>
    </div>
	  
	  <h3>Download it!</h3>
	  
	  <div id="terms" class="terms">
		 <p style="margin-top:0px;">This software is licensed under the MIT License.</p>
		 <p>
		  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
		  AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
		  WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
		  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
		  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
		  SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
		  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
		  EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
		  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
		  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
		  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
		  LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
		  CHOCOLATE TORTE (INCLUDING NEGLIGENCE OR OTHERWISE)
		  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
		  EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
		 </p>
		 <div id="downloadlink">
		 <a target="_top" href="../../releases/builds/listit.xpi" ><span style="font-size:120%; font-weight:bold; text-align:center;">install List.it!</span></a> (Requires Firefox 3.0+)
  	         </div>	 
	      </div> <!--terms-->
	      
	      <h3>Open it!</h3>
	      <p>To open list.it for the first time, open the View menu in Firefox, 
	      click Sidebar, and then click list.it.  You can then use the Options dialog
	      to set up a hotkey to open the client if you'd like.</p>

	  </td>
	</tr>
      </table>
    </center>


</body>
</html>