<html>
<head><title>list.it - new user account</title>
    <link rel="stylesheet" type="text/css" href="http://projects.csail.mit.edu/jourknow/jv3/deploy/css/listit.css" />
    <link rel="stylesheet" type="text/css" href="http://projects.csail.mit.edu/jourknow/jv3/deploy/css/homepage.css" />
    <link rel="stylesheet" type="text/css" href="http://projects.csail.mit.edu/jourknow/jv3/deploy/css/soon.css" />
    <script type="text/javascript" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/js/jquery.js"></script>
    <script type="text/javascript" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/js/jquery.accordion.js"></script>
    <script type="text/javascript" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/js/plum-util-ns.js"></script> 
    <script type="text/javascript">

    var setmsg = function(msg) {
	if (msg && msg.length > 0) {
            $("#msg").html(msg);
	    $("#msg").fadeIn("fast");				    
	} else {
	    $("#msg").fadeOut("fast");
	}
    };
    var setok = function(ok) {
	if (ok) {
	    $("#submit").fadeIn("fast");
	    $("#submit").show();
	} else {
	    $("#submit").fadeOut("fast");
	}
    };

    var validateEmail = function(cont) {
	var emailval = $("#email").val();
	emailval = plumutil.trim(emailval);
	if (emailval.length == 0) {
	    return cont(false, "Email must not be blank");
	}
	if (!plumutil.isValidEmail(emailval)) {
	    console.log("not valid email " + emailval);
	    return cont(false, "Not a valid e-mail address.");
	} else {
	    return jQuery.ajax({ type:"GET",
			  url: "/jv3/userexists?email="+encodeURIComponent(emailval),
			  success: function(data,success, x) {
			      //success means that there exists already such an email adddr
			      cont(false,"Error. I already have an account for " + emailval + ".");				  
			  },
			  error: function(req,status) {
			      if (req.status == 404){
				  cont(true);
			      } else {
				  cont(false,"Uh oh the server seems to be down.");
			      }
			  }});
	}
    };

var validatePass = function(cont) {
    var p1 = $("#pass1").val();
    var p2 = $("#pass2").val();
    p1 = plumutil.trim(p1);
    p2 = plumutil.trim(p2);
    if (p1.length > 3) {
	if (p1 == p2) {
	    return cont(true);
	} else {
	    return cont(false, "Your passwords don't seem to match. Try re-typing?");
	}
    }
    cont(false, "Passwords must have more than 3 characters");    
};

var sendCreateRequest = function() {
    var emailval = $("#email").val();
    var p1 = $("#pass1").val();

    setok(false);
    setmsg("Sending request...");

    var cont = function(success, info) {
	if (success) {
	    setmsg();
	    setmsg("An email has been sent to " + emailval);
	} else {
	    setmsg();
	    setmsg(info);
	}
    };
    return jQuery.ajax({ type:"POST",
			  url: "/jv3/createuser",
			 data:({ username: emailval, password: p1 }),
			 success: function(data,success) {
			     //success means that there exists already such an email adddr
			     cont(true);
			 },
			 error: function(data,status) {
			     cont(false,data.responseText);
			 }
		       });
    
}

var validate = function(cont) {
	validateEmail(function(ok,msg) {
	    if (!ok) { cont(ok,msg); }
	    else {
		validatePass(function(ok,msg) {
		    if (!ok) { cont(ok,msg); }
		    else cont(true);
		});
	    }			    
	});
    };
    $(document).ready(function() {
	setok(false);
	setmsg("");
	var vcont = function(ok, msg) {
	    if (ok) {
		setok(true);
		setmsg("");
	    } else {
		setok(false);
		setmsg(msg);
	    }
	};
        $("#email").keydown(function() {
	    validate(vcont);
	});
	$("#pass1").keydown(function() {
	    validate(vcont);
	});
	$("#pass2").keydown(function() {
	    validate(vcont);
	});
	$("#submit").click(function() {
	    sendCreateRequest();
	});
	$("#participate").click(function() {
	   if ($("#participate").val()) {
	      $("#couhes").fadeIn();
       	      $("#couhes").show();	      
	   } else {
	      $("#couhes").fadeOut();
	   }
	});
    });
    </script>
</head>

<body>
  <body style="margin: 0">
    <div class="topbar">
      <center>
        <table width="720" height="75" class="normal" cellpadding="0" cellspacing="0">
          <tr valign="bottom">

            <td style="padding-top:0px; font-weight: bold; margin: 5px">
	      <div class="topbartitle"><!--<img class="logo" src="imgs/orangedot.png"/>--><span style="font-size: 72px;">list<span style="font-size:36px;"><span style="color:#fca11f">.</span>it</span></span></div>
            </td>

	    <td align="right">
	      <a href="http://haystack.csail.mit.edu">Haystack Home</a>
	      | list.it
	      | <a href="http://plum.csail.mit.edu/">jourknow</a> 
	      | <a href="http://plum.csail.mit.edu/">PLUM</a> 
	      | <a href="http://simile.mit.edu/exhibit/">Exhibit</a> 
	      | <a href="http://relo.csail.mit.edu/">Relo</a> 
              | <a href="http://groups.csail.mit.edu/haystack/">haystack</a> 

            </td>
          </tr>
        </table>
      </center>
    </div>
    <p>&nbsp;</p>

    <center>
      <table width="500" cellpadding="0" cellspacing="0" border="0">
	<tr>
	  <td class="prose">
	  <div id="signup">
	  Sign up for a new List.it account:
	  <form id action="uservalidate">
		      <table>
                      <tr><td></td><td></td></tr>

		      <tr>
		      <td colspan="2">
		      		      <div style="width:300px; height:20px;">
		                    <div id="msg"/>
				      </div>
     		      </td>
		      </tr>
		      
		      <tr><td>email</td><td><input id="email" name="email"></input></td>
		      
		      <tr><td>pass</td><td><input id="pass1" type="password"></input></td></tr>
		      
		      <tr><td>pass (again)</td><td><input id="pass2" type="password"></input></td></tr>
		      		      
		      <tr><td>contribute to science?</td><td><input type="checkbox" id="participate" name="Participate in the note-taking study."/>

     		      <tr><td>
		      <div id="couhes" style="visibility:hidden;">

		      
*  PARTICIPATION AND WITHDRAWAL

Your participation in this study is completely voluntary and you are free to choose whether to be in it or not. If you choose to be in this study, you may subsequently withdraw from it at any time without penalty or consequences of any kind.  The investigator may withdraw you from this research if circumstances arise which warrant doing so.  

If the investigator determines that you are not fulfilling the requirements of the study, he/she may decide to terminate the study early and provide prorated payment.

*PROCEDURES

If you volunteer to participate in this study, we would ask you to do the following things:

Preparation
We will be installing a personal information management system on your main computer.  The researcher will demonstrate its use and teach you how to use its main features.   hour.

Usage
You will then be asked to use the system over a determined period of time (multiple days) to manage your personal information.  During that period, you may be asked to keep a diary noting any thoughts that you have regarding the system, and the researcher may schedule periodic interviews with you to further discuss your reactions and opinions.  For example, this may involve taking note of instances where you experience a breakdown in current tools or when you perform a certain action (e.g., send an email to yourself as a reminder).  This procedure may also involve use of automated application logging software written by the researchers to accurately capture use patterns.

You may be asked to ensure to use the system at least a specified amount of time per day.  We may be experimentally manipulating the tool we give you and the tasks we ask of you. Your assignment to a particular study condition will be done completely at random.  Time: predefined number of days agreed to by the participant, with a predefined minimum use time per day.

Final interview
At the culmination of the period of usage, the researcher will hold a final interview with you and distribute a survey to capture final thoughts.  Time: 1 hour.

Total length of time: 1.5hrs + required usage over extended period


*POTENTIAL RISKS AND DISCOMFORTS

Risks surrounding this study are minimal.  The researcher will not share  information that he/she encounters during the interviews, in reviewing the diary, or in processing the application log data, and all notes surrounding your data will be coded by participant number rather than name.

As with any computer program, there is a potential risk that the system may glitch and lose some of the information you have recorded into it.  This is extremely unlikely to occur.

*POTENTIAL BENEFITS 

There will be no direct benefit to the subject for participating in this research aside from compensation.  It is plausible that the tool we assign you to use may improve upon your current practices and you may decide to continue its use.

The s benefit to society will focus on improving information management work for computer users.  If successful, the research will make it easier to manage the large amount of personal information (emails, todos, memories, files) on the computer.

*PAYMENT FOR PARTICIPATION

The subjects will receive payment in the amount of ___ dollars researchpersonalany Time: 

		      
		      </div>
		      </td></td></tr>

		      <tr><td><input id="submit" type="button" style="hidden:true;" value="Register me for List.it"></input> </td></tr>
		      
		      </table>


		      </p>		      
	  </form>
	  </div>
	  </td>
	</tr>
      </table>
    </center>


</body>
</html>