<html>
<head><title>list.it - new user account</title>
    <link rel="stylesheet" type="text/css" href="http://projects.csail.mit.edu/jourknow/jv3/deploy/css/listit.css" />
    <link rel="stylesheet" type="text/css" href="http://projects.csail.mit.edu/jourknow/jv3/deploy/css/homepage.css" />
    <link rel="stylesheet" type="text/css" href="http://projects.csail.mit.edu/jourknow/jv3/deploy/css/soon.css" />
    <script type="text/javascript" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/js/jquery.js"></script>
    <script type="text/javascript" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/js/jquery.accordion.js"></script>
    <script type="text/javascript" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/js/plum-util-ns.js"></script> 
    <script type="text/javascript">

    var BASE_URL = "/listit/jv3";

    var setmsg = function(msg) {
	if (msg && msg.length > 0) {
            $("#msg").html(msg);
	    $("#msg").fadeIn("fast");				    
	} else {
	    $("#msg").fadeOut("fast");
	}
    };
    var setok = function(ok) {
	if (ok) {
	    $("#submit").fadeIn("fast");
	    $("#submit").show();
	} else {
	    $("#submit").fadeOut("fast");
	}
    };

    var validateEmail = function(cont) {
	var emailval = $("#email").val();
	emailval = plumutil.trim(emailval);
	if (emailval.length == 0) {
	    return cont(false, "Email must not be blank");
	}
	if (!plumutil.isValidEmail(emailval)) {
	    return cont(false, "Not a valid e-mail address.");
	} else {
	    return jQuery.ajax({ type:"GET",
			  url: BASE_URL + "/userexists?email="+encodeURIComponent(emailval),
			  success: function(data,success, x) {
			      //success means that there exists already such an email adddr
			      cont(false,"Error. I already have an account for " + emailval + ".");				  
			  },
			  error: function(req,status) {
			      if (req.status == 404){
				  cont(true);
			      } else {
				  cont(false,"Uh oh the server seems to be down.");
			      }
			  }});
	}
    };

var validatePass = function(cont) {
    var p1 = $("#pass1").val();
    var p2 = $("#pass2").val();
    p1 = plumutil.trim(p1);
    p2 = plumutil.trim(p2);
    if (p1.length > 3) {
	if (p1 == p2) {
	    return cont(true);
	} else {
	    return cont(false, "Your passwords don't seem to match. Try re-typing?");
	}
    }
    cont(false, "Passwords must have more than 3 characters");    
};

var sendCreateRequest = function() {
    var emailval = $("#email").val();
    var p1 = $("#pass1").val();
    var couhes  = $("#consent")[0].checked && $("#participate")[0].checked;
    var firstname ="", lastname = "";
    
    if (couhes) {
	firstname = $("#firstname").val();
	lastname = $("#lastname").val();
    }
    
    setok(false);
    setmsg("Sending request...");

    var cont = function(success, info) {
	if (success) {
	    setmsg();
	    setmsg("An email has been sent to " + emailval);
	} else {
	    setmsg();
	    setmsg(info);
	}
    };
    return jQuery.ajax({ type:"POST",
			  url: BASE_URL + "/createuser/",
			 data:({ username: emailval, password: p1, couhes:couhes, firstname: firstname, lastname: lastname }),
			 success: function(data,success) {
			     //success means that there exists already such an email adddr
			     cont(true);
			 },
			 error: function(data,status) {
			     cont(false,data.responseText);
			 }
		       });
    
}

    var validate = function() {
	var cont = function(ok, msg) {
	    if (ok) {
		setok(true);
		setmsg("");
	    } else {
		setok(false);
		setmsg(msg);
	    }
	};
	validateEmail(function(ok,msg) {
	    if (!ok) { cont(ok,msg); }
	    else {
		validatePass(function(ok,msg) {
		    if (!ok) { cont(ok,msg); }
		    else {
			if ($("#participate")[0].checked) {
			    if (plumutil.trim($("#firstname").val()).length > 0 && plumutil.trim($("#lastname").val()).length > 0 ){
				$("#consent").attr("disabled",false);
				if ($("#consent")[0].checked) {
				    cont(true);
				} else {
				    cont(false,"Please consent to participate in the study, or uncheck the Paricipate in Study check mark above.");
				}
			    } else {
				// names not blank
				$("#consent").attr("disabled",true);
				cont(false,"Please supply your first and last name and consent to participate in the study, or uncheck the Paricipate in Study check mark above.");
			    }
			} else {
			    cont(true);
			}
		    }});
	    }			    
	});
    };
    $(document).ready(function() {
	setok(false);
	setmsg("");
	$("input:checked").attr("checked",false);
	$("#consent").attr("disabled",true);

        $("#email").keyup(function() {
	    validate();
	});
	$("#pass1").keyup(function() {
	    validate();
	});
	$("#pass2").keyup(function() {
	    validate();
	});
	$("#submit").click(function() {
	    sendCreateRequest();
	});	
 	$("#participate").click(function() {
	    validate();
 	    if ($("#participate")[0].checked)  {
	     	$("#couhes").fadeIn();
	    } else {
	         $("#couhes").fadeOut();
	    }
	});
	$("#firstname").keyup(function() {
	   validate();	   
	});
	$("#lastname").keyup(function() {
	   validate();	   
	});
	$("#consent").click(function() {
	    validate();
	    signeddate = new Date();
	    if ($("#consent")[0].checked) {
		$("#consentdate").html( "" + (new Date()) );
		$("#consentdate").fadeIn();		
	    } else {
		$("#consentdate").fadeOut();
	    }
	});
    });
    </script>
</head>

<body>
  <body style="margin: 0">
    <div class="topbar">
      <center>
        <table width="720" height="75" class="normal" cellpadding="0" cellspacing="0">
          <tr valign="bottom">

            <td style="padding-top:0px; font-weight: bold; margin: 5px">
	      <div class="topbartitle"><!--<img class="logo" src="imgs/orangedot.png"/>--><span style="font-size: 72px;">list<span style="font-size:36px;"><span style="color:#fca11f">.</span>it</span></span></div>
            </td>

	    <td align="right">
	      <a href="http://haystack.csail.mit.edu">Haystack Home</a>
	      | <span class="topbar">list.it</span>
	      | <a href="http://plum.csail.mit.edu/">jourknow</a> 
	      | <a href="http://plum.csail.mit.edu/">PLUM</a> 
	      | <a href="http://simile.mit.edu/exhibit/">Exhibit</a> 
	      | <a href="http://relo.csail.mit.edu/">Relo</a> 
              | <a href="http://groups.csail.mit.edu/haystack/">haystack</a> 

            </td>
          </tr>
        </table>
      </center>
    </div>
    <p>&nbsp;</p>

    <center>
      <table width="700px;" cellpadding="0" cellspacing="0" border="0">
	<tr>
	  <td class="prose">
	  <div id="signup">
	  <h1>Sign up for List.it</h1>
	  
	  <p>By signing up for a list.it account, you can synchronize
	  your list across multiple computers running list.it.  As a
	  result, your notes will also automatically be backed up in 
	  case your computer crashes or you accidentally delete data.

	  <p>
	  
 	 <center>
         <table>
	       <tr><td style="text-align:right;">your <b>email</b>:</td><td><input id="email" name="email" style="width:100%"/></td></tr>
	       <tr><td style="text-align:right;">choose a <b>password</b>:</td><td><input id="pass1" type="password" style="width:100%"></input></td></tr>
 	       <tr><td style="text-align:right;"> type your <b>password again</b>:</td><td><input id="pass2" type="password" style="width:100%"></input></td></tr>
		      
		      <tr><td>participate in our study?</td><td><input type="checkbox" id="participate"></input></td></tr>
		      <tr><td colspan=2></td></tr>
		      <tr>
		      <td colspan="2">
		        <div style="width:300px;height:20px;">
                        
		      </div>
     		      </td>
	      </table>
	  </center>
      <P>
        <div id="couhes" style="display:none;">
        <p>Thank you for your interest in helping us ith our research. Please review the documentbelow, which utlines what we are doing and
	   why, as well as important information regarding how the data we are collecting about	your note taking habits will be used and
	   handled. <p>(You can return to the document later <a href="http://projects.csail.mit.edu/jourknow/jv3/deploy/couhes.html">here</a>)

   	  <iframe style="width:100%;height:100px;border:1px;" src="http://projects.csail.mit.edu/jourknow/jv3/deploy/couhes.html"></iframe>
  	  
  	  <br>
  	  <p>If you agree to the terms of the document and wish to participate, please provide:
	  <p>
	  your <b>first name</b>:<input type="text" id="firstname"></input> and <b>last name</b>:<input type="text" id="lastname"></input>
	  <br>
  	  and check: <input type="checkbox" id="consent" name="consent">I agree to the terms of the study.  (date: <span id="consentdate" style="display:none;">)</span>
	  
     </div>
     
	  <center><div id="msg" style="color:rgb(250,150,150);"/></center>
  	  <center><input id="submit" name="submit" type="button" style="hidden:true;" value="Register me"></input></center>
	  </td>
	</tr>
      </table>
    </center>
</body>
</html>