<html>
<head><title>list.it - the light at the end of the notebook</title>
    <link rel="stylesheet" type="text/css" href="../../css/listit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/soon.css" />
    <link rel="stylesheet" type="text/css" href="../../css/survey.css" />
    <script src="http://yui.yahooapis.com/2.5.2/build/yahoo/yahoo-min.js"></script>
    <script src="http://yui.yahooapis.com/2.5.2/build/json/json-min.js"></script>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="../../js/jquery.accordion.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui-personalized-1.6b.min.js"></script>
    <script type="text/javascript" src="../../js/plum-util-ns.js"></script>
    <script type="text/javascript" src="../../js/wiky.js"></script> 

<script type="text/javascript">
BASE_URL = "/listit/jv3";
var COOKIE = "%(cookie)s";  // replaced via DJANGO template
var SERVER_URL = "%(server)s";
var SURVEY_ELEMENTS = %(questions)s;

var toWiky = function(s) {
    return Wiky.toHtml(s).replace(/\n/g,'<br>');
}
var toWikyNoBR = function(s) {
    return Wiky.toHtml(s).replace(/\n/g,'');
}
var showDivWithContents = function(c){
    //$("#note_shower").dialog("close");
    //console.log("setting note shower contents to be " + c);
    //$("#note_shower").html(c);
    //$("#note_shower").dialog("open");
}
/*$(document).ready(function() {
    $("#note_shower").dialog({
	autoOpen: false,
	buttons: { close: function() { $("#note_shower").dialog("close"); } },
	overlay: { background: "black", opacity: 0.9 },
	draggable:true,
	resizable:false,
	dialogClass:"note_shower_class"
    });
    $("#note_shower").dialog("close");
});
*/

var makeInlineNoteShower = function(b64s,divname) {
    var maxidx = 120;
    var s = plumutil.Base64.decode(b64s);
    var wikis = Wiky.toHtml(s);
    var notetext = wikis.replace(/\n/g,'<br>');
    var excerpt = s.substring(0,maxidx);
    var divshower = divname + "_shower";
    var expando = (notetext.length > maxidx) ? "<img src=\"../../imgs/expando.gif\" style=\"width:12px;\">" : "";
    var ellipses = (notetext.length > maxidx) ? "..." : "";
    var htmls = "<div class=\"note_excerpt blockinline\">"+ excerpt + ellipses + expando + "</div>  "+"<div id=\""+divshower+"\" class=\"note_shower\ blockinline\">"+notetext+"</div>";
    $("#"+divname).html(htmls);
    if (notetext.length > maxidx) {
	$("#"+divname).click(function() {
	    $("#"+divshower).slideToggle();
	});
    }
}
var populateSurvey = function(parent) {
    var result = "";
    var handlers = [];
    for (var i = 0; i < SURVEY_ELEMENTS.length; i++)  {
	var question = SURVEY_ELEMENTS[i];
	// render question text
	result += "<div class=\"question\">"
	if (question.type === undefined) {
  	    // most likely just a label
	    result += question.text;
	} else {
	    // a real question: must be of type [freeresponse, multiplechoice, checkbox]
	    var flowstyle = (question.type == 'textfield')  ? "blockinline" : 'block';
	    if (question.type == 'textfield') { flowstyle += " force300w"; }

	    result += "<div id=\""+question.qid+"_text\" class=\"question_text " + flowstyle + "\">"+question.text+"</div>";
	    result += "<div id=\""+question.qid+"_response\" class=\"question_response "+flowstyle+"\">";
	    if (question.type == 'textfield') {
		result += "<input id=\""+ question.qid +"_input\" type=\"text\" class=\"textfield\" value=\""+(question.response !== undefined ? question.response:"") + "\"></input>";
		question.getValue = function(question) { return function() { return $("#"+question.qid+"_input").val(); } }(question);	    
	    } else if (question.type == 'textarea') {
		result += "<textarea id=\""+ question.qid + "_input\">" + (question.response !== undefined ? question.response : "") + "</textarea>";
		question.getValue = function(question) { return function() { return $("#"+question.qid+"_input").val(); } }(question);	    
	    } else if (question.type == 'radio') {
		// lets the user choose one of a set of mutually exclusive options
		var group = question.qid+"_choice";
		var responses = question.response !== undefined ? question.response.split("\n") : [];
		var ischecked_fns = [];
		var other_fn = undefined;
		for (var vi = 0; vi < question.values.length; vi++) {
		    var val = question.values[vi];
		    var id =  group + "_val_" + vi;
		    var defaultchecked = responses.indexOf(val) >= 0 ? "checked=\"true\"" : "";
		    result += "<div class=\"choice\"><input type=\"radio\" name=\""+group+"\" id=\""+id+"\" value=\""+val+"\""+defaultchecked+">"+val+"</input></div>"
		    ischecked_fns.push(function(id,val) { return function() { if ($("#"+id)[0].checked) return val; } }(id,val) );
		}
		if (question.other) {
		    // add an "other" field
		    var other_response =
			(responses && responses.length == 1 && question.values.indexOf(responses[0]) < 0) ? responses[0] : "";
		    var other_id = group + "_val_" + question.values.length;
		    var defaultchecked = other_response.length > 0 ? "checked=\"true\"" : "";
		    result += "<div class=\"choice\"><input type=\"radio\" name=\""+group+"\" id=\""+other_id+"\" value=\"Other\" "+defaultchecked+"> Other </input>";
		    var other_text_id = question.qid +"_other_input"
		    result += "<input class=\"othertextfield\" id=\""+other_text_id +"\" type=\"text\" value=\""+other_response+"\"></input>";
		    result +="</div>"		    
		    handlers.push(function(question,other_id,other_text_id) {
			/* enables/disables "other" text field */
			return function() {
			    var cfn = function() {
				if ($("#"+other_id)[0].checked)
				    $("#"+other_text_id).attr("disabled",false);
				else
				    $("#"+other_text_id).attr("disabled",true);
			    };
			    for (var q_i = 0; q_i < question.values.length; q_i++) {
				var q_id =  group + "_val_" + q_i;
				$("#"+q_id).click(function() {
				    $("#"+other_text_id).attr("disabled",true);
				});
			    };
			    $("#"+other_id).click(cfn);
			    $("#"+other_id).ready(cfn)
			};
		    }(question,other_id,other_text_id));
		    other_fn = function(other_id,other_text_id) {
			return function() {
			    if ($("#"+other_id)[0].checked) {
				return $("#"+other_text_id).val();
			    }
			};
		    }(other_id,other_text_id);
		}
		question.getValue = function(val_fns,other_fn) {
		    return function() {
			// first check if other checked
			if (other_fn && other_fn())
			    return other_fn();
 			// otherwise, it's one of the choices
			var results = [];
			for (var vi = 0; vi < val_fns.length; vi++) {
			    if (val_fns[vi]() !== undefined) {
				results.push(val_fns[vi]());
			    }
			};			
			return results.join("\n");
		    };
		}(ischecked_fns,other_fn);
	    } else if (question.type == 'checkbox') {
	    	// lets the user choose one of a set of mutually exclusive options
		var group_name = question.qid+"_check_";
		var ischecked_fns = [];
		var other_fn = undefined;
		var responses = question.response !== undefined ? question.response.split("\n") : [];
		for (var vi = 0; vi < question.values.length; vi++) {
		    var val = question.values[vi];
		    var id =  group_name + "_" + vi;
		    var defaultchecked = responses.indexOf(val) >= 0 ? "checked=\"true\"" : "";
		    result += "<div class=\"choice\"><input type=\"checkbox\" name=\""+id+"\" id=\""+id+"\" value=\""+val+"\""+defaultchecked+">"+val+"</div>"
		    ischecked_fns.push(function(id,val) { return function() { if ($("#"+id)[0].checked) return val; } }(id,val) ); 
		}

		if (question.other) {
		    // add an "other" field
		    var other_response =
			responses && find_non_elements(responses,question.values).length > 0 ? find_non_elements(responses,question.values)[0] : "";
		    var other_id = group_name + "_val_" + question.values.length;
		    var defaultchecked = other_response ? "checked=\"true\"" : "";

		    result += "<div class=\"choice other\"><input type=\"checkbox\" name=\""+other_id+"\" id=\""+other_id+"\" value=\"Other\" "+defaultchecked+"> Other </input>";
		    var other_text_id = question.qid +"_other_input"
		    result += "<input class=\"othertextfield\" id=\""+other_text_id +"\" type=\"text\" value=\""+other_response+"\"></input>";
		    result +="</div>"
			 
		    handlers.push(function(group_name,question,other_id,other_text_id) {
			/* enables/disables "other" text field */
			return function() {
			    var cfn = function() {
				if ($("#"+other_id)[0].checked)
				    $("#"+other_text_id).attr("disabled",false);
				else
				    $("#"+other_text_id).attr("disabled",true);
			    };
			    for (var q_i = 0; q_i < question.values.length; q_i++) {
				var id =  group_name + "_" + q_i;
				$("#"+id).click(function() {
				    cfn();
				});
			    };
			    $("#"+other_id).click(cfn);
			    $("#"+other_id).ready(cfn)
			};
		    }(group_name,question,other_id,other_text_id));				  
		    other_fn = function(other_id,other_text_id) {
			return function() {
			    if ($("#"+other_id)[0].checked) {
				return $("#"+other_text_id).val();
			    }
			};
		    }(other_id,other_text_id);
		}
		
		question.getValue = function(val_fns,other_fn) {
		    return function() {
			var results = [];
			for (var vi = 0; vi < val_fns.length; vi++) {
			    if (val_fns[vi]() !== undefined) {
				results.push(val_fns[vi]());
			    }
			};
			if (other_fn && other_fn()) results.push(other_fn());
			return results.join("\n");
		    };
		}(ischecked_fns,other_fn);
	    }
	    result += "</div>"; // question response
	}
	result += "</div>"; // question
    }
    //console.log("result is " + result);
    parent.html(result);
    // run the handlers, which register event callbacks
    for (var hi = 0; hi < handlers.length; hi++) { handlers[hi](); } 
    return SURVEY_ELEMENTS;
};

function find_non_elements(lst, target) {
    // returns the elements of lst that is not in target
    var results = [];
    for (var ii = 0; ii < lst.length; ii++) {
	var el = lst[ii];
	if (target.indexOf(el) < 0) results.push(el);
    }
    return results;
};


function post_save(success_cont,error_cont ) {
    if (error_cont == undefined) {
	error_cont = function(data,status) {
	    setMessage(data.responseText);
	}
    }    
    var questions = [];
    for (var q_i = 0; q_i < SURVEY_ELEMENTS.length; q_i++) {
        var question = SURVEY_ELEMENTS[q_i];
	if (question.qid && question.getValue)
	    questions.push({qid: question.qid, response: question.getValue()});
    }
    var vals = { cookie: COOKIE, questions: YAHOO.lang.JSON.stringify(questions) };
    // submit query
    jQuery.ajax({ type:"POST",
		  url: SERVER_URL +"/jv3/post_survey/",
		  data:vals,
		  success: success_cont,
		  error: error_cont
		});
    
}
$(document).ready(function() {
    self.SURVEY_ELEMENTS = populateSurvey($("#questions"));
    $("#submit_button").click(function() {
        post_save(function(data,success) {
				  setMessage('Your survey has been saved. (' + new Date() + ')');
				  setTimeout(function() { setMessage('');  },10000);
	});
    });
    $("#donebutton").click(function() {
	function cont() {
	    var vals = { cookie: COOKIE };
	    jQuery.ajax({ type:"POST",
			  url: SERVER_URL +"/jv3/done_survey/",
			  data:vals,
			  success: function() {
			      $("#donebutton").fadeOut();
			      $("#submit_button").fadeOut();
			      setMessage("Survey saved! Thank you for participating in the study! You may now close this window.");
			      setTimeout(function() { window.document.location.href = "https://listit.nrcc.noklab.com"; },10000);
			  },
			  error: function(data,status) {
			      setMessage(data.responseText);
			  }
			});
	}
	post_save(cont,function(data,status) { setMessage(data.responseText); } );	
    });
});

var setMessage = function(s) {
    if (!s) { $("#message").fadeOut("slow") ; }
    else {
	$("#message").hide();
	$("#message").html(s);
	if (s.length > 0) $("#message").fadeIn("fast");    
    }
};
</script>
</head>

  <body style="margin: 0;">
    <center>
    <table width="700px" cellpadding="5px" cellspacing="0" border="0" id="main">
	<tr valign="top">
	<td>
	  <h1>list.it study exit survey</h1>
	  	  
	  <P>Please fill out the following survey.  You can save it using the save button below and resume it later at any time.</p

          <p>Your name: %(first_name)s %(last_name)s<br>
             Your email: %(email)s </p>
    
          <div id="questions"></div>

	     <P><h3>That's it!</h3>  <button name="donebutton" id="donebutton">Done! Save + close the survey</button></p>

	  </td>
	  </tr>
	  <div id="toolbar">
              <span id="message" style="color:#ff0000"></span> <span class="savebutton">Click here often ->  <button id="submit_button">Save survey</span></div>
          </div>
      </table>
    </center>
    <div id="note_shower"></div>
</body>
</html>
