{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block imports %}
{% endblock %}
{% block content %}
<div id="faq" style="font-size:14px">
<h1 style="margin-top:8px; margin-bottom:8px; font-size:4.5em">about</h1>
<div class="bodytext">
<a href="http://eyebrowse.csail.mit.edu/">Eyebrowse</a> allows you to record, visualize and share your web browsing
history in real-time.
<br /><br />
Eyebrowse is a firefox plugin that lets _you_ decide (and change your
mind) which web browsing trails you want to share to a public archive.
Eyebrows aggregates this information with other sharers' to show sites'
popularity and common navigation trails.  Eyebrowse shows this data in
the form of interesting and insightful visualizations that help you gain
personal insights into your browsing history and its relation to other
people's, as well as catching a glimpse of what <a href="http://www.computerworld.com/s/article/337791/What_Google_Knows_About_You">
Google knows about you</a>
<br /><br />
Currently, most web browsing data is collected by search engine
companies (Google, Microsoft, Alexa…), which is not available for public
domain research. Eyebrowse seeks to fill this gap by providing a public
repository of web trails. By making this data available, we hope to
support the creation of open public services that analyze and report
major trends on the web, services that support personalization of the
web through collaborative filtering and other crowd-sourcing techniques,
and other as-yet unimagined services that require a mass of data about
the world's interaction with the web.
<br /><br />
Check out the eyebrowse <a href="http://eyebrowse.csail.mit.edu/pulse/">pulse</a> or some <a href="http://eyebrowse.csail.mit.edu/profile/emax/">real</a>		
<a href="http://eyebrowse.csail.mit.edu/graph/zamiang/">live</a>
<a href="http://eyebrowse.csail.mit.edu/users/">profiles</a>
and <a href="http://eyebrowse.csail.mit.edu/search/">page stats</a> graphs, which are accessible
from any page via the plug-in.
<br /><br />
Eyebrowse is an open source project <a href="http://code.google.com/p/list-it/">hosted</a>
on Google Code implemented using
Django, Javascript and HTML5. It is actively seeking users for feedback
and beta testing.
<br /><br />
happy surfing!<br />
eyebrowse team<br />
http://eyebrowse.csail.mit.edu/
<br /><br />
please email us at <a href="mailto:eyebrowse@googlegroups.com">eyebrowse@googlegroups.com</a> with any questions
</div>
</div>
  {% endblock %}
