<!DOCTYPE html>
<html>
  <head>
    <title>eyebrowse | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/lib/img/favicon.ico">
    <style>
      @import url("/lib/css/reset-fonts-grids.css");
      @import url("/lib/css/eyebrowse.css");
    </style>
    <!--[if lt IE 7]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script><![endif]--><!--[if lt IE 8]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script><![endif]--><!--[if IE]><script type="text/javascript" src="/lib/js/excanvas.compiled.js"></script><![endif]-->
  </head>
  <body>
    <div id="header">
      <a href="/">
	<img src="/lib/img/smallbird.jpg" style="float:left; padding-left:8px; padding-right:8px; vertical-align:top"/></a>
      <a href="/">home</a>&nbsp; &nbsp;
      <a href="/eyebrowser">eyebrowser</a>&nbsp; &nbsp;
      <a href="/pulse">pulse</a>&nbsp; &nbsp;
      <a href="/users">users</a>
      {% if request_user %}
      <div id="usersettings">
	<a href="/profile/{{ request_user }}">{{ request_user }}</a>&nbsp; &nbsp;
<!-- one day	<a href="/lifestream">lifestream</a>&nbsp; &#124; &nbsp; -->
	<a href="/friends/manage/{{ request_user }}">your friends</a>&nbsp; &nbsp;
	<a href="/settings">settings</a>&nbsp; &nbsp;
	<a href="/help">help</a>&nbsp; &nbsp;
	<a href="/logout">logout</a>
      </div>
      {% else %}
      <div id="usersettings">
	<a href="/login/?next=/">sign in</a>&nbsp; &nbsp;
	<a href="/help">help</a>
	{% endif %} 
      </div>
    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>
	{{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
    <!--
    <div id="footer">
      <a href="/about">about</a>&nbsp; &#124; &nbsp;
      <a href="http://code.google.com/p/list-it/">google code</a>&nbsp; &#124; 
      <a href="/data/all_the_data.zip">download the data</a>&nbsp; &#124; &nbsp;
      {% if request_user %}
      <a href="my_eyebrowse_data.zip">download my data</a>&nbsp; &#124; &nbsp;
      {% endif %}
      <a href="/releases/eyebrowse.xpi"> download the plugin</a>
      <div style="margin-top:4px; line-height:15px;">created by: 
	<a href="http://www.zamiang.com/" style="text-decoration:none; font-size:1em;">Brennan Moore</a>, 
	<a href="http://people.csail.mit.edu/emax" style="text-decoration:none; font-size:1em;">Max Van Kleek</a> & 
	<a href="http://people.csail.mit.edu/karger/" style="text-decoration:none; font-size:1em;">David Karger</a><br />
	at MIT CSAIL</div>
      -->
    </div>
    <script src="/lib/js/jquery.min.js">
    </script>
    <script src="/lib/js/protocrock.js">
    </script>
    <script src="/lib/js/zamiang.js">
    </script>
    <script>
      jQuery.noConflict();
      "use strict"; // should enable strict for everything
      jQuery('#header a').each(
	  function(i,a){ 
	      if (jQuery(a).text() == '{% block name %}{% endblock %}'){ 
		  jQuery(a).addClass('selected')
	      }
	  });
    </script>
    {% block imports %}{% endblock %}
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-11204544-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
</html>
