<!DOCTYPE html>
<html>
  <head>
    <title>eyebrowse | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/lib/img/favicon.ico">
    <style>
      @import url("/lib/css/reset-fonts-grids.css");
      @import url("/lib/css/eyebrowse.css");
    </style>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE9.js"></script>
    <![endif]-->
    <script src="/lib/js/jquery.min.js">
    </script>
    <script src="/lib/js/zamiang.js">
    </script>
    <script>
      jQuery.noConflict();
    </script>
    {% block imports %}{% endblock %}
  </head>
  <body>
    <div id="header">
      {% if request_user %}
      <div id="usersettings">
	<a href="/eyebrowser">eyebrowser</a>&nbsp; &nbsp;
	<a href="/profile/{{ request_user }}">your profile</a>&nbsp; &nbsp;
	<a href="/settings" id="settings_button">settings</a>&nbsp; &nbsp;
	<a href="/help">help</a>&nbsp; &nbsp;
	<a href="/logout">logout</a>
      </div>
      {% else %}
      <div id="usersettings">
	<a href="/login/?next=/">sign in</a>&nbsp; &nbsp;
	<a href="/register">register</a>&nbsp; &nbsp;
	<a href="/releases/eyebrowse.xpi">download plugin</a>&nbsp; &nbsp;
	<a href="/help">help</a>
	{% endif %} 
      </div>
    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>
	{{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
    <script type="text/javascript">
      jQuery('#header a').each(      
	  function(i,a){       
	      if (jQuery(a).text() == '{% block name %}{% endblock %}'){ 
		  jQuery(a).addClass('selected')
	      }
	  });
    </script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-11204544-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
</html>
