{% extends "base.html" %}
{% block title %}20 Days{% endblock %}
{% block imports %}
<style>
  @import url("/lib/css/datepicker.css");
</style>
<script src="/lib/js/watchMeGraph.js">
</script>
<script src="/lib/js/datepicker.js">
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(canvas, windowWidth, windowHeight, timeZoneCorrect, endTime, zoom){
            var day = 86400000; // 1 day in ms
            this.canvas = canvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
            this.timeZoneCorrect = timeZoneCorrect;
            this.endDate = new Date(endTime);
            this.startDate = new Date(this.endDate.valueOf() - day);
            this.now = new Date().valueOf() + this.timeZoneCorrect;
            this.endTime = this.endDate.valueOf();
            this.startTime = this.startDate.valueOf();
            this.OGendTime = this.endDate.valueOf();
            this.OGstartTime = this.startDate.valueOf();
            this.marginLeft = 120;
            this.drawArray = [];
            
            this.newData = function getViews(startTime, endTime, viz){
				jQuery("#loadimg1").show();
                try {

                    jQuery.get("/get_views_user/{{ username }}/", {
								   from: startTime,
								   to: endTime
							   }, function(data){
								   jQuery("#loadimg1").hide();
								   if (data.code == 200) {
									   createTheWorld(data.results, startTime, endTime, viz);
								   }
								   else {
									   console.log("yaaaa!!!H!H!H!" + data.code + " ");
								   }
							   }, "json");
                } 
                catch (e) {
                    console.log(e);
                }
            }(this.endTime - zoom, this.endTime, this); // passing this around like a hot tomalie       
            var wwwBarsArray = [];
            function createTheWorld(newData, startTime, endTime, viz, windowWidth){
                var fooDate = "";
                var fooTotal = "";
                for (var i = 0; i < (zoom / day); i++) {
                    var fooData = newData.filter(function(view){
													 if (view.end < (endTime - (day * i)) && (view.start > (endTime - day - (day * i)))) {
														 return view;
													 }
												 });
                    wwwBarsArray[i] = newify(statusFactory, viz, {
												 startTime: endTime - day - (day * i),
												 endTime: endTime - (day * i),
												 xOffset: 0,
												 yOffset: 0,
												 marginTop: 25 * i + 11,
												 height: 20,
												 color: "#0000ff",
												 staticStatic: true,
												 data: fooData,
												 fooTxtX: ((getClientCords().width - viz.windowWidth)/2) // this plus 150 will center text over the mouse rather than having it to the left 
											 });
                    fooDate += new Date(wwwBarsArray[i].endTime).format('dddd, mmmm d') + "<br />";
                    fooTotal += function(){
                        var foo = 1;
                        for (var j = 0; j < wwwBarsArray[i].data.length; j++) {
                            foo += wwwBarsArray[i].data[j].end - wwwBarsArray[i].data[j].start;
                        }
                        return timeCounterLongAbv(foo / 1000) + "<br />";
                    }();
                }
                jQuery("#fooDate").html(fooDate);
                jQuery("#fooTotal").html(fooTotal);
                jQuery("#minDate").html("| " + (new Date(endTime - 86400000)).format('h:MM TT')); // maxDate minus 24 hours
                jQuery("#maxDate").html((new Date(endTime).format('h:MM TT')) + " |");
                jQuery("#minDateTwo").html("| " + (new Date(endTime - 86400000)).format('h:MM TT')); // maxDate minus 24 hours
                jQuery("#maxDateTwo").html((new Date(endTime).format('h:MM TT')) + " |");
            }
            this.isStatic = true; // does not move or make more ajax calls
            this.mainEvtHandlers = newify(evtHandlers, this);
            this.drawArray.push(wwwBarsArray);
            this.draw();
        },
        draw: function(){
			if (this.canvas !== undefined && this.canvas.getContext) {
                var ctx = this.canvas.getContext('2d');
                ctx.clearRect(0, 0, this.windowWidth, this.windowHeight);
                for (var i = 0; i < this.drawArray.length; i++) {
                    for (var k = 0; k < this.drawArray[i].length; k++) {
                        this.drawArray[i][k].draw();
                    }
                }
            }
            else {
                alert('You need Safari 4 or Firefox 3+ to see this.');
            }
        },
        getCanvas: function(){
            return this.canvas;
        },
        setDrawArray: function(p){
            this.drawArray = p;
        },		
		arrowBack: function(){
			var this_ = this;
			jQuery("#datepicker").val(new Date(this_.endTime - 860000000).format('mm/dd/yyyy'));
			self.viz = newify(WatchmeVisualisation, document.getElementById("main"), this_.windowWidth, this_.windowHeight, 0, this_.endTime - 860000000 , 1728000000);
		},
		arrowForward: function(){
			var this_ = this;
			jQuery("#datepicker").val(new Date(this_.endTime + 860000000).format('mm/dd/yyyy'));
			self.viz = newify(WatchmeVisualisation, document.getElementById("main"), this_.windowWidth, this_.windowHeight, 0, this_.endTime + 860000000 , 1728000000);
		}

    };

jQuery(document).ready(function(){
						   var currentDate = new Date();
						   
						   jQuery('#datepicker').DatePicker({
																format: 'm/d/Y',
																date: jQuery('#datepicker').val(),
																current: jQuery('#datepicker').val(),
																starts: 1,
																position: 'top',
																current: '2009-07-29',
																
																onBeforeShow: function(){
																	jQuery('#datepicker').DatePickerSetDate(jQuery('#datepicker').val(), true);
																},
																onChange: function(formated, dates){
																	var fooDate = jQuery.datepicker.formatDate("@", new Date(jQuery('#datepicker').DatePickerGetDate(true)));
																	if (fooDate > new Date().valueOf()) {
																		fooDate = new Date().valueOf();
																		jQuery('#datepicker').val(currentDate.format('mm/dd/yyyy'));
																		jQuery("#messageSent").show("slow");
																	}
																	else {
																		jQuery('#datepicker').val(formated);
																		self.viz = newify(WatchmeVisualisation, document.getElementById("main"), myWidth, myHeight, 0, parseInt(fooDate), 1728000000);
																		// 20 days 
																		jQuery("#messageSent").hide("slow");
																	}
																	jQuery('#datepicker').DatePickerHide();
																	
																}
															});
						   var myWidth = undefined;
						   var myHeight = undefined;
						   
						   myWidth = getClientCords().width - 410;// window.innerWidth - 400;
						   myHeight = 510;
						   document.getElementById("main").setAttribute("width", myWidth);
						   document.getElementById("main").setAttribute("height", myHeight);
						   jQuery("#maxDate").css("width", myWidth - 40);
						   jQuery("#maxDateTwo").css("width", myWidth - 40);
						   jQuery("#datepicker").val(currentDate.format('mm/dd/yyyy'));
						   
						   self.viz = newify(WatchmeVisualisation, document.getElementById("main"), myWidth, myHeight, 0, currentDate.valueOf(), 1728000000); // 20 days 1296000000); // 15 days  2592000000); // 30 days
					   });
</script>
{% endblock %}
{% block content %}
	<div class="loader" id="loadimg1"></div>
    <div id="profile_content" style="margin-top:10px; margin-left:20px;margin-bottom-0px;padding:0px;height:80px;">
        <img src="/profiles/{{ id }}.jpg" class="profileimage"/>
        <div class="userhead">
            <h1><a href="/profile/{{ username }}/">{{ username }}</a></h1>
            <br/>
            <div class="underuser">
                <a href="/graph/{{ username }}/">timeline</a>&nbsp; &#124; &nbsp;<a href="/days/{{ username }}/">20 days</a>&nbsp; &#124; &nbsp;<a href="/friends/{{ username }}/">friends</a>
            </div>
        </div>
	</div>
	<div id="dayHeading">
      <div class="centerLabel">
      </div>
      <div class="dateNav" style="display:inline-block; font-size:0.8em; color:#666666;">
        <div id="minDate" style="width:100px; display:inline-block">
        </div>
        <div id="maxDate" style="width:100px; display:inline-block; text-align:right; display:inline-block;">
        </div>
      </div>
      <div class="centerLabel" style="float:right;">
      </div>
	</div>
	<div id="fooDate" class="days" style="float:left; display:inline-block: width:100px">
	</div>
	<div id="fooTotal" class="days" style="float:right; display:inline-block:width:100px">
	</div>
	<canvas id="main">
	</canvas>
	<div class="fooTxt" id="fooTxt">
	</div>
	<br/>
	<div class="centerLabel">
	</div>
	<div class="dateNav">
      <div id="minDateTwo" style="width:100px; display:inline-block; margin-left:30px;">
      </div>
      <div id="maxDateTwo" style="width:100px; display:inline-block; text-align:right; display:inline-block;">
      </div>
	</div>
	<div id="dateselector">
	  <a href="javascript:self.viz.arrowBack()"><img src="/lib/img/arrow_sans_left_16.png" style="vertical-align:middle"/></a>
      <input id="datepicker" class="datepicker" value="06/14/2008" type="text" />
	  <a href="javascript:self.viz.arrowForward()"><img src="/lib/img/arrow_sans_right_16.png" style="vertical-align:middle"/></a>
      <div id="messageSent">
        robots do not know the future :( 
        <br/>
        &#8230;yet
      </div>
    </div>
</div>
{% endblock %}
