{% extends "base.html" %}
{% block title %}Your Friends{% endblock %}
{% block imports %}
<style>
  @import url("/lib/css/datepicker.css");
</style>
<script src="/lib/js/watchMeGraph.js">
</script>
<script src="/lib/js/canvas.text.js">
</script>
<script src="/lib/js/faces/helvetiker-normal-normal.js">
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(hrCanvas, wkCanvas, windowWidth, windowHeight, timeZoneCorrect, endTime, zoom, data, startDate){
            this.hrCanvas = hrCanvas;
            this.wkCanvas = wkCanvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
            this.endDate = new Date(endTime);
            if (startDate) {
                this.startDate = new Date(startDate + this.timeZoneCorrect);
                zoom = this.endDate - this.startDate;
            }
            else {
                this.startDate = new Date(this.endDate.valueOf() - zoom + this.timeZoneCorrect);
            }
            this.now = new Date(new Date().valueOf() + this.timeZoneCorrect);
            this.endTime = this.endDate.valueOf();
            this.startTime = this.startDate.valueOf();
            this.interp = zoom / 168;
            this.drag = undefined;
            this.zoom = zoom;
            this.marginLeft = 0;
            this.user = "{{ username }}";            
			this.initHrGraph(this.hrCanvas);
			this.initWkGraph(this.wkCanvas);
        },
        drawHrWkGraph: function(newData, viz){
			var graphArray = [];
			viz.drawArray = [];

			var hrWkGraph = newify(stackBarGraph, this_, {
									 xOffset: 0,
									 yOffset: 0,
									 padding:0,
									 marginTop: 25 * i + 18,
									 height: 20,
									 data: newData
								 });

			this_.graphArray.push(hrWkGraph);            
			viz.drawArray.push(graphArray);
            var mainEvtHandlers = newify(evtHandlers, viz);
        },
		initHrWkGraph: function(canvas, viz, getURL){
            var this_ = this;
			viz.canvas = canvas;
			viz.windowWidth = this_.windowWidth;
			viz.windowHeight = this_.windowHeight;

            try {
				jQuery("#loadimg").show();
                jQuery.get("/" + getURL + "/{{ username }}/", {
						   },
						   function(data){
							   jQuery("#loadimg").hide();
							   if (data.code == 200) {
								   this_.drawHrWkGraph(data.results, viz);
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
        },
        getCanvas: function(){
            return this.canvas;
        },
        setDrawArray: function(p){
            this.drawArray = p;
        }
    };
    
    
    jQuery(document).ready(function(){
        var myWidth = undefined;
        var myHeight = undefined;
        
        myWidth = 700;
        myHeight = 350;
        
        document.getElementById("byhour").setAttribute("width", myWidth);
        document.getElementById("byhour").setAttribute("height", myHeight);
        document.getElementById("byweek").setAttribute("width", myWidth);
        document.getElementById("byweek").setAttribute("height", myHeight);
        
        self.viz = newify(WatchmeVisualisation, document.getElementById("byhour"), document.getElementById("byweek"), myWidth, myHeight, 0, currentDate.valueOf(), 604800000 * 20); // 1 week * 20
    });
</script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div id="profile_content" style="width:950px; margin-left:auto;margin-right:auto">
  <h1 style="margin-left:130px;">Day by day</h1>
  <canvas id="byhour">
  </canvas>
  <div id="friendsThreeColumn">
	<div class="fooTxt" id="fooTxt">
	</div>
	<div id="fooDate" class="days" style="float:left; margin-left:15px; margin-right:0px;width:112px">
	</div>
	<div id="fooTotal" class="days" style="float:right; width:122px; margin-right:0px; margin-top:15px;line-height:25px;">
	</div>
	<canvas id="byweek"></canvas>			
  </div>
  <br />  
  <div class="user_page_top" style="width:700px; margin-left:auto;margin-right:auto;">
  </div>
  <div class="viewboxlarge" id="list" style="width:690px; margin-left:130px">
  </div>  
</div>
{% endblock %}
