{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block imports %}
{% endblock %}
{% block content %}
<div id="faq">
<h1>FAQ</h1>
<p class="question">im a question</p>
<p class="answer">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

<p class="question">im a question</p>
<p class="answer">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

<p class="question">im a question</p>
<p class="answer">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

<p class="question">im a question</p>
<p class="answer">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

<p class="question">im a question</p>
<p class="answer">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

</div>
{% endblock %}
