{% extends "base.html" %}
{% block title %}Your Friends{% endblock %}
{% block imports %}
<style>
  @import url("/lib/css/datepicker.css");
</style>
<script src="/lib/js/watchMeGraph.js"></script>
<script src="/lib/js/canvas.text.js"></script>
<script src="/lib/js/faces/helvetiker-normal-normal.js"></script>
<script src="/lib/js/datepicker.js"></script>
<script src="/lib/js/friends.js"></script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div id="profile_content" style="width:950px; margin-left:auto;margin-right:auto">
  <h1 style="margin-left:130px;">Friends</h1>
  <div id="dateselector" style="float:right;margin-right:90px; margin-top:12px; font-size:12px;">
    week ending:
    <input id="datepicker" class="datepicker" value="06/14/2008" type="text" style="font-size:12px"/>
    <img src="/lib/img/calendar_16.png" style="vertical-align:middle; margin-bottom:6px; margin-left:4px;"/>
    <div id="messageSent">
      robots do not know the future :( 
      <br/>
      &#8230;yet
    </div>
  </div>
  <canvas id="main">
  </canvas>
  <div id="friendsThreeColumn">
    <div class="fooTxt" id="fooTxt">
    </div>
    <div id="fooDate" class="days" style="float:left; margin-left:15px; margin-right:0px;width:112px">
    </div>
    <div id="fooTotal" class="days" style="float:right; width:122px; margin-right:0px; margin-top:15px;line-height:25px;">
    </div>
    <canvas id="status"></canvas>			
  </div>
  <br />  
  <div class="user_page_top" style="width:700px; margin-left:auto;margin-right:auto;">
    <div id="dateselector" style="float:right; margin-top:15px; width:193px; margin-right:0px;">
      week ending:
      <input id="datepickertop" class="datepicker" value="06/14/2008" type="text" style="font-size:12px;padding-top:4px; padding-left:6px; width:70px; height:18px; display:inline-block;"/>
      <img src="/lib/img/calendar_16.png" style="vertical-align:middle; margin-left:4px;"/>
      <div id="messageSent"  style="font-size:12px";>
	robots do not know the future :( 
        <br/>
        &#8230;yet
      </div>
    </div>
    <h2 style="border-top:none">top 25</h2>    
  </div>
  <div class="viewboxlarge" id="list" style="width:690px; margin-left:130px">
  </div>  
</div>
<div id="report" style="width:700px;">
  <div id="profile_content">
    <h2>following</h2>
    <div class="viewboxprofile">
      {% if following %}
      <ul class="friends">
	{% for friend in following %}
	<li><a href="/profile/{{ friend.username }}/">
	    {{ friend.username }}</a>
	  <h7><a href="/friend/unfollow/{{ username }}/?friend={{ friend.username }}"><img src="/lib/img/cancel_16.png" /></a></h7>
	</li>
	{% endfor %}
      </ul>
      {% else %}
      <p>are not following anyone :(</p>
      {% endif %}
    </div>
    <br />
    <h2>followers</h2>
    <div class="viewboxprofile">
      {% if followers %}
      <ul class="friends">
	{% for friend in followers %}
	<li><a href="/profile/{{ friend.username }}/">
	    {{ friend.username }}</a></li>
	{% endfor %}
      </ul>
      {% else %}
      <p>you have no followers :(</p> 
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}

