{% extends "base.html" %}
{% block title %}Friends for {{ username }}{% endblock %}
{% block imports %}
{% endblock %}
{% block content %}
<div id="report" style="width:700px;">
<div id="profile_content">
<h2>following</h2>
<div class="viewboxprofile">
{% if following %}
<ul class="friends">
{% for friend in following %}
<li><a href="/profile/{{ friend.username }}/">
{{ friend.username }}</a>
<h7><a href="/friend/unfollow/{{ username }}/?friend={{ friend.username }}"><img src="/lib/img/cancel_16.png" /></a></h7>
</li>
{% endfor %}
</ul>
{% else %}
<p>are not following anyone :(</p>
{% endif %}
</div>
<br />
<h2>followers</h2>
<div class="viewboxprofile">
{% if followers %}
<ul class="friends">
{% for friend in followers %}
<li><a href="/profile/{{ friend.username }}/">
{{ friend.username }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>you have no followers :(</p> 
{% endif %}
</div>


</div>
</div>
{% endblock %}
