{% extends "base.html" %}
{% block title %}ticker{% endblock %}
{% block imports %}
<style>
  @import url("/lib/css/datepicker.css");
  #latestviews h6 {
	  width: 420px;
  }
  #profile img {
	  width:14px;
	  height:14px;
  }
</style>
<script>
    var WatchmeVisualisation = {
        initialize: function(canvas, windowWidth, windowHeight, timeZoneCorrect, zoom){
            this.canvas = canvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
            this.timeZoneCorrect = timeZoneCorrect;
			this.now = new Date().valueOf();
            this.endDate = new Date();
            this.startDate = new Date(this.endDate.valueOf() - zoom);
            this.endTime = this.endDate.valueOf();
            this.startTime = this.startDate.valueOf();
            this.OGendTime = this.endDate.valueOf();
            this.OGstartTime = this.startDate.valueOf();
			this.newDataEnd = 0;
			this.recentID = 0;
			this.endTimeRecent = this.endTime;
            this.interp = zoom / 192;
            this.drag = undefined;
            this.zoom = zoom;
            this.getRecentPages(30);
            this.getTopUsers(this.startTime, this.endTime, 10);
	        this.getTopPages(this.startTime, this.endTime);
        },
		getProfile: function(startTime, endTime){
            try {
                jQuery.get("/get_global_profile_queries/", {
							   from: startTime,
							   to: endTime
						   }, function(data){
							   if (data.code == 200) {								   
								   var newData = data.results;
								   jQuery("#totalTime").html("<b>total time spent: </b> " + timeCounterLongAbv(newData.totalTime));
								   jQuery("#num").html("<b>total visits: </b>" + newData.number);
								   jQuery("#avgTime").html("<b>average time spent: </b>" + timeCounterLongAbv(newData.average));			
							   }
							   else {
								   //console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
               // console.log(e);
            }
		},
		getTopUsers: function(startTime, endTime, num){
            var this_ = this;
			jQuery("#loadimg").show();
			jQuery.get("/get_top_users/10/", {
						   from: this_.startTime,
						   to: this_.endTime,
						   num: num
					   }, function(data){
						   jQuery("#loadimg").hide();
						   if (data.code == 200) {
							   var newData = data.results;
							   jQuery("#topusers").html("");
							   for (var i = 0; i < newData.length; i++) {
								   if (newData[i].number > 0){
									   var html = "";
									   html += "<li style=\"width:170px; padding:6px\">";
									   html += "<h6><b><a href=\"/profile/" + newData[i].user +  "/\">" + newData[i].user + "</a></b></h6>";
									   html += "<br /><h7>" + newData[i].number + " webpages today</h7>";
									   html += "</li>";
									   jQuery("#topusers").append(html);									   
								   }
							   }
						   }
						   else {
							   console.log("yaaaa!!!H!H!H!" + data.code + " ");
						   }
					   }, "json");	
		},
        drawTopPagesList: function(data){
            var this_ = this;
            var newData = data;
            var html = "<ul>";
            for (var i = 0; i < 10; i++) {
                var trigger = true;
                html += "<li>";
                html += "<h6><b><a href=\"http://" + newData[i][0] + "\" style=\"width:50px;\">" + newData[i][0] + "</a></b></h6>";                
                if (newData[i][2] < 0) {
                    trigger = false;
                    html += "<div class=\"imgbox\">";
                    html += "<img src=\"/lib/img/arrow_full_down_16.png\" />";
                    html += "<b>" + newData[i][2] + "</b>";
                    html += "</div>";
                }
                if (newData[i][2] > 0) {
                    trigger = false;
                    html += "<div class=\"imgbox\">";		   
					html += "<img src=\"/lib/img/arrow_full_up_16.png\" />";                         
					html += "<b>" + newData[i][2] + "</b>";
					html += "</div>";
                }
                if (trigger) {
                    //html += "<div class=\"imgbox\">&nbsp;";
                    // html += "<img src=\"/lib/img/star_16.png\" />";
                    //html += "</div>";
                }
                //html += "<h7>" + timeCounterLong((newData[i][1]) / 1000) + "</h7>";
                html += "</li>";
            }
			html += "</ul>";
            jQuery("#topurls").html(html);
        },
        getTopPages: function(startTime, endTime, data){
            var this_ = this;
            try {
				jQuery("#loadimg").show();
                jQuery.get("/get_top_hosts_comparison_global/25/", {
							   first_start: startTime - 86400000,
							   first_end: endTime - 86400000,
							   second_start: startTime,
							   second_end: endTime
						   }, 
						   function(data){
							   jQuery("#loadimg").hide();
							   if (data.code == 200) {
								   this_.drawTopPagesList(data.results);
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
        },
        getRecentPages: function(num){
            var this_ = this;
			this_.getProfile(this_.startTime, this.endTimeRecent);
			jQuery("#loadimg").show();
			jQuery.get("/get_most_recent_urls/" + num + "/", {
						   id: this_.recentID
					   }, function(data){
						   jQuery("#loadimg").hide();
						   if (data.code == 200) {
							   var newData = data.results;
							   var html = "";
							   for (var i = newData.length -1; i >= 0; i--) {
								   html = "<li id=\"" + this_.endTimeRecent + i +  "\">";
								   if (newData[i].title){
									   html += "<h6><b><a href=\"" + newData[i].url + "\">" + newData[i].title + "</a></b></h6>";
								   }
								   else{
									   html += "<h6><b><a href=\"" + newData[i].url + "\">" + newData[i].url + "</a></b></h6>";
								   }
									   html += "<h7>" + timeCounterLong((this_.now - newData[i].end)/1000) + " <b>ago</b></h7>";
								   html += "</li>";
								   jQuery("#latestviews ul").prepend(html);
								   jQuery("#" + this_.endTimeRecent + i).slideDown("slow");
							   }
							   this_.recentID = newData[0].id;
						   }
						   else {
							  // console.log("yaaaa!!!H!H!H!" + data.code + " ");
						   }
					   }, "json");
        }
    };
jQuery(document).ready(function(){
						   var myWidth = undefined;
						   var myHeight = undefined;
						   
						   myWidth = window.innerWidth - 16;
						   myHeight = window.innerHeight - 250;

						   self.viz = newify(WatchmeVisualisation, document.getElementById("main"), 335, 200, 0, 86400000);// 12 hrs
						   setInterval("self.viz.getRecentPages(30)", 9000);
					   });
</script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div id="report">
  <img src="/lib/img/ajax-loader.gif" class="loader" />
  <div id="loading" class="loader"></div>
  <div id="profile">
    <div id="num" style="margin-top:30px;">
      <b>total visits:</b>
    </div>
    <div id="totalTime">
      <b>total time spent: </b>
    </div>
    <div id="avgTime">
      <b>average time spent:</b>
    </div>
	<h2 style="border-top:none">Top Domains</h2>
	<div class="viewboxright" id="topurls">
	</div>

    <h2>Top Users</h2>
	<div class="viewboxhome" id="topusers">
    </div>
  </div>
  <div id="profile_content">
    <div class="userhead">
      <h1>Ticker</h1>
    </div>
    <div class="viewboxprofile" id="latestviews" style="margin-top:-22px; border-top:1px solid lightgrey">
	<ul>
	</ul>
    </div>
  </div>
</div>
{% endblock %}
