{% extends "base.html" %}
{% block title %}Graphs{% endblock %}
{% block imports %}
<style>
  @import url("/lib/css/datepicker.css");
</style>
<script src="/lib/js/jquery.corner.js">
</script>
<script src="/lib/js/watchMeGraph.js">
</script>
<script src="/lib/js/canvas.text.js">
</script>
<script src="/lib/js/faces/helvetiker-normal-normal.js">
</script>
<script src="/lib/js/datepicker.js">
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(canvas, endTime, zoom){
            this.canvas = canvas;
            this.endDate = new Date(endTime);
            this.startDate = new Date(endTime - zoom);			
            this.now = new Date();
            this.endTime = this.endDate.valueOf();
            this.startTime = this.startDate.valueOf();
            this.OGendTime = this.endDate.valueOf();
            this.OGstartTime = this.startDate.valueOf();
            this.interp = zoom / 168;
            this.drag = undefined;
            this.zoom = zoom;
            this.drawArray = [];
            this.marginLeft = 0;
            this.user = "{{ username }}";
			this.swopGraph("day");
        },
		createTimeline:function(){
			jQuery('#graph').html("");
			jQuery('#graph').html("<canvas id=\"main\"></canvas>");

			jQuery('#dateselector').show();

            this.endTime = new Date().valueOf();
            this.startTime = this.endTime - 604800000; // 1 week
			
			this.startDate = new Date(this.startTime);
			this.endDate = new Date(this.endTime);

			this.windowWidth = getClientCords().width;
			this.windowHeight = window.innerHeight - 250;

	        jQuery("#dayNav").css('border-bottom', "1px double lightgrey");
	        jQuery("#20daysNav").css('border-bottom', "1px double lightgrey");
	        jQuery("#timelineNav").css('border-bottom', "3px solid black");

			document.getElementById("main").setAttribute("width", this.windowWidth);
			document.getElementById("main").setAttribute("height", this.windowHeight);
			
			this.drawArray = [];
			this.canvas = document.getElementById("main");
			this.isStatic = false; 
			
			var this_ = this;			
			
			jQuery("#loadimg1").show();
            try {
                jQuery.get("/get_views_user/{{ username }}/", {
							   from: this.startTime,
							   to: this.endTime
						   }, function(data){
							   jQuery("#loadimg1").hide();
							   if (data.code == 200) {
								   if (data.results.length > 0){							
									   var dateSliderArray = [];
									   var lineGraphArray = [];
									   var statusArray = [];
									   
									   var wwwBars = newify(statusFactory, this_, {
																startTime: this_.startTime,
																endTime: this_.endTime,
																xOffset: 0,
																yOffset: 0,
																marginTop: this_.windowHeight - 85,
																height: 20,
																color: "#0000ff",
																data: data.results,
																fooTxtY: 90
															});
									   statusArray.push(wwwBars);
									   
									   var todayGraph = newify(lineGraphFactory, this_, {
																   windowWidth: this_.windowWidth,
																   windowHeight: this_.windowHeight,
																   xOffset: 0,
																   yOffset: 0,
																   topPadding: 20,
																   padding: this_.windowHeight - 93,
																   color: "#00ffff",
																   dashed: false,
																   key: true,
																   avg: false,
																   data: data.results,
            													   label: "websites viewed"
															   });
									   lineGraphArray.push(todayGraph);
									   
									   var mainDateSlider = newify(dateSlider, this_, {
																	   windowWidth: this_.windowWidth,
																	   windowHeight: this_.windowHeight,
																	   xOffset: 0,
																	   yOffset: 0,
																	   padding: 55
																   });
									   dateSliderArray.push(mainDateSlider);
									   
									   this_.drawArray.push(lineGraphArray);
									   this_.drawArray.push(dateSliderArray);
									   this_.drawArray.push(statusArray);

									   var mainEvtHandlers = newify(evtHandlers, this_);
									   
									   this_.draw();
								   }
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		createDays: function(){
			this.windowWidth = getClientCords().width - 50;
			this.windowHeight = window.innerHeight - 279;

			var HTML = "";			
			HTML += "<div id=\"totalGraphKey\" style=\"color:#333; width:" + this.windowWidth/2 + "px;margin-top:15px; margin-bottom:8px;text-align:center; display: inline-block;\">top 20 urls each day of week</div>";
			HTML += "<div id=\"avgGraphKey\" style=\"color:#333; width:" + this.windowWidth/3 + "px; text-align:right; display: inline-block;\">top 20 urls per hour of day</div>";
			HTML += "<canvas id=\"main\"></canvas>";

			jQuery('#graph').html("");
			jQuery('#graph').html(HTML);
	
	        jQuery("#dayNav").css('border-bottom', "3px solid black");
	        jQuery("#20daysNav").css('border-bottom', "1px double lightgrey");
	        jQuery("#timelineNav").css('border-bottom', "1px double lightgrey");
			
			// no way to use this yet
			jQuery('#dateselector').hide();

            this.endTime = new Date().valueOf();
            this.startTime = this.endTime - 604800000; // 1 week
			
			document.getElementById("main").setAttribute("width", this.windowWidth);
			document.getElementById("main").setAttribute("height", this.windowHeight);
			
			this.drawArray = [];
			this.canvas = document.getElementById("main");
			this.isStatic = false; 
			
			var this_ = this;			
			
			jQuery("#loadimg1").show();
            try {
                jQuery.get("/get_hourly_daily_top_urls_user/{{ username }}/20/", {							   
						   }, function(data){
							   jQuery("#loadimg1").hide();
							   if (data.code == 200) {
								   if (data.results.length > 0){							
									   var graphArray = [];
									   var stackGraph = newify(stackBarGraph, this_, {
																   startTime: this_.startTime,
																   endTime: this_.endTime,
																   windowWidth: this_.windowWidth,
																   windowHeight: this_.windowHeight,
																   bottomPadding:30,
																   columnWidth:8,
																   barPadding:0,
																   textPadding:0,
																   data: data.results,
																   labelLeft: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', '  Friday', 'Saturday', 'Sunday'],
																   labelRight: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
															   });
									   graphArray.push(stackGraph);
									   
									   this_.drawArray.push(graphArray);
									   
									   var mainEvtHandlers = newify(evtHandlers, this_);
									   
									   this_.draw();
								   }
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		create20Days: function(){
			// DANGER LIES AHEAD
			var HTML = "<div id=\"dayHeading\">";
			HTML +=	"<div class=\"centerLabel\"></div>";
			HTML +=	"<div class=\"dateNav\" style=\"display:inline-block; font-size:0.8em; color:#666666;\">";
			HTML +=	"<div id=\"minDate\" style=\"width:100px; display:inline-block\"></div>";
			HTML +=	"<div id=\"maxDate\" style=\"width:100px; display:inline-block; text-align:right; display:inline-block;\"></div></div>";
			HTML +=	"<div class=\"centerLabel\" style=\"float:right;\"></div></div>";
			HTML +=	"<div id=\"fooDate\" class=\"days\" style=\"float:left; display:inline-block: width:100px\"></div>";
			HTML +=	"<div id=\"fooTotal\" class=\"days\" style=\"float:right; display:inline-block: width:100px\"></div>";
			HTML +=	"<canvas id=\"main\"></canvas>";
			HTML +=	"<div class=\"centerLabel\"></div>";
			HTML +=	"<div class=\"dateNav\">";
			HTML +=	"<div id=\"minDateTwo\" style=\"width:100px; display:inline-block; margin-left:30px;\"></div>";
			HTML +=	"<div id=\"maxDateTwo\" style=\"width:100px; display:inline-block; text-align:right; display:inline-block;\"></div></div>";
			// end massive danger zone

			jQuery('#graph').html("");
			jQuery('#graph').html(HTML);

			jQuery('#dateselector').show();

	        jQuery("#dayNav").css('border-bottom', "1px double lightgrey");
	        jQuery("#20daysNav").css('border-bottom', "3px solid black");
	        jQuery("#timelineNav").css('border-bottom', "1px double lightgrey");

            this.endTime = new Date().valueOf();
            this.startTime = this.endTime - 1728000000; // 20 days

			this.endDate = new Date(this.endTime);
			this.startDate = new Date(this.startTime);

			this.windowWidth = getClientCords().width - 410;
			this.windowHeight = 510;

			this.drawArray = [];
			
			jQuery("#maxDate").css("width", this.windowWidth - 40);
			jQuery("#maxDateTwo").css("width", this.windowWidth - 40);

			document.getElementById("main").setAttribute("width", this.windowWidth);
			document.getElementById("main").setAttribute("height", this.windowHeight);
			
			this.canvas = document.getElementById("main");
			
			var this_ = this;			
			jQuery("#loadimg1").show();
            try {
                jQuery.get("/get_views_user/{{ username }}/", {
							   from: this.startTime,
							   to: this.endTime
						   }, function(data){
							   jQuery("#loadimg1").hide();
							   if (data.code == 200) {
								   var fooDate = "";
								   var fooTotal = "";
								   var zoom = 1728000000; // 20 days
								   var day = 86400000; // 1 day 
								   var newData = data.results;
								   var wwwBarsArray = [];
								   for (var i = 0; i < (zoom / day); i++) {
									   var fooData = newData.filter(function(view){
																		if (view.end < (this_.endTime - (day * i)) && (view.start > (this_.endTime - day - (day * i)))) {
																			return view;
																		}
																	});
									   wwwBarsArray[i] = newify(statusFactory, this_, {
																	startTime: this_.endTime - day - (day * i),
																	endTime: this_.endTime - (day * i),
																	xOffset: 0,
																	yOffset: 0,
																	marginTop: 25 * i + 11,
																	height: 20,
																	color: "#0000ff",
																	staticStatic: true,
																	data: fooData,
																	fooTxtY: 90,
																	fooTxtX: ((getClientCords().width - viz.windowWidth)/2) - 50 // this plus 150 will center text over the mouse rather than having it to thoe left 
																});
									   fooDate += new Date(wwwBarsArray[i].endTime).format('dddd, mmmm d') + "<br />";
									   fooTotal += function(){
										   var foo = 1;
										   for (var j = 0; j < wwwBarsArray[i].data.length; j++) {
											   foo += wwwBarsArray[i].data[j].end - wwwBarsArray[i].data[j].start;
										   }
										   return timeCounterLongAbv(foo / 1000) + "<br />";
									   }();
								   }
								   jQuery("#fooDate").html(fooDate);
								   jQuery("#fooTotal").html(fooTotal);
								   jQuery("#minDate").html("| " + (new Date(this_.endTime - 86400000)).format('h:MM TT')); // maxDate minus 24 hours
								   jQuery("#maxDate").html((new Date(this_.endTime).format('h:MM TT')) + " |");
								   jQuery("#minDateTwo").html("| " + (new Date(this_.endTime - 86400000)).format('h:MM TT')); // maxDate minus 24 hours
								   jQuery("#maxDateTwo").html((new Date(this_.endTime).format('h:MM TT')) + " |");
								   
								   var mainEvtHandlers = newify(evtHandlers, this_);

								   this_.isStatic = true; // does not move or make more ajax calls
								   this_.drawArray.push(wwwBarsArray);
								   this_.draw();
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
			} 
			catch (e) {
				console.log(e);
			}
	
		},
        draw: function(){
            if (this.canvas !== undefined && this.canvas.getContext) {
                var ctx = this.canvas.getContext('2d');
                ctx.clearRect(0, 0, this.windowWidth, this.windowHeight);
                for (var i = 0; i < this.drawArray.length; i++) {
                    for (var k = 0; k < this.drawArray[i].length; k++) {
                        this.drawArray[i][k].draw();
                    }
                }
            }
            else {
                alert('You need Safari 4 or Firefox 3+ to see this.');
            }
        },
        refresh: function(endTime, startTime){
            var this_ = this;
            this_.endTime = endTime;
            this_.startTime = startTime;
            this_.OGendTime = endTime;
            this_.OGstartTime = startTime;
            

			if (this_.graph == "timeline"){
				this.updateTimeline();
			}
			if (this_.graph == "days"){
				this.updateDays();
			}
			if (this_.graph == "20days"){
				this.update20Days();
			}
        },
		updateTimeline: function(){
			var this_ = this;
			try {
				jQuery("#loadimg1").show();
                jQuery.get("/get_views_user/{{ username }}/", {
							   from: this.startTime,
							   to: this.endTime
						   }, function(data){
							   jQuery("#loadimg1").hide();
							   if (data.code == 200) {
								   if (data.results.length > 0) {
									   for (var i = 0; i < this_.drawArray.length; i++) {
										   for (var k = 0; k < this_.drawArray[i].length; k++) {
											   this_.drawArray[i][k].mouseUp({
																				 p: 0,
																				 newData: data.results
																			 });
										   }
									   }
								   }
								   this_.draw();									   
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }            
		},
		update20Days: function(){
			// not good but too much has to change to just manipulate all of it
			this.create20Days();
		},
		arrowBack: function(){
			var this_ = this;					
			jQuery("#datepicker").val(new Date(this_.endTime - 86400000).format('mm/dd/yyyy'));
			this_.refresh(this_.endTime - 86400000 , this_.startTime - 86400000);
		},
		arrowForward: function(){
			var this_ = this;
			jQuery("#datepicker").val(new Date(this_.endTime + 86400000).format('mm/dd/yyyy'));
			this_.refresh(this_.endTime + 86400000, this_.startTime + 86400000);
		},
        getCanvas: function(){
            return this.canvas;
        },
        setDrawArray: function(p){
            this.drawArray = p;
        },
		swopGraph: function(graph){
			var this_ = this;
			if (this_.graph != graph){
				this_.graph = graph;
				
				if (this_.graph == "timeline"){
					this.createTimeline();
				}
				if (this_.graph == "day"){
					this.createDays();
				}
				if (this_.graph == "20days"){
					this.create20Days();
				}
			}
		}
    };


jQuery(document).ready(function(){
						   jQuery(".imgborder").corner();
						   // init the datepicker
						   var currentDate = new Date();
						   jQuery("#datepicker").val(currentDate.format('mm/dd/yyyy'));
						   
						   jQuery('#datepicker').DatePicker({
																format: 'm/d/Y',
																date: jQuery('#datepicker').val(),
																current: jQuery('#datepicker').val(),
																starts: 1,
																position: 'top',
																current: '2009-07-29',
																
																onBeforeShow: function(){
																	jQuery('#datepicker').DatePickerSetDate(jQuery('#datepicker').val(), true);
																},
																onChange: function(formated, dates){
																	var fooDate = jQuery.datepicker.formatDate("@", new Date(jQuery('#datepicker').DatePickerGetDate(true)));
																	if (fooDate > new Date().valueOf()) {
																		fooDate = new Date().valueOf();
																		jQuery('#datepicker').val(currentDate.format('mm/dd/yyyy'));
																		jQuery("#messageSent").show("slow");
																	}
																	else {
																		jQuery('#datepicker').val(formated);
																		self.viz.refresh(parseInt(fooDate), parseInt(fooDate) - self.viz.zoom), jQuery("#messageSent").hide("slow");
																	}
																	jQuery('#datepicker').DatePickerHide();
																	
																}
															});						  
						   self.viz = newify(WatchmeVisualisation, document.getElementById("main"), currentDate.valueOf(), 604800000); // 1 week
					   });
</script>
{% endblock %}
{% block content %}
	<div class="loader" id="loadimg1"></div>

    <div id="profile_content" style="margin-top:10px; margin-left:20px;margin-bottom-0px;padding:0px;height:80px;">
	  {% if request_user %}
	  {% if not is_friend %}
	  {% ifnotequal request_user username %}
	  <a href="/friend/add?username={{ user.username }}" style="margin-left:11px; display:block;margin-bottom:-8px">follow <img src="/lib/img/accept_16.png" style="width:11px;height:11px;vertical-align:middle"/></a>
	  {% endifnotequal %}
	  {% endif %}
	  {% endif %}
	  {% if photo %}
	  <div class="imgborder" style="display:inline-block;">
		<img src="/profiles/{{ id }}.jpg" class="profileimage" />
	  </div>
	  {% endif %}
      <div class="userhead">
        <h1><a href="/profile/{{ username }}/">{{ username }}</a></h1>
        <br/>
        <div class="underuser">
		  <div id="dayNav" class="graphNavBtn" onClick="viz.swopGraph('day')" >
			Day by Day
		  </div>
		  <div id="timelineNav" class="graphNavBtn" onClick="viz.swopGraph('timeline')" >
			Timeline
		  </div>
		  <div id="20daysNav" class="graphNavBtn" onClick="viz.swopGraph('20days')" >
			20 Days 
		  </div>
        </div>
      </div>	  
	</div>

	</div>
	<div id="graph">
	</div>
	<div class="fooTxt" id="fooTxt">
	</div>
	<div id="fooDate">
	</div>
	<div id="dateselector">
	  <a href="javascript:self.viz.arrowBack()"><img src="/lib/img/arrow_sans_left_16.png" style="vertical-align:middle"/></a>
      <input id="datepicker" class="datepicker" value="06/14/2008" type="text"/>
	  <a href="javascript:self.viz.arrowForward()"><img src="/lib/img/arrow_sans_right_16.png" style="vertical-align:middle"/></a>
      <div id="messageSent">
        robots do not know the future :( 
        <br/>
        &#8230;yet
      </div>
    </div>
</div>
{% endblock %}
