{% extends "base.html" %}
{% block title %}help{% endblock %}
{% block imports %}
    <style>
    ul {
	border:0px;	
    }
    #popularsites li {
	border:0px;	
	padding-left:6px;
	font-size:11px;
	width:200px;
    }
    #home {
	margin-top:-64px;
	margin-right:38px;
	float:none;	  
    }
    #groups{
	width:430px;
	margin-left:30px;
	margin-top:19px;
	vertical-align:top;
    }
    input[type = checkbox] {
	margin:4.5px;
	margin-right:8px;
    }
    #lifestream{
    border-top:none;
    }
    </style>
    <script>      
      jQuery(document).ready(function(){
      jQuery('#nav').height(jQuery(document).height())
		       });
    </script>
    {% endblock %}
    {% block content %}    
    <div id="report" style="width:880px">      
      <div class="profile_edit" id="nav" style="width:auto; margin-right:50px; margin-top:50px; float:none" >
	<h2>
	  <div class="bold">About Eyebrowse</div>
	</h2>
	
	<div class="profile_edit" id="add_sites" style="border:none; float:right; margin-right:23px; margin-top:29px;">
	  <br />
	  <h2>quick links</h2>
	  <br />
	  <ul id="popularsites">
	    <li>
	      -  <a href="/releases/eyebrowse.xpi" style="text-decoration:none"><b>download the plugin</b></a>
	    </li>
	    <li>
	      - <a href="#newtab">newtab</a> 
	    </li>
	    <li>
	      -  <a href="#plugin">plugin</a> 
	    </li>
	    <li>
	      - <a href="#lifestream">lifestream</a>
	    </li>
	    <li>
	      - <a href="#pulse">pulse</a>
	    </li>
	    <li>
	      - <a href="#pathways">pathways</a>
	    </li>
	    <li>
	      - <a href="#yourprofile">profile</a>
	    </li>
	  </ul>
	</div>
	
	<div id="profleeditform" style="margin-top:52px; height:575px">
	  <div id="groups">
	    <h1>Summary</h1>
	    <br/>
	    <div class="bodytext">
	      Eyebrowse displays interesting and insightful
	      visualizations of your web browsing history to help you
	      discover new websites, gain personal insights and catch a
	      glimpse of what Google knows about you!
	    </div>
	    <p style="margin-top:12px; margin-left:4px; line-height:13.5px;">
	      <b>note:</b> eyebrowse does not require you to share
	      anything and will not share any activities without your
	      consent. Please see our <a href="/terms">data handeling policy</a>
	    </p>
	    <p style="margin-top:12px; margin-left:4px;">
	      if you have any questions please leave a <a href="#comment"><b>comment</b></a>
	    </p>
 	    <br />

	    <h2 id="newtab">newtab</h2>
            <div class="bodytext">	      
	      The 'newtab' page is accessed by clicking File ->
	      New Tab or by pressing command+t on the Mac. 
            </div>	    
	    <img src="/lib/img/newtab_1.jpg" style="margin-top:20px;"/>
            <div class="bodytext" style="width:620px; padding:10px">
	      In 'personal' mode the eyebrowse plugin will recommend
	      previously visitied pages and visualize your activity per hour,
	      your top sites and your top domains over the past 24
	      hours.
            </div>	    
	    <img src="/lib/img/newtab_2.jpg" style="margin-top:20px;"/>
            <div class="bodytext" style="width:620px; padding:10px">
	      In 'social' mode the 'newtab' page will recommend sites
	      to you and provide a ticker of the latest sites. Please
	      help us recommend sites to you by 'following' users you
	      like via their <a href="#yourprofile">'profile page'</a>
	      or by adding yourself to groups in
	      your <a href="/settings">'settings'</a> page.
            </div>	    
	    <br /><br />

	    <h2 id="lifestream">lifestream</h2>
            <div class="bodytext">	      
	      The lifestream page is accessed by going to File ->
	      New Tab or by pressing command + t on the Mac. 
            </div>	    
	    <div class="bodytext">
	      Due to Firefox security restrictions we cannot link to
	      the lifestream page from a url but you can access it and
	      bookmark it from <a href='#newtab'>newtab</a> page's footer.
	    </div>
	    <img src="/lib/img/lifestream.jpg" style="margin-top:20px;"/>
	    <br /><br />

	    <h2 id="pulse">Pulse</h2>
	    <div class="bodytext">
	      This is the eyebrowse pulse page. It gives you an
	      overview of everyone's recent web activity. Once signed
	      in, you can also see this page for just your web
	      activity or your friends web activity.
	    </div>
	    <img src="/lib/img/pulse.jpg" />
	    <br /><br />

	    <h2 id="pathways">Pathways</h2>
	    <div class="bodytext">
	      Pathways lets you input any URL and see a ranked list of
	      the most common sites visited before and after, visits
	      to the page by hour of day and day of week, and the
	      top visitors. By clicking on the small graph icon, you
	      may see follow the path from url to url.
	    </div>
	    <img src="/lib/img/pagestats.jpg" />
	    <br /><br />
	    <h2 id="yourprofile">profile</h2>
	    <div class="bodytext">
	      A profile page displays the last 15 pages viewed, graphs
	      of overall browsing activity by hour, day and week, and
	      top 10 sites.
	    </div>
	    <img src="/lib/img/profile.jpg" />
	    <br /><br />
	    <h2 id="plugin">plugin</h2>
	    <div class="bodytext">
	      The Eyebrowse Firefox plugin shows you which of your
	      friends spend the most time on the current URL, how many
	      friends have recorded that URL and a ranked list of the
	      most common sites visited before and after. Click the
	      graph icon in the plugin to visit
	      the <a href="#pathways">pathways page</a>. <a href="/releases/eyebrowse.xpi" style="text-decoration:none"><b>download the plugin</b></a>
	    </div>
	    <img src="/lib/img/plugin.jpg" style="margin-top:20px;"/>



	    <br /><br /><br />
	    <div id="comment"></div>
	    <div id="disqus_thread"></div><script type="text/javascript"
						  src="http://disqus.com/forums/eyebrowse/embed.js"></script><noscript><a href="http://eyebrowse.disqus.com/?url=ref">View
		the discussion
		thread.</a></noscript><a href="http://disqus.com"
					 class="dsq-brlink">comments powered
	      by <span class="logo-disqus">Disqus</span></a>

	  </div>
	</div>
      </div>
	  {% endblock %}
