{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block imports %}
<style>
.listItem {
    width: 320px;
    margin-left: 10px;
    padding-right: 0px;
} .listItem .imgBox {
    width: 44px;
    padding: 0px;
    margin: 0px;
    height: 14px;
} .listItem b {
    vertical-align: top;
    margin-left: 8px;
float:none;
} .listItem img {
    width: 14px;
    height: 15px;
} .listItem .imgBox {
    margin-top: 7px;
    font-size: 1.1em;
} .listItem h7{
float:none;
margin-top:3px;
} .viewboxlarge {
    width: 700px;
    height: auto;
    border: 0px solid lightgrey;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} .rightcolumn {
    display: inline-block;
    width: 360px;
} .leftcolumn {
    display: inline-block;
    width: 375px;
} .logo {
    font-size: 4.5em;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    padding-top: 8px;
} 
</style>
<script src="/lib/js/watchhome.js">
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(zoom){
            this.endTime = new Date().valueOf();
            this.startTime = this.endTime - zoom; // 12 hours
            this.zoom = zoom;
            
            this.getRecentPages();
            
            //  this.getTopUsers(this.startTime, this.endTime);
            this.getTopSites(this.endTime - zoom, this.endTime, zoom);
            this.getTrendingSites(this.endTime - zoom, this.endTime, zoom);
        },
        getRecentPages: function(){
            this_ = this;
            this_.endTime = new Date().valueOf();
            this_.startTime = this_.endTime - (this_.endTime - this_.startTime);// - 6600000; // DELETE THIS MINUS ITS FER TESTIN'
            jQuery.get("http://localhost:8000/get_most_recent_urls/5/", {
                from: this_.startTime,
                to: this_.endTime
            }, function(data){
                if (data.code == 200) {
                    var newData = data.results;
                    this_.data = newData;
                   for (var i = 0; i < newData.length; i++) {
                        var html = "";
                        html += "<div class=\"listItemSmall\">";
			html += "<h6><b><a href=\"http://" + newData[i].entity.id + "\">" + newData[i].title + "</a></b></h6>";
                        html += "<br /><h7>" + timeCounterLong((this_.endTime - newData[i].end) / 1000) + " ago by ";
                        html += "<a href=\"/user/" + newData[i].user + "/\">" + newData[i].user + "</a></h7>";
                        html += "</div>";
                        jQuery("#latestviews").prepend(html);
                        jQuery(".listItemSmall:first").slideDown("slow");
                    }
                }
                else {
                    console.log("yaaaa!!!H!H!H!" + data.code + " ");
                }
            }, "json");
        },
        drawTopSites: function(data){
            var this_ = this;
            var html = "";
            var newData = data;
            for (var i = 0; i < newData.length; i++) {
                var trigger = true;
                html += "<div class=\"listItem\">";
                html += "<h6><b><a href=\"http://" + newData[i][0] + "\">" + newData[i][0] + "</a></b></h6>";
                
                if (newData[i][2] < 0) {
                    trigger = false;
                    html += "<div class=\"imgBox\">";
                    html += "<img src=\"/lib/img/arrow_full_down_16.png\" class=\"thumb\" />";
                    html += "<b>" + newData[i][2] + "</b>";
                    html += "</div>";
                }
                if (newData[i][2] > 0) {
                    trigger = false;
                    html += "<div class=\"imgBox\">";
                    html += "<img src=\"/lib/img/arrow_full_up_16.png\" class=\"thumb\" />";
                    html += "<b>" + newData[i][2] + "</b>";
                    html += "</div>";
                }
                if (trigger) {
                    html += "<div class=\"imgBox\">&nbsp;";
                    // html += "<img src=\"/lib/img/star_16.png\" class=\"thumb\" />";
                    html += "</div>";
                }
                html += "<br /><h7><b>time spent:</b> " + timeCounterLong((newData[i][1]) / 1000) + "</h7>";
                html += "</div>";
            }
            return html;
        },
        getTopSites: function(startTime, endTime, zoom){
            var this_ = this;
            jQuery.get("http://localhost:8000/get_top_urls/15/", {
                first_start: startTime - zoom,
                first_end: endTime - zoom,
                second_start: startTime,
                second_end: endTime
            }, function(data){
                if (data.code == 200) {
                    var html = this_.drawTopSites(data.results);
                    jQuery("#topviews").html(html);
                }
                else {
                    console.log("yaaaa!!!H!H!H!" + data.code + " ");
                }
            }, "json");
        },
        getTrendingSites: function(startTime, endTime, zoom){
            var this_ = this;
            jQuery.get("http://localhost:8000/get_trending_urls/15/", {
                first_start: startTime - zoom,
                first_end: endTime - zoom,
                second_start: startTime,
                second_end: endTime
            }, function(data){
                if (data.code == 200) {
                    var html = this_.drawTopSites(data.results);
                    jQuery("#trendingviews").html(html);
                }
                else {
                    console.log("yaaaa!!!H!H!H!" + data.code + " ");
                }
            }, "json");
        },
    };
    jQuery(document).ready(function(){
        self.viz = newify(WatchmeVisualisation,  172800000); // 2 days  604800000); // 1 week 43200000); //one day  604800000); // 1 week //1296000000); // 2 weeks
        setInterval("self.viz.getRecentPages()", 3000);
    });
</script>
{% endblock %}
{% block content %}
<div id="home">
    <img src="http://zamiang.webfactional.com/lib/img/bird.jpg" />
    <div class="logo">
        eyebrowse
    </div>
    <br/>
    <h1>You are what you view</h1>
    <br/>
    <div class="viewbox" id="latestviews">
    </div>
    <div id="signUpFormContainer">
        <div id="signUpForm">
        <br/>
        We will only contact you about critical updates and not disclose your address to anyone outside our research group.
        </h3>
        <p id="validateTips" style="margin-top:8px; margin-bottom:-10px;">
            All form fields are required.
        </p>
        <fieldset>
            <form method="post" action=".">
                {{ form.as_p }}
                <input type="submit" value="register" id="registerSubmit" style="margin-top:10px;"/>
            </form>
        </fieldset>
	<div class="subhead" style="font-size:1em; margin-top:-8px; margin-bottom:10px;">
	  by registering you agree to the <a href="/terms/" style="font-size:1em">terms and conditions and data use policies</a>
	</div>
    </div>
    <div id="messageSent">
        thanks for registering!
    </div>
    <div id="signUpLink">
        Get Started
    </div>
</div>
<h4>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.<br />
<a href="/user/brennanmoore/">Brennan's profile</a>&nbsp;<a href="/user/electronicmax/">Emax's profile</a></h4>
<br/>
<div class="leftcolumn">
    <h2>top webpages today</h2>
    <div class="viewboxlarge" id="topviews">
    </div>
</div>
<div class="rightcolumn" style="width:340px;">
    <h2>trending webpages today</h2>
    <div class="viewboxlarge" id="trendingviews" style="width:340px;">
    </div>
</div>
{% endblock %}