{% extends "base.html" %}
{% block title %}track and share your web browsing activities{% endblock %}
{% block imports %}
<script src="/lib/js/watchMeGraph.js">
</script>
<script src="/lib/js/watchhome.js">
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(zoom, canvas, width, height){
            this.endTime = new Date().valueOf();
            this.startTime = this.endTime - zoom; // 12 hours
			this.endTimeRecent = this.endTime;
            this.now = new Date().valueOf();
            this.timeZoneCorrect = 0;
            this.zoom = zoom;
            this.canvas = canvas;
			this.width = width;
			this.height = height;
			this.windowHeight = height;
			this.windowWidth = width;
            this.getTopUsers(this.startTime, this.endTime, 10);
            this.getRecentPages(10, 3600000);
        },
		getGraphData: function(startTime, endTime, user){
			var this_ = this;
            jQuery.get("/get_views_user/" + user + "/", {
                           from: startTime,
                           to: endTime
                       }, function(data){
                           if (data.code == 200) {
							   if (data.results.length > 0){
								   this_.drawMiniGraph(data.results);								   
							   }
                           }						   
                       }, "json");
		},       
		getRecentPages: function(num, startBuffer){
            var this_ = this;
			this_.startTimeRecent = this_.endTimeRecent - startBuffer; // just for init to offset the time and make sure something comes in
            this_.endTimeRecent = new Date().valueOf();
			jQuery("#loadimg").show();
			jQuery.get("/get_most_recent_urls/" + num + "/", {
						   from: this_.startTimeRecent,
						   to: this_.endTimeRecent
					   }, function(data){
						   jQuery("#loadimg").hide();
						   if (data.code == 200) {
							   var newData = data.results;
							   this_.data = newData;
							   for (var i = 0; i < newData.length; i++) {
								   var html = "";
								   html += "<li>";
								   if (newData[i].title){
									   html += "<h6><b><a href=\"" + newData[i].url + "\">" + newData[i].title + "</a></b></h6>";
								   }
								   else {
									   html += "<h6><b><a href=\"" + newData[i].url + "\">" + newData[i].url + "</a></b></h6>";
								   }								   
								   html += "<br /><h7>" + timeCounterLong((this_.endTimeRecent - newData[i].end) / 1000) + " ago";
								   // would like to have this in here but username is not returned from the server right now
								   //  html += "by <a href=\"/user/" + newData[i].user + "/\">" + newData[i].user + "</a></h7>";
								   html += "</li>";
								   jQuery("#latestviews").append(html);
								   jQuery(".listItemSmall:first").slideDown("slow");
							   }
						   }
						   else {
							   console.log("yaaaa!!!H!H!H!" + data.code + " ");
						   }
					   }, "json");
        },
		getTopUsers: function(startTime, endTime, num){
            var this_ = this;
			jQuery("#loadimg").show();
			jQuery.get("/get_top_users/10/", {
						   from: this_.startTime,
						   to: this_.endTime,
						   num: num
					   }, function(data){
						   jQuery("#loadimg").hide();
						   if (data.code == 200) {
							   var newData = data.results;

							   // this will run get graph data for the top user
							   this_.getGraphData(this_.startTime, this_.endTime, newData[0].user);	
							   
							   for (var i = 0; i < newData.length; i++) {
								   var html = "";
								   html += "<li>";
								   html += "<h6><b><a href=\"/profile/" + newData[i].user +  "/\">" + newData[i].user + "</a></b></h6>";
								   html += "<br /><h7>" + newData[i].number + " webpages today</h7>";
								   html += "</li>";
								   jQuery("#topusers").prepend(html);
								   jQuery(".listItemSmall:first").slideDown("slow");
							   }
						   }
						   else {
							   console.log("yaaaa!!!H!H!H!" + data.code + " ");
						   }
					   }, "json");	
		},
		drawBG: function(data, startTime, endTime, viz){
			var this_ = this;
			var newData = data;
			var newStartTime = startTime;
			var newEndTime = endTime;
			var dateArray = [];
			var zoom = this_.zoom;
			var wwwBarsArray = [];
			var hour = 2900000; // fudged a litte 1 hour = 3600000
			var bg = {};
			bg.canvas = document.getElementById("bgcanvas");
			bg.windowHeight = window.innerHeight - 50;
			bg.windowWidth = getClientCords().width - 10;
			document.getElementById("bgcanvas").setAttribute("width", bg.windowWidth - 10);
			document.getElementById("bgcanvas").setAttribute("height",bg.windowHeight - 10);
			
			for (var i = 0; i < (zoom / hour); i++) {
                var fooData = newData.filter(function(view){
												// console.log(view.end + "    " + newEndTime + "    " + view.start);
												 if (view.end < (newEndTime - (hour * i)) && (view.start > (newEndTime - hour - (hour * i)))) {
													 return view;
												 }
											 });
				//console.log(fooData);
                wwwBarsArray[i] = newify(statusFactory, viz, {
											 canvas: bg.canvas,
											 windowHeight: bg.windowHeight,
											 windowWidth: bg.windowWidth,
											 startTime: newEndTime - hour - (hour * i),
											 endTime: newEndTime - (hour * i),
											 xOffset: 0,
											 yOffset: 0,
											 marginTop: 25 * i + 11,
											 height: 20,
											 color: "#00ff76",
											 staticStatic: true,
											 data: fooData,
											 noHover: true
										 });				
            }
			return wwwBarsArray;
		},
		drawMiniGraph: function(data){
			var this_ = this;
			var newData = data;
			this_.drawArray = [];
			this_.statusArray = [];
			this_.graphArray = [];
								
            var wwwBars = newify(statusFactory, this_, {
									 startTime: this_.startTime,
									 endTime: this_.endTime,
									 xOffset: 0,
									 yOffset: 0,
									 marginTop: 55,
									 height: 20,
									 color: "#00ff76",
									 staticStatic: true,
									 data: newData,
									 fooTxtY: 390,
									 fooTxtX: (getClientCords().width - 700)/2
 								 });
			this_.statusArray.push(wwwBars);

			var bgStatusArray = this_.drawBG(newData, this_.startTime, this_.endTime, this_);
			this_.statusArray = this_.statusArray.concat(bgStatusArray);

            var interpNum = 100; // ALARM yea this is number of points on graph
            // fix this. it should be dynamic or a variable
            var interp = (this_.endTime - this_.startTime) / interpNum;
            var count = (Math.floor((this_.endTime - this_.startTime) / interp));
            // format the data
            var ttData = []; // total time per count
            var avgDataNum = []; // number of websites
            var dateArray = function(){
                var foo = [];
                for (var i = 0; i < count; i++) {
                    foo[i] = this_.startTime + (interp * i);
                    // set all arrays to 0 so i can increment them
                    ttData[i] = 0;
                    avgDataNum[i] = 0;
                }
                return foo;
            }();
            // function to get total time on websites per time instance (ie count)
            for (var i = 0; i < newData.length; i++) {
                for (var j = 0; j < count; j++) {
                    if (j >= count) {
                        if (newData[i].start.valueOf() > dateArray[j]) {
                            ttData[j] += newData[i].end - newData[i].start;
                            avgDataNum[j] += 1;
                        }
                    }
                    else {
                        if ((newData[i].start.valueOf() > dateArray[j]) && (newData[i].start.valueOf() < dateArray[j + 1])) {
                            ttData[j] += newData[i].end - newData[i].start;
                            avgDataNum[j] += 1;
                        }
                    }
                }
            }
            
            var avgData = function(){
                var foo = [];
                for (var i = 0; i < count; i++) {
                    foo[i] = (ttData[i] / (avgDataNum[i] + 1));
                }
                return foo;
            }();

            var avgTimeG = newify(lineGraphFactoryLite, {
									  canvas: this_.canvas,
									  startTime: this_.startTime,
									  endTime: this_.endTime,
									  windowHeight: this_.windowHeight,
									  windowWidth: this_.windowWidth,
									  interp: (this_.endTime - this_.startTime) / interpNum,
									  color: "#ff00ff",
									  margintop: 30,
									  topPadding: 0,
									  fillGraph: true,
									  data: avgData
								  });
			this_.graphArray.push(avgTimeG);
            this_.drawArray.push(this_.statusArray);
            this_.drawArray.push(this_.graphArray);
            this_.isStatic = true; // does not move or make more ajax calls
            var mainEvtHandlers = newify(evtHandlers, this_);
		},
        draw: function(){
            if (this.canvas !== undefined && this.canvas.getContext) {
                var ctx = this.canvas.getContext('2d');
                ctx.clearRect(0, 0, this.windowWidth, this.windowHeight);
                for (var i = 0; i < this.drawArray.length; i++) {
                    for (var k = 0; k < this.drawArray[i].length; k++) {
                        this.drawArray[i][k].draw();
                    }
                }
            }
            else {
                alert('You need Safari 4 or Firefox 3+ to see this.');
            }
        },
		getCanvas: function(){
            return this.canvas;
        },
        setDrawArray: function(p){
            this.drawArray = p;
        }
    };
jQuery(document).ready(function(){
						   var myWidth = 680;
						   var myHeight = 80;
						   document.getElementById("main").setAttribute("width", myWidth);
						   document.getElementById("main").setAttribute("height", myHeight);
						   self.viz = newify(WatchmeVisualisation, 43200000, document.getElementById("main"), myWidth, myHeight); // 12 hrs 
						   setInterval("self.viz.getRecentPages(10, 0)", 30000);
					   });
</script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg">
</div>
<div class="fooTxt" id="fooTxt" >
</div>	
<div id="background">
    <canvas id="bgcanvas">
    </canvas>
</div>
<div id="profile_content" style="margin-top:0px; margin-left:auto;margin-right:auto;">
    <div class="logo">
        <img src="lib/img/eyebrowse.png" />
    </div><h1 style="font-size:28px; margin-left:10px;">visualize and share your web browsing activity</h1>
    <h4>eyebrowse is a firefox plugin that records and visualizes your web browsing activity so you can notice trends, self reflect and compare with your friends.</h4>
    <h4 style="margin-left:55px;">Using this plugin will help researchers better understand how people use the web so we can build better tools. Your information is recorded for research use only.</h4>
    <div id="signUpFormContainer">
        <div id="signUpForm">
            <div id="bodytext">
                We will only contact you about critical updates and not disclose your address to anyone outside our research group.
            </div>
            <p id="validateTips" style="margin-top:8px; margin-bottom:-10px;">
                All form fields are required.
            </p>
            <fieldset>
                <form method="post" action=".">
                    {{ form.as_p }}<input type="submit" value="register" id="registerSubmit" style="margin-top:10px;"/>
                </form>
            </fieldset>
            <div class="subhead" style="font-size:1em; margin-top:-8px; margin-bottom:10px;">
                by registering you agree to the <a href="/terms/" style="font-size:1em">terms and conditions and data use policies</a>
            </div>
        </div>
    </div>
    <div id="messageSent">
        thanks for registering!
    </div>
    <div id="signUpLink">
        Get Started
    </div>
    <canvas id="main" style="padding:0px;margin:0px;">
    </canvas>
    <div class="leftcolumn" style="width:340px;">
        <h2>now</h2>
        <div class="viewboxhome" id="latestviews">
        </div>
    </div>
    <div class="rightcolumn" style="width:340px; vertical-align:top">
        <h2>top users</h2>
        <div class="viewboxhome" id="topusers">
        </div>
    </div>
</div>
{% endblock %}
