{% extends "base.html" %}
{% block title %}List{% endblock %}
{% block imports %}
        <script src="/lib/js/jquery-1.3.2.min.js">
        </script>
        <script src="/lib/js/protocrock.js">
        </script>
        <script src="/lib/js/zamiang.js">
        </script>
        <script src="/lib/js/watchMeGraph.js">
        </script>
        <script>
            jQuery.noConflict();
        </script>
        <script>
           var animating = false;
            var lost_events = [];
            var reposbar2 = function(){
                var h = 50; //jQuery("#hai").top();
                if (h == 0) {
                    setTimeout(reposbar2, 100);
                }
                animating = true;
                jQuery("#hai").animate({
                    top: jQuery(window)[0].scrollY + h - 20
                }, 200, "linear", function(){
                    animating = false;
                    if (lost_events.length > 0) {
                        lost_events = [];
                        reposbar2();
                    }
                });
            };
                        
            var WatchmeVisualisation = {
                initialize: function(zoom){
                    this.endDate = new Date(new Date().valueOf());
                    this.startDate = new Date(this.endDate.valueOf() - zoom);
                    this.endTime = this.endDate.valueOf();
		    this.startTime = this.startDate.valueOf();
		    this.now = new Date().valueOf();
                    this.interp = zoom / 192;
                    this.zoom = zoom;
                    
		    this.getPages(this.startTime, this.endTime);
                },
                drawPagesList: function(data){
                    jQuery("#list").hide();
		    var this_ = this;
                    
                    var newData = data;
                    
                    var html = "";
                    for (var i = 0; i < data.length; i++) { //newData.length; i++) {
                        html += "<div class=\"listItem\">";
                        html += "<h5><a href=\"" + newData[i].id + "\">" + newData[i].title + "</a></h5>";
                        //html += "<h6><a href=\"http://" + newData[i].host + "\">" + newData[i].host + "</a></h6>";
                        html += "<h7>time spent: " + timeCounterLong((this_.now - newData[i].value) / 1000) + "</h7>";
                        html += "</div>";
                    }
                    jQuery("#list").html(html);
                    jQuery("#list").slideDown("slow");
                },
                getPages: function(startTime, endTime){
		  // uses the django model get_top_pages to return top pages between start and endtime
		  this_ = this;
		  try {
		    jQuery.get("http://localhost:8000/get_top_pages/{{ user.username }}/200/", {from: startTime, to: endTime},
			       // this gets top 100 pages
			       function(data) {
				 if (data.code == 200) {			       
				   this_.drawPagesList(data.results);	
				   this_.data = data.results;

				   // prolly shouldnt be in here
				   // but it should run at this time
				   // shows total web viewed and average webviewd
				   var fooTotal = 0;
				   for (var i = 0; i < this_.data.length; i++) {
				     fooTotal += this_.data[i].end - this_.data[i].start;
				   }				   
				   jQuery("#totalTime").html("total: " + timeCounterLongAbv(fooTotal / 1000));
				   jQuery("#avgTime").html("average: " + timeCounterLongAbv((fooTotal / (this_.data.length * 2)) / 1000));				   
				 } else {
				   console.log("yaaaa!!!H!H!H!" + data.code + " ");
				 }
			       }, "json");	
		  } catch(e) {
		    console.log(e);
		  }
		},
                sortByTime: function(){
                    var newData = this.data.objSort("value", -1, "id");
                    this.drawPagesList(newData);
                },
                sortByName: function(){
                    var newData = this.data.objSort("title", "id");
                    this.drawPagesList(newData);
                },
                sortByDomain: function(){
                    var newData = this.data.objSort("host", "id");
                    this.drawPagesList(newData);
                }
            };
            
            jQuery(document).ready(function(){
                // init the float dude
                var callreposbar = function(){
                    if (animating) {
                        lost_events.push('hai');
                    }
                    else {
                        reposbar2();
                    }
                };
                jQuery(window).scroll(function(){
                    callreposbar();
                });
                jQuery(window).resize(callreposbar);
                jQuery(document).resize(callreposbar);
                
                reposbar2();
                
                var myWidth = undefined;
                var myHeight = undefined;
                
                myWidth = window.innerWidth - 16;
                myHeight = window.innerHeight - 250;
                
                self.viz = newify(WatchmeVisualisation, 648000000); //1296000000);
            });                   
 </script>
{% endblock %}
{% block content %}
	    <div id="report">
        <div id="hai" class="bottombar">
            <h1>{{ user.username }}</h1>
            <div id="infoz">
                <div id="totalTime">
                </div>
                <div id="avgTime">
                </div>
                filter by: 
                <br/>
            </div>
        </div>

<div id="profile_content">

        <div id="listNav" style="margin:0px">
            sort: <a href="#name" onclick="window.viz.sortByName()">name</a>&nbsp | &nbsp<a href="#domain" onclick="window.viz.sortByDomain()">domain</a>&nbsp | &nbsp<a href="#time" onclick="window.viz.sortByTime()">time spent</a>
        </div>
	    <div id="list" style="margin-left:5px">
    </div>
</div>
{% endblock %}
