{% extends "base.html" %}
{% block title %}lifestream{% endblock %}
{% block imports %}
<style>
  @import url("/lib/css/datepicker.css");
</style>
<script src="/lib/js/ui-utils.js"></script>
<script src="/lib/js/ui-init.js"></script>
<script src="/lib/js/stacktime.js"></script>
<script src="/lib/js/nodeviz.js"></script>
<script src="/lib/js/barstack.js"></script>
<script type="application/javascript;version=1.8">
  jQuery(document).ready(function(){		
			       netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect UniversalBrowserRead");
			       var JV3 = Components.classes['@electronic.max/listit;1'].getService().wrappedJSObject;
			       self.JV3 = JV3;
			       
			       self.viz = newify(lifestream, document.getElementById("main"));
			   });
     </script>
{% endblock %}
{% block content %}
    <div class="loader" id="loadimg"></div>
    <div id="hoverTxt"></div>
    <div id="profile_content" style="width:98%">
      <h1>lifestream</h1>
      <a href="addfeeds" style="float:right; margin-top:17px; font-size:14px;">add feeds</a>
      <div id="lifestream">
	<div class="btn" onClick="viz.swopGraph(this)" >
	  timeline 
	</div>	
	<div class="btn" onClick="viz.swopGraph(this)" >
	  locations
	</div>
	<div class="btn" onClick="viz.swopGraph(this)" >
	  explorer
	</div>
      </div>
    <canvas id="main"></canvas>
    </div>
{% endblock %}
