{% extends "base.html" %}
{% block title %}preferences{% endblock %}
{% block imports %}
{% endblock %}
{% block content %}
<div id="faq">
<h1>this is where i explain everything reeaaaallly clearly</h1>
this is a project by
  <a href="http://scruffy.csail.mit.edu/emax/" style="font-size:11px; text-decoration:none;">Max Van Kleek</a> :: <a href="mailto:electronic@gmail.com" style="font-size:11px; text-decoration:none">electronic@gmail.com</a>
  <br/> &
  <a href="http://www.zamiang.com/" style="font-size:11px; text-decoration:none;">Brennan Moore</a> :: <a href="mailto:brennanmoore@gmail.com" style="font-size:11px; text-decoration:none;">brennanmoore@gmail.com</a>

  
</div>
  {% endblock %}
