{% extends "base.html" %}
{% block title %}your profile{% endblock %}
{% block imports %}
{% endblock %}
{% block content %}
<div id="report">
  <div id="profile_edit">
<h2>Edit Your Profile</h2>
{% include 'profile_save_form.html' %}
<br />
<h2>Friends</h2>
{% if friends %}
<ul class="friends">
{% for friend in friends %}
<li><a href="/user/{{ friend.username }}/">
{{ friend.username }}</a></li>
{% endfor %}
</ul>
{% else %}
<p style="padding:8px">you have no friends :(</p>
{% endif %}
<a href="/friend/invite/">Invite a friend!</a>
</div>
<div id="profile_content">
    <img src="/uploads/{{ user.id }}.jpg" />
    <h1>{{ user.username }}</h1><br />
    <a href="/user/{{ user.username }}">view your profile</a>
  <br/>
    <div id="listNav">
    <a href="#top10" onclick="window.viz.list()">list</a>
    </div>
    <div id="list">  
    </div>
<br />
  whitelist
{% for www in wwwlist %}
  <a href="{{ www.name }}">{{ www.name }}</a>
{% endfor %}
<br />
 </div>
</div>
{% endblock %}