{% extends "base.html" %}
{% block title %}your profile{% endblock %}
{% block imports %}
<style>
    .listItem {
        width: 650px;
        display: none;
    }
</style>
<script src="/lib/js/jquery-1.3.2.min.js">
</script>
<script src="/lib/js/protocrock.js">
</script>
<script src="/lib/js/zamiang.js">
</script>
<script>
    jQuery.noConflict();
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(canvas, windowWidth, windowHeight, timeZoneCorrect, zoom){
            this.canvas = canvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
            this.timeZoneCorrect = timeZoneCorrect;
            this.now = new Date().valueOf();
            this.endDate = new Date(new Date().valueOf());
            this.startDate = new Date(this.endDate.valueOf() - zoom);
            this.endTime = this.endDate.valueOf();
            this.startTime = this.startDate.valueOf();
            this.interp = zoom / 192;
            this.drag = undefined;
            this.zoom = zoom;
            
            this.getTopPages(this.endTime - zoom, this.endTime);
        },
        drawTopPagesList: function(data){
            var this_ = this;
            var newData = data;
            var html = "";
            for (var i = 0; i < newData.length; i++) {
                html += "<div class=\"listItem\">";
                // this should display titles of pages, not raw urls
                html += "<h6><b><a href=\"http://" + newData[i].entity.id + "\">" + newData[i].entity.id + "</a></b></h6>";
                html += "<h7>" + timeCounterLong((this_.now - newData[i].end) / 1000) + " <b>ago</b></h7>";
                html += "</div>";
                jQuery("#list").prepend(html);
                jQuery(".listItem:first").slideDown("slow");
            }
            // jQuery("#list").html(html);		  
        },
        getTopPages: function(startTime, endTime, data){
            this_ = this;
            try {
                jQuery.get("http://localhost:8000/get_users_most_recent_urls/{{ user.username }}/25/", {
                    from: startTime,
                    to: endTime
                }, function(data){
                    if (data.code == 200) {
                        this_.drawTopPagesList(data.results);
                    }
                    else {
                        console.log("yaaaa!!!H!H!H!" + data.code + " ");
                    }
                }, "json");
            } 
            catch (e) {
                console.log(e);
            }
        }
    };
    jQuery(document).ready(function(){
        var myWidth = undefined;
        var myHeight = undefined;
        
        myWidth = window.innerWidth - 16;
        myHeight = window.innerHeight - 250;
        
        // need to query to get most recent items, not necissarily between a certain time
        self.viz = newify(WatchmeVisualisation, document.getElementById("main"), 335, 200, 0, 86400000); //one day  604800000); // 1 week //1296000000); // 2 weeks
    });
</script>
{% endblock %}
{% block content %}
<div id="report">
    <div id="profile_edit">
        <h2>Edit Your Profile</h2>
        {% include 'profile_save_form.html' %}
        <br/>
        <h2>Friends</h2>
        {% if friends %}
        <ul class="friends">
            {% for friend in friends %}
            <li>
                <a href="/user/{{ friend.username }}/">{{ friend.username }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p style="padding:8px">
            you have no friends :(
        </p>
        {% endif %}<a href="/friend/invite/">Invite a friend!</a>
        <br/>
        <a href="/settings/{{ user.username }}/">edit your privacy settings</a>
    </div>
    <div id="profile_content">
        <img src="/uploads/{{ user.id }}.jpg" /><h1><a href="/user/{{ user.username }}/">{{ user.username }}</a></h1>
        <br/>
        <div id="list">
        </div>
    </div>
</div>
{% endblock %}