{% extends "base.html" %}
{% block title %}pulse{% endblock %}
{% block imports %}
<style>
	.viewboxhome h6{
		margin-bottom:31px;
        overflow:hidden;
        height:15px;
        width:250px;
	}
    .viewboxhome .leftside{
        text-align:right;
    } 
	#profile{
		float:none;
		display:inline-block;
		width:240px;
		margin:0px;
		padding:0px;
		vertical-align:top;
		margin-bottom:15px;
		line-height: 1.2em;
		font-size:1.05em;
		margin-top:-10px;
	}
	#profile a{		
		font-size:1.05em;
		font-weight:normal;
	}	
	#profile img{
		width:14px;
		height:14px;
	}
	#profile li{
		padding-right:0px;	
  width:204px;
		margin-top:5px;
	}#profile ul{
		margin-top:10px;
		margin-left:8px;
	}#profile h7{
		font-size:0.8em;
	}.imgbox{
		display:inline-block;
		float:right;	
		text-align:left;
		width:45px;
	}
</style>
<script src="/lib/js/watchMeGraph.js">
</script>
<script src="/lib/js/canvas.text.js">
</script>
<script src="/lib/js/faces/helvetiker-normal-normal.js">
</script>
<script>
    jQuery.noConflict();
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(canvas, windowWidth, windowHeight, timeZoneCorrect, zoom) {
            this.canvas = canvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
            this.timeZoneCorrect = timeZoneCorrect;
			this.now = new Date().valueOf();
            this.endTime = this.now;
            this.startTime = new Date(this.endTime - zoom).valueOf();
            this.interp = zoom / 192;
            this.drag = undefined;
            this.zoom = zoom;
			this.recentTimesArray = [];
			this.recentID = 0;
			this.type = "global";
			document.getElementById("bgcanvas").setAttribute("width", this.windowWidth);
			document.getElementById("bgcanvas").setAttribute("height", this.windowHeight);
			this.getPage(this.type);
		},
		getPage: function(type){
			this.type = type;
			this.recentID = 0;
            this.getProfile(type);			
            this.getRecentPages(30, type);

		},
        getRecentPages: function(num, type){
            var this_ = this;
			this_.now = new Date().valueOf();
			jQuery("#loadimg1").show();
			jQuery.get("/get_latest_views", {
						   id: this_.recentID,
						   type: type,
						   num: num,
						   username: '{{ request_user }}'
					   }, function(data){
						   jQuery("#loadimg1").hide();
						   if (data.code == 200) {
							   var newData = data.results;
							   var html = "";
							   for (var i = newData.length -1; i >= 0; i--) {
								   html = "<li id=\"" + newData[i].end + "\">";
								   if (newData[i].title){
									   html += "<h6><b><a href=\"" + newData[i].url + "\">" + newData[i].title.trim(30) + "</a></b></h6>";
								   }
								   else{
									   html += "<h6><b><a href=\"" + newData[i].url + "\">" + newData[i].url.trim(30) + "</a></b></h6>";
								   }
								   html += "<h7>" + timeCounterClock((this_.now - newData[i].end)/1000) + " <b>ago</b></h7>";
								   if (newData[i].user.length > 0) {
									   html += "<br />&nbsp; &nbsp; <a href=\"/profile/" + newData[i].user + "\" style=\"font-weight:normal; font-size:0.8em; display:inline-block\">by " + newData[i].user + "</a>";
								   }
								   html += "</li>";
								   jQuery("#latestviews").prepend(html);
								   jQuery("#" + newData[i].end).slideDown("slow");

								   // keep track of times displayed and hide old ones
								   this_.recentTimesArray.unshift(newData[i].end);
								   if (this_.recentTimesArray.length > num){
									   jQuery("#" + this_.recentTimesArray[num + 1]).hide();
									   this_.recentTimesArray.pop();   
								   }
							   }
							   this_.recentID = newData[0].id;
						   }
						   else {
							  // console.log("yaaaa!!!H!H!H!" + data.code + " ");
						   }
					   }, "json");
        },
		getProfile: function(type){
			var this_ = this;
			jQuery("#loadimg").show();
			try {
				jQuery.get("/get_pulse", {
							   from: this_.startTime,
							   to: this_.endTime,
							   num: Math.floor((this_.windowWidth/10)*(this_.windowHeight/10)),
							   type: type
						   }, function(data){
							   if (data.code == 200) {										   
								   var newData = data.results;
								   jQuery("#user").css("font-weight","lighter");
								   jQuery("#friends").css("font-weight","lighter");
								   jQuery("#global").css("font-weight","lighter");
								   jQuery("#" + type).css("font-weight","bold");

								   this_.drawProfile(data.results[0]);
								   this_.drawMiniGraph(data.results[2]);
								   this_.drawBG(data.results[1]);
								   this_.drawTopPagesList(data.results[3]);
								   this_.drawTopDomains(data.results[4]);

								   jQuery("#loadimg").hide();
							   }
							   else {
								   //console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
			} 
			catch (e) {
				// console.log(e);
			}
		},
		drawProfile: function(data){
			var newData = data;
			jQuery("#totalTime").html("&nbsp; &#124; &nbsp;<b>total time: </b> " + timeCounterLongAbv(newData.totalTime));
			jQuery("#num").html("<b>visit count: </b>" + newData.number);
			jQuery("#avgTime").html("&nbsp; &#124; &nbsp;<b>avg time per visit: </b>" + timeCounterLongAbv(newData.average));
		},
        drawTopPagesList: function(data){
            var this_ = this;
			var html = "";

			jQuery("#pages").hide();
			jQuery("#trending").hide();
			for (var i = 0; i < data.top.length; i++) {
				var trigger = true;
				html += "<li>";
				if (data.top_titles[i]){
					html += "<h6><b><a href=\"" + data.top[i][0] + "\" style=\"width:50px;\">" + data.top_titles[i].trim(22) + "</a></b></h6>";                						
				} else {
					html += "<h6><b><a href=\"" + data.top[i][0] + "\" style=\"width:50px;\">" + data.top[i][0].trim(22) + "</a></b></h6>";                						
				}
				if (data.top[i][2] < 0) {
					trigger = false;
					html += "<div class=\"imgbox\">";
					html += "<img src=\"/lib/img/arrow_full_down_16.png\" style=\"float:left\"/>";
					html += "<b>" + data.top[i][2] + "</b>";
					html += "</div>";
				}
				if (data.top[i][2] > 0) {
					trigger = false;
					html += "<div class=\"imgbox\">";		   
					html += "<img src=\"/lib/img/arrow_full_up_16.png\" style=\"float:left\"/>";                         
					html += "<b>" + data.top[i][2] + "</b>";
					html += "</div>";
				}
				if (trigger) {
					// foo
				}
				html += "</li>";
			}

			html = "";
			for (var i = 0; i < data.trending.length; i++) {
				var trigger = true;
				html += "<li>";
				if (data.tre_titles[i]){
					html += "<h6><b><a href=\"" + data.trending[i][0] + "\" style=\"width:50px;\">" + data.tre_titles[i].trim(21) + "</a></b></h6>";                						
				} else {
					html += "<h6><b><a href=\"" + data.trending[i][0] + "\" style=\"width:50px;\">" + data.trending[i][0].trim(21) + "</a></b></h6>";                						
				}
				if (data.trending[i][2] < 0) {
					trigger = false;
					html += "<div class=\"imgbox\">";
					html += "<img src=\"/lib/img/arrow_full_down_16.png\" style=\"float:left\"/>";
					html += "<b>" + data.trending[i][2] + "</b>";
					html += "</div>";
				}
				if (data.trending[i][2] > 0) {
					trigger = false;
					html += "<div class=\"imgbox\">";		   
					html += "<img src=\"/lib/img/arrow_full_up_16.png\" style=\"float:left\"/>";                         
					html += "<b>" + data.trending[i][2] + "</b>";
					html += "</div>";
				}
				if (trigger) {
					// foo
				}
				html += "</li>";
			}
			jQuery("#pages").html(html);					   			
			jQuery("#trending").html(html);					   			
			jQuery("#pages").slideDown('slow');
			jQuery("#trending").slideDown('slow');
        },
		drawTopDomains: function(data){
			var this_ = this;
			var html = "";
			jQuery("#domains").hide();
			for (var i = 0; i < data.length; i++) {
				if (typeof(data[i][1]) != 'undefined'){
					var trigger = true;
					html += "<li>";
					html += "<h6><b><a href=\"http://" + data[i][0] + "\" style=\"width:50px;\">" + data[i][0].trim(22) + "</a></b></h6>";                
					if (data[i][2] < 0) {
						trigger = false;
						html += "<div class=\"imgbox\">";
						html += "<img src=\"/lib/img/arrow_full_down_16.png\" style=\"float:left\"/>";
						html += "<b>" + data[i][2] + "</b>";
						html += "</div>";
					}
					if (data[i][2] > 0) {
						trigger = false;
						html += "<div class=\"imgbox\">";		   
						html += "<img src=\"/lib/img/arrow_full_up_16.png\" style=\"float:left\"/>";                         
						html += "<b>" + data[i][2] + "</b>";
						html += "</div>";
					}
					if (trigger) {
						// foo
					}
					html += "</li>";
				}
 			}
			jQuery("#domains").html(html);		
			jQuery("#domains").slideDown("slow");
		},
		drawBG: function(data){
			var this_ = this;
			var newData = data;
			var zoom = this_.zoom;
			var hour = 1600000; // fudged a litte 1 hour = 3600000
			var bg = {};
			this_.drawArray = [];
			this_.graphArray = [];

			if (this_.type == 'friends'){
				jQuery("#bginfo").html("background dots: last " + newData.length + " pages visited by your " + this_.type);				
			} else if(this_.type == 'global'){
				jQuery("#bginfo").html("background dots: last " + newData.length + " pages visited by everyone");				
			} else {
				jQuery("#bginfo").html("background dots: last " + newData.length + " pages visited by you");				
			}
			
			this_.dotGraph = newify(dotFactory, this_, {
									  marginTop: 11,
									  den: 10,
									  isInteractive: false,
									  data: newData
								  });	
			this_.graphArray.push(this_.dotGraph);
            this_.drawArray.push(this_.graphArray);
            var mainEvtHandlers = newify(evtHandlers, this_);			
		},
		drawMiniGraph: function(data){
			var this_ = this;
			var newData = data;

            var avgTimeG = newify(lineGraphFactoryLite, {
									  canvas: document.getElementById("main"),
									  startTime: this_.startTime,
									  endTime: this_.endTime,
									  windowHeight: 50,
									  windowWidth: 950,
									  interp: (this_.endTime - this_.startTime) / 100,
									  color: "#ff00ff",
									  margintop: 30,
									  topPadding: 0,
									  noKey: true,
									  fillGraph: false,
									  data: data.totalTime
								  });
		},
		draw: function(){
			// do nothing	
		},
		getCanvas: function(){
            return this.canvas;
        }
    };
jQuery(document).ready(function(){
						   jQuery("#target").hide();
						   jQuery("#toggle").click(function(){
														   if (jQuery("#profile_content").is(":hidden")) {
															   jQuery("#profile_content").slideDown("slow");
															   jQuery("#footer").slideDown("slow");
															   jQuery("#fooTxt").hide();
															   jQuery("#target").hide();
															   self.viz.dotGraph.isInteractive = false;
															   
														   }
														   else {
															   jQuery("#profile_content").slideUp("slow");
															   jQuery("#footer").slideUp("slow");															   
															   jQuery("#fooTxt").slideDown();
															   jQuery("#target").slideDown();
															   self.viz.dotGraph.isInteractive = true;
														   }
													   });

						   var currentDate = new Date();																					   
						   var myWidth = 950;
						   var myHeight = 50;
						   document.getElementById("main").setAttribute("width", myWidth);
						   document.getElementById("main").setAttribute("height", myHeight);

						   self.viz = newify(WatchmeVisualisation, document.getElementById("bgcanvas"),  getClientCords().width - 10, window.innerHeight - 50, 0, 86400000/2);// 12 hrs
						   setInterval("self.viz.getRecentPages(30, self.viz.type)", 9000);
					   });
</script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div class="loader" id="loadimg1"></div>
<div id="target"></div>	
<div class="fooTxt" id="fooTxt"></div>	
<div id="background" style="margin-top:19px;margin-left:10px;">
  <canvas id="bgcanvas">
  </canvas>
</div>
<div id="pulse_header" style="padding:15px">
  {% if request_user %}
  <h1>{{ request_user }}</h1>
  <h3 style="float:right; font-size:14px;margin-top:16px;">
	<a id="user" href="javascript:self.viz.getPage('user')">you</a>
	&#124; 
	<a id="friends" href="javascript:self.viz.getPage('friends')">friends</a>
	&#124; 
	<a id="global" href="javascript:self.viz.getPage('global')">everyone</a> 
  </h3>
  {% endif %}
  <div style="border-top:1px solid #999999">&nbsp;</div>
  <div id="urlstats">
	<div id="num" style="display:inline-block">
	  <b>visit count:</b>
	</div>
	<div id="totalTime" style="display:inline-block">
	  <b>&nbsp; &#124; &nbsp;total time: </b>
	</div>
	<div id="avgTime" style="display:inline-block">
	  <b>&nbsp; &#124; &nbsp;avg time per visit:</b>
	</div>
  </div>
  <div id="toggle" style="display:inline-block; cursor: pointer; float:right;margin-top:-10px">
    collapse +
  </div>
</div>
<div id="profile_content" style="padding:15px; padding-top:0px; width:950px; margin-top:0px; margin-left:auto;margin-right:auto;">
  <canvas id="main" style="padding:0px;margin:0px;">
  </canvas>
  <div id="profile">
    <h2 style="border-top:none; margin-right:23px;">Ticker</h2>
    <ul class="friends" id="latestviews" style="height:300px; overflow:hidden">	  
    </ul>
  </div>
  <div id="profile">
	<h2 style="border-top:none; margin-right:23px;">Trending</h2>
    <ul class="friends" id="trending">	  
    </ul>
  </div>
  <div id="profile">
	<h2 style="border-top:none; margin-right:23px;">Top Pages</h2>
    <ul class="friends" id="pages">	  
    </ul>
  </div>
  <div id="profile" style="width:219px">
	<h2 style="border-top:none;">Top Domains</h2>
    <ul class="friends" id="domains">	  
    </ul>
  </div>
  <div class="bodytext" style="margin-top:10px;margin-left:4px; text-align:center">
	{% if not request_user %}
	<a href="/register/">create an account</a> and <a href="/login/">sign in</a> to see this page for you or your friends on eyebrowse
	{% endif %}
	<div id="bginfo" style="margin-bottom:-6px; margin-top:6px;text-align:center; color:#222222"></div>
  </div>  
  <br/>
</div>
{% endblock %}
