{% extends "base.html" %}
{% block title %}pulse{% endblock %}
{% block imports %}
<style>
.viewboxhome h6{
    margin-bottom:31px;
    overflow:hidden;
    height:15px;
    width:250px;
}
.viewboxhome .leftside{
    text-align:right;
} 
#profile{
    float:none;
    display:inline-block;
    width:240px;
    margin:0px;
    padding:0px;
    vertical-align:top;
    margin-bottom:15px;
    line-height: 1.2em;
    font-size:1.05em;
    margin-top:-10px;
}
#profile a{		
    font-size:1.05em;
    font-weight:normal;
}	
#profile img{
    width:14px;
    height:14px;
}
#profile li{
    padding-right:0px;	
    width:204px;
    margin-top:5px;
}#profile ul{
    margin-top:10px;
    margin-left:8px;
}#profile h7{
    font-size:0.8em;
}.imgbox{
    display:inline-block;
    float:right;	
    text-align:left;
    width:45px;
}
#profile_content h2 {
 border-bottom:1px solid darkgrey;
}
</style>
<script src="/lib/js/watchMeGraph.js"></script>
<script src="/lib/js/canvas.text.js"></script>
<script src="/lib/js/faces/helvetiker-normal-normal.js"></script>
<script>
    jQuery.noConflict();
</script>
<script src="/lib/js/pulse.js"></script>
{% endblock %}
{% block name %}pulse{% endblock %}
{% block content %}

<div class="loader" id="loadimg"></div>
<div class="loader" id="loadimg1"></div>
<div id="target"></div>	
<div class="fooTxt" id="fooTxt"></div>	
<div id="background" style="margin-top:19px;margin-left:10px;">
  <canvas id="bgcanvas">
  </canvas>
</div>
<div id="pulse_header" style="padding:15px">
  {% if request_user %}
  <h1>{{ request_user }}</h1>
  <h3 style="float:right; font-size:14px;margin-top:16px;">
	<a id="user" href="javascript:self.viz.getPage('friends')">you</a>
	&#124; 
<!--	<a id="friends" href="javascript:self.viz.getPage('friends')">friends</a>
	&#124;--> 
	<a id="global" href="javascript:self.viz.getPage('global')">everyone</a> 
  </h3>
  {% endif %}
  <div style="border-top:1px solid #999999">&nbsp;</div>
  <div id="urlstats">
	<div id="num" style="display:inline-block">
	  <b>visit count:</b>
	</div>
	<div id="totalTime" style="display:inline-block">
	  <b>&nbsp; &#124; &nbsp;total time: </b>
	</div>
	<div id="avgTime" style="display:inline-block">
	  <b>&nbsp; &#124; &nbsp;avg time per visit:</b>
	</div>
  </div>
<!--
  <div id="toggle" style="display:inline-block; cursor: pointer; float:right;margin-top:-10px">
    collapse +
  </div>
-->
</div>
<div id="profile_content" style="padding:15px; padding-top:0px; width:950px; margin-top:0px; margin-left:auto;margin-right:auto;">
  <canvas id="main" style="padding:0px;margin:0px;">
  </canvas>
  <div id="profile">
    <h2 style="border-top:none; margin-right:23px;">Ticker</h2>
    <ul class="friends" id="latestviews" style="height:300px; overflow:hidden">	  
    </ul>
  </div>
  <div id="profile">
	<h2 style="border-top:none; margin-right:23px;">Trending</h2>
    <ul class="friends" id="trending">	  
    </ul>
  </div>
  <div id="profile">
	<h2 style="border-top:none; margin-right:23px;">Top Pages</h2>
    <ul class="friends" id="pages">	  
    </ul>
  </div>
  <div id="profile" style="width:219px">
	<h2 style="border-top:none;">Top Domains</h2>
    <ul class="friends" id="domains">	  
    </ul>
  </div>
  <div class="bodytext" style="margin-top:10px;margin-left:4px; text-align:center">
	{% if not request_user %}
	<a href="/register/">create an account</a> and <a href="/login/">sign in</a> to see this page for you or your friends on eyebrowse
	{% endif %}
	<div id="bginfo" style="margin-bottom:-6px; margin-top:6px;text-align:center; color:#222222"></div>
  </div>  
  <br/>
</div>
{% endblock %}
