{% extends "base.html" %}
{% block title %}track, visualize and share your web trails{% endblock %}
{% block imports %}
<script src="/lib/js/watchMeGraph.js"></script>
<script src="/lib/js/watchhome.js"></script>
<script src="/lib/js/signup.js"></script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div class="fooTxt" id="fooTxt" ></div>	
<div id="background">
  <canvas id="bgcanvas"></canvas>
</div>
<div id="profile_content" style="margin-top:0px; margin-left:auto;margin-right:auto; width:850px">
  <div class="logo">
    <img src="lib/img/eyebrowse.png" />
  </div><h1 style="font-size:35px; margin-left:10px;">track, visualize and share your web trails</h1>
  
  <h4 style="vertical-align:top;">
    <b>eyebrowse</b> is an add-on for <a href="http://mozilla.com/firefox">firefox</a> that lets you easily track, visualize, and share your trails through the web in real-time. Eyebrowse records you web browsing activity to your private computer so you can check out how your activity changes over time   
  </h4>
  <h4 style="vertical-align:top;margin-left:43px;">    
    Selectivly share you activities to find out find out what's hot and who's reading what. Plus, contribute your web trails to science! Check out the out some <a href="/help"><b>examples</b></a> or watch our short video introduction below. 
  </h4>
  <div id="indexwhyid" class="indexwhy">    
    <object width="681" height="383"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=6839047&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=ff0095&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=6839047&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=ff0095&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="681" height="383"></embed></object>
    <br />
    <h4 style="margin-left:43;margin-top:14px">
      Check out the eyebrowse <a href="http://eyebrowse.csail.mit.edu/pulse/">pulse</a> and some <a href="http://eyebrowse.csail.mit.edu/profile/emax/">real</a>		
      <a href="http://eyebrowse.csail.mit.edu/profile/zamiang/">live</a>
      <a href="http://eyebrowse.csail.mit.edu/profile/karger/">profiles</a> or click below to get started.		
    </h4>
  </div>
  <a href="/register/">
    <div id="signUpLink" style="width:99px">
      Get Started
    </div>
  </a>
  <canvas id="main" style="padding:0px;margin:0px;">
  </canvas>
  <div class="leftcolumn" style="width:420px;">
    <h2>now</h2>
    <div class="viewboxhome" id="latestviews">
      <ul>
      </ul>
    </div>
  </div>
  <div class="rightcolumn" style="width:420px; vertical-align:top; margin-left:5px;">
    <h2>top users</h2>
    <div class="viewboxhome" id="topusers">
    </div>
  </div>
</div>
{% endblock %}
