{% extends "base.html" %}
{% block title %}terms{% endblock %}
{% block imports %}
{% endblock %}
{% block content %}
<div id="faq">
<h1>Terms &amp; Conditions</h1>
<div class="bodytext">
 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE, BUT NOT CHOCOLATE TORTE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</div>
<br />
<h1 style="margin-top:8px;">Data Use Policy</h1>
<div class="bodytext">
Users should be aware that your webbrowsing activities and usage statistics of eyebrows are automatically transmitted to the researchers at MIT CSAIL for the sole purpose of research -- particularly debugging and improving the tool. NO INFORMATION WILL BE SHARED WITH AGENTS OR ENTITIES OUTSIDE THE RESEARCH GROUP OR USED FOR ANY PURPOSE OTHER THAN TOOL RESEARCH AND DEVELOPMENT.
  </div>
  <br />
<div class="bodytext"> 
  please email the google group with any questions
<a href="mailto:eyebrowse@googlegroups.com">eyebrowse@googlegroups.com</a>
</div>
</div>
  {% endblock %}
