{% extends "base.html" %}
{% block title %}terms{% endblock %}
{% block imports %}
{% endblock %}
{% block content %}
<div id="faq">
  <h1 style="margin-top:8px;">Data Use Policy</h1>
  <div class="bodytext"><p>
	Users should be aware that all captured data is PUBLIC.  WE TAKE NO RESPONSIBILITY FOR WHAT THIRD PARTIES MAY DO WITH THE DATA. By signing up for the service, you assume responsibility for risks you may incur to yourself by sharing your web browsing activities with the public.  Only data that you have told eyebrowse to share explicitly will be logged or transmitted.<p/>
	<p>
	Archives of the data may be kept by MIT CSAIL indefinitely. If you wish to erase your data from the dataset, send a request to <a href="mailto:eyebrowse@csail.mit.edu">eyebrowse@csail.mit.edu</a> and we will remove your data from our copies on our server. However since the data is public, others may have acquired copies prior to your request and we are unable to guarantee that such copies of your records will be cleared.</p>
<p>
	We will soon provide an interface for downloading daily database snapshots of collected eyebrowse data for public consumption. In the meantime, if you wish to have a copy of the dataset, we will provie it upon request. Email us at the address below.
</p>	
  </div>
  <br />
  <h1>Terms &amp; Conditions</h1>
  <div class="bodytext">
<p>	THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</p></div>
<br />
<div class="bodytext"> 
<p>  Contact us at
<a href="mailto:eyebrowse@csail.mit.edu">eyebrowse@csail.mit.edu</a>.
</p></div>
</div>
  {% endblock %}
