{% extends "base.html" %}
{% block title %}ticker{% endblock %}
{% block imports %}
<style>
  #latestviews h6 {
	  width: 420px;
  }
  #profile_content {
	  width:500px;	 
  }
  #profile_content li {
	  width:450px;
  }#profile_content ul{
          height:1168px;
          overflow:hidden;
}
  #profile {
		width:234px;
		margin:0px;
		padding:0px;
		vertical-align:top;
		margin-bottom:15px;
		line-height: 1.2em;
		font-size:1.05em;
		margin-top:24px;
  }#profile a{		
	  font-size:1.05em;
	  font-weight:normal;
  }#profile img{
          padding-right:0px;
	  width:14px;
	  height:14px;
  }#profile li{
	  padding-right:0px;	
	  margin-top:5px;
  }#profile ul{
	  margin-top:10px;
	  margin-left:0px;
  }h7{
	  font-size:0.8em;
  }.viewboxright{
	  width:231px;	  
  }.viewboxright .imgbox{
	  display:inline-block;
	  float:right;	
	  text-align:left;
	  width:50px;
  } .viewboxhome {
	  width:231px;
  } .viewboxhome li{
	  width:221px;
  }
  </style>
  <script>
    var WatchmeVisualisation = {
        initialize: function(canvas, windowWidth, windowHeight, zoom){
            this.canvas = canvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
			this.now = new Date().valueOf();
            this.endTime = this.now;
            this.startTime = this.now - zoom;
			this.recentTimesArray = [];
			this.recentID = 0;
            this.zoom = zoom;
			this.type = "global";
            this.getTickerPage(this.type);
        },
		getTickerPage: function(req_type){
            var this_ = this;
			this_.type = req_type;
			this_.recentID = 0;
			jQuery("#loadimg").show();
			jQuery.get("/get_ticker", {
						   from: this_.startTime,
						   to: this_.endTime,
						   type:req_type,
	                       username: '{{ username }}'
					   }, function(data){
						   jQuery("#loadimg").hide();
						   if (data.code == 200) {
							   jQuery("#user").css("font-weight","lighter");
							   jQuery("#friends").css("font-weight","lighter");
							   jQuery("#global").css("font-weight","lighter");
							   jQuery("#" + req_type).css("font-weight","bold");
							   jQuery("#loadimg").hide();

							   this_.drawTopUsers(data.results[0]);
							   this_.drawTopPagesList(data.results[1]);
							   this_.drawProfile(data.results[2]);
							   this_.getRecentPages(100, req_type);
						   }
						   else {
							//   console.log("yaaaa!!!H!H!H!" + data.code + " ");
						   }
					   }, "json");	
		},
        getRecentPages: function(num, req_type){
            var this_ = this;
			this_.now = new Date().valueOf();
			jQuery("#loadimg").show();
			jQuery.get("/get_latest_views", {
						   num: num,
						   id: this_.recentID,
						   type:req_type,
						   username: '{{ request_user }}'
					   }, function(data){
						   jQuery("#loadimg").hide();
						   if (data.code == 200) {
							   var newData = data.results;
							   var html = "";
							   for (var i = newData.length -1; i >= 0; i--) {
								   html = "<li id=\"" + newData[i].end + "\">";
								   if (newData[i].title){
									   html += "<h6><b><a href=\"" + newData[i].url + "\">" + newData[i].title.trim(60) + "</a></b></h6>";
								   }
								   else{
									   html += "<h6><b><a href=\"" + newData[i].url + "\">" + newData[i].url.trim(60) + "</a></b></h6>";
								   }
								   html += "<h7>" + timeCounterClock((this_.now - newData[i].end)/1000) + " <b>ago</b></h7>";
								   if (newData[i].user.length > 0) {
									   html += "<br />&nbsp; &nbsp; <a href=\"/profile/" + newData[i].user + "\" style=\"font-weight:normal; font-size:0.8em; display:inline-block\">by " + newData[i].user + "</a>";
								   }
								   html += "</li>";
								   jQuery("#latestviews ul").prepend(html);
								   jQuery("#" + newData[i].end).slideDown("slow");

								   // keep track of times displayed and hide old ones
								   this_.recentTimesArray.unshift(newData[i].end);
								   if (this_.recentTimesArray.length > num){
									   jQuery("#" + this_.recentTimesArray[num + 1]).hide();
									   this_.recentTimesArray.pop();   
								   }
							   }
							   this_.recentID = newData[0].id;
						   }
						   else {
							  // console.log("yaaaa!!!H!H!H!" + data.code + " ");
						   }
					   }, "json");
        },
		drawTopUsers: function(data){
			var newData = data;
			jQuery("#topusers").hide();
			var html = "";
			for (var i = 0; i < newData.length; i++) {
				if (newData[i].number > 0){
					html += "<li>";
					html += "<h6><b><a href=\"/profile/" + newData[i].user +  "/\" style=\"font-weight:bold\">" + newData[i].user + "</a></b></h6>";
					html += "<br /><h7>" + newData[i].number + " webpages today</h7>";
					html += "</li>";
				}
			}
			jQuery("#topusers").html(html);					   			
			jQuery("#topusers").slideDown('slow');
		},
        drawTopPagesList: function(data){
            var this_ = this;
			var html = "";

			jQuery("#pages").hide();
			jQuery("#trending").hide();
			for (var i = 0; i < 10; i++) {
				var trigger = true;
				html += "<li>";
				if (data.top_titles[i]){
					html += "<h6><b><a href=\"" + data.top[i][0] + "\" style=\"width:50px;\">" + data.top_titles[i].trim(24) + "</a></b></h6>";                						
				} else {
					html += "<h6><b><a href=\"" + data.top[i][0] + "\" style=\"width:50px;\">" + data.top[i][0].trim(24) + "</a></b></h6>";                						
				}
				if (data.top[i][2] < 0) {
					trigger = false;
					html += "<div class=\"imgbox\">";
					html += "<img src=\"/lib/img/arrow_full_down_16.png\" style=\"float:left\"/>";
					html += "<b>" + data.top[i][2] + "</b>";
					html += "</div>";
				}
				if (data.top[i][2] > 0) {
					trigger = false;
					html += "<div class=\"imgbox\">";		   
					html += "<img src=\"/lib/img/arrow_full_up_16.png\" style=\"float:left\"/>";                         
					html += "<b>" + data.top[i][2] + "</b>";
					html += "</div>";
				}
				if (trigger) {
					// foo
				}
				html += "</li>";
			}

			html = "";
			for (var i = 0; i < 10; i++) {
				var trigger = true;
				html += "<li>";
				if (data.tre_titles[i]){
					html += "<h6><b><a href=\"" + data.trending[i][0] + "\" style=\"width:50px;\">" + data.tre_titles[i].trim(24) + "</a></b></h6>";                						
				} else {
					html += "<h6><b><a href=\"" + data.trending[i][0] + "\" style=\"width:50px;\">" + data.trending[i][0].trim(24) + "</a></b></h6>";                						
				}
				if (data.trending[i][2] < 0) {
					trigger = false;
					html += "<div class=\"imgbox\">";
					html += "<img src=\"/lib/img/arrow_full_down_16.png\" style=\"float:left\"/>";
					html += "<b>" + data.trending[i][2] + "</b>";
					html += "</div>";
				}
				if (data.trending[i][2] > 0) {
					trigger = false;
					html += "<div class=\"imgbox\">";		   
					html += "<img src=\"/lib/img/arrow_full_up_16.png\" style=\"float:left\"/>";                         
					html += "<b>" + data.trending[i][2] + "</b>";
					html += "</div>";
				}
				if (trigger) {
					// foo
				}
				html += "</li>";
			}

			jQuery("#pages").html(html);					   			
			jQuery("#trending").html(html);					   			
			jQuery("#pages").slideDown('slow');
			jQuery("#trending").slideDown('slow');
        },
		drawProfile: function(data){
			var newData = data;
			jQuery("#totalTime").html("<b>total time: </b> " + timeCounterLongAbv(newData.totalTime));
			jQuery("#num").html("<b>visit count: </b>" + newData.number);
			jQuery("#avgTime").html("<b>avg time per visit: </b>" + timeCounterLongAbv(newData.average));					
		}
    };
		jQuery(document).ready(function(){
						   var myWidth = undefined;
						   var myHeight = undefined;
						   
						   myWidth = window.innerWidth - 16;
						   myHeight = window.innerHeight - 250;

						   self.viz = newify(WatchmeVisualisation, document.getElementById("main"), 335, 200, 86400000/2);// 12 hrs
						   setInterval("self.viz.getRecentPages(100, self.viz.type)", 6000);
					   });
</script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div id="report" style="width:750px">
  <div id="profile">
    <div id="num" style="margin-top:30px;">
      <b>visit count:</b>
    </div>
    <div id="totalTime">
      <b>total time: </b>
    </div>
    <div id="avgTime">
      <b>avg time per visit:</b>
    </div>

	<h2>Trending</h2>
	<div class="viewboxright" id="trending">
	  <ul class="friends" id="trending">	  
      </ul>
	</div>

	<h2>Top Pages</h2>
	<div class="viewboxright" id="topurls">
	  <ul class="friends" id="pages">	  
      </ul>
	</div>
	
    <h2>Top Users</h2>
	<div class="viewboxhome" id="topusers">
    </div>
  </div>
  <div id="profile_content">
    <div class="userhead">
      <h1>Ticker</h1>
    </div>
	{% if request_user %}
	  <h3 style="float:right; font-size:14px;margin-top:31px;margin-right:21px">
		<a id="user" href="javascript:self.viz.getTickerPage('user')">you</a>
		&#124; 
		<a id="friends" href="javascript:self.viz.getTickerPage('friends')">friends</a>
		&#124; 
		<a id="global" href="javascript:self.viz.getTickerPage('global')">everyone</a> 
	  </h3>
	{% endif %}
    <div class="viewboxprofile" id="latestviews" style="margin:0px;margin-top:-22px; border-top:1px solid lightgrey; width:480px">
	  <ul>
	  </ul>
    </div>
  </div>
</div>
{% endblock %}
