{% extends "base.html" %}
{% block title %}search{% endblock %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="/lib/CSS/datepicker.css" />
<style>
.viewboxhome{
overflow:hidden;
}
h6 {
	padding-bottom:31px;
	overflow:hidden;
}
</style>
<script src="/lib/js/watchMeGraph.js">
</script>
<script src="/lib/js/canvas.text.js">
</script>
<script src="/lib/js/faces/helvetiker-normal-normal.js">
</script>
<script src="/lib/js/datepicker.js">
</script>
<script>
    jQuery.noConflict();
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(canvas, windowWidth, windowHeight, timeZoneCorrect, zoom, url) {
            this.canvas = canvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
            this.timeZoneCorrect = timeZoneCorrect;
            this.endDate = new Date();
			this.now = new Date().valueOf();
            this.startDate = new Date(this.endDate.valueOf() - zoom);
            this.endTime = this.endDate.valueOf();
            this.startTime = this.startDate.valueOf();
            this.OGendTime = this.endDate.valueOf();
            this.OGstartTime = this.startDate.valueOf();
            this.interp = zoom / 192;
            this.drag = undefined;
            this.zoom = zoom;
			this.url = url;
			this.getProfile(this.startTime, this.endTime, url); 
            this.initSmallGraphs(this.startTime, this.endTime, url); 
			this.initUrlGraph(url);
			this.initTopUsers(this.startTime, this.endTime, url);
        },
		getProfile: function(startTime, endTime, url){
            try {
                jQuery.get("/get_page_profile_queries/", {
							   url:url
						   }, function(data){
							   if (data.code == 200) {		
								   var newData = data.results;
								   jQuery("#totalTime").html("<b>total time spent: </b> " + timeCounterLongAbv(newData.totalTime));
								   jQuery("#num").html("<b>total visits: </b>" + newData.number);
								   jQuery("#avgTime").html("<b>average time spent: </b>" + timeCounterLongAbv(newData.average));			
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		initTopUsers: function(startTime, endTime, url){
			var this_ = this;	
			try {
                jQuery.get("/get_top_users_for_url/10/", {
							   url: url
						   }, function(data){
							   if (data.code == 200) {	
								   this_.drawTopUsers(data.results);							   			            
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		drawTopUsers: function(data){
			var this_ = this;
			var html = "";
			for (var i = 0; i < data.length; i++) {
				html += "<li>";
                html += "<a href=\"/user/" + data[i].user + "/\">" + data[i].user + "</a><h7>" + data[i].number + "</h7>";
				html += "</li>";
			}
			jQuery("#topvisitors").html(html);					   			
		},
		initUrlGraph: function(url){
			var this_ = this;	
			var urlGraph = undefined;			
            try {
				jQuery("#loadimg").show();
                jQuery.get("/get_to_from_url/10/", {
							   url: url
						   }, function(data){
							   if (data.code == 200) {	
								   jQuery("#loadimg").hide();
								   this_.drawUrlGraph(data.results);							   			            
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		drawUrlGraph: function(data){
			var this_ = this;
			// 3 columns of divs
			var leftHTML = "";
			var rightHTML = "";
			var centerHTML = "<h6 style=\"padding:0px\"><a href=\"" + this_.url + "\">" + this_.url + "</a></h6>";
			for (var i =0; i < data.pre.length; i++){
				leftHTML += "<h6><a href=\"" + data.pre[i][0] + "\">" + data.pre[i][0] + "</a></h6><br />";
				rightHTML += "<h6><a href=\"" + data.next[i][0] + "\">" + data.next[i][0] + "</a></h6><br />";
			}			
			jQuery("#urlLeft").html(leftHTML);
			jQuery("#urlRight").html(rightHTML);
			jQuery("#urlCenter").html(centerHTML);					   			

			// 1 canvas bg
			var totalTimeG = newify(compareFactory, this_, {
										canvas: document.getElementById("pathgraph"),
										windowHeight: 253,
										windowWidth: 950,
										lineWidth: 4,
										minH: 180,
										maxH: 300, // hue
										data: data
									});			
		},
		initSmallGraphs: function(startTime, endTime, url){
			var this_ = this;
            try {
                jQuery.get("http://localhost:8000/get_graph_points_url/28/", {
							   from: startTime,
							   to: endTime,
							   url: url
						   }, function(data){
							   if (data.code == 200) {						
								   var totalTimeG = newify(lineGraphFactoryLite, {
															   canvas: document.getElementById("totalTimeGraph"),
															   startTime: startTime,
															   endTime: endTime,
															   windowHeight: this_.windowHeight,
															   windowWidth: this_.windowWidth,
															   interp: (endTime - startTime) / 28,
															   color: "#ff00ff",
															   data: data.results.ttData
														   });
								   var avgTimeG = newify(lineGraphFactoryLite, {
															 canvas: document.getElementById("avgTimeGraph"),
															 startTime: startTime,
															 endTime: endTime,
															 windowHeight: this_.windowHeight,
															 windowWidth: this_.windowWidth,
															 interp: (endTime - startTime) / 28,
															 color: "#ff00ff",
															 data: data.results.avgData
														 });
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
        },
		refresh: function(){
            var this_ = this;
			var url = jQuery("#urladdtextinput").val();
			this_.getProfile(this_.startTime, this_.endTime, url); 
			this_.initUrlGraph(url);
			this_.initSmallGraphs(this_.startTime, this_.endTime, url); 
			this_.initTopUsers(this_.startTime, this_.endTime, url);
		}
    };
jQuery(document).ready(function(){
						   var currentDate = new Date();																					   
						   var myWidth = window.innerWidth - 16;
						   var myHeight = window.innerHeight - 250;
						   var input = jQuery("#urladdtextinput").val();

						   document.getElementById("totalTimeGraph").setAttribute("width", 335);
						   document.getElementById("totalTimeGraph").setAttribute("height", 200);
						   document.getElementById("avgTimeGraph").setAttribute("width", 335);
						   document.getElementById("avgTimeGraph").setAttribute("height", 200);
						   document.getElementById("pathgraph").setAttribute("width", 950);
						   document.getElementById("pathgraph").setAttribute("height", 350);

						   self.viz = newify(WatchmeVisualisation, document.getElementById("main"), 335, 200, 0, 2419200000, input);// 4 weeks
					   });
</script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div id="profile_content" style="width:950px; margin-left:auto;margin-right:auto; ">
	  <h1>search</h1><br />

	<input type="text" name="list" id="urladdtextinput" style="display:inline-block; width:228px;" value="http://nytimes.com/" onkeypress="{if (event.keyCode==13)viz.refresh()}"/>
	<input type="submit" id="urladd" value="submit" onkeypress="{if (event.keyCode==13)viz.refresh()}" onClick="viz.refresh()" style="width:auto;" />
 
<div style="width:950; height:350; position:relative; z-index:0">
<div id="urlLeft" class="viewboxhome" style="position:absolute; left:-82px; top:12px; text-align:right;"></div>
<div id="urlRight" class="viewboxhome" style="position:absolute; left:712px; top:12px;"></div>
<div id="urlCenter" style="position:absolute; left:410px; top:110px; background:#ffffff;padding:6px; border:1px solid lightgrey"></div>
</div>
			
  <canvas id="pathgraph" style="z-index:-2">
  </canvas>
</div>


<div id="report">
    <div id="profile" style="margin-top:-10px">
	  <div style="border-top:1px solid #999999">&nbsp;</div>
        <div id="num">
            <b>total visits:</b>
        </div>
        <div id="totalTime">
            <b>total time spent: </b>
        </div>
        <div id="avgTime">
            <b>average time spent:</b>
        </div>
	  <h2 style="border-top:none">Top Visitors</h2>
			  <br />
        <ul class="friends" id="topvisitors">
			  
        </ul>
    </div>
    <div id="profile_content" style="margin-top:0px">
        	  <div style="border-top:1px solid #999999">&nbsp;</div>
		<br />
        <canvas id="totalTimeGraph" style="border-bottom:px solid lightgrey; margin: 0px; display: inline-block">
        </canvas>
        <canvas id="avgTimeGraph" style="border-bottom:0px solid lightgrey; margin: 0px; margin-left:24px; display: inline-block">
        </canvas>
        <div id="key" style="margin-top:-40px">
            <div id="totalGraphKey" style="width:300px; text-align:center; display: inline-block;">
                total time spent
            </div>
            <div id="avgGraphKey" style="float:right; width:300px; text-align:center; display: inline-block;">
                average time spent
            </div>
        </div>   
    </div>
    <br/>
</div>
{% endblock %}
