{% extends "base.html" %}
{% block title %}page stats{% endblock %}
{% block imports %}
<style>
  @import url("/lib/css/datepicker.css");
	.viewboxhome h6{
		margin-bottom:31px;
        overflow:hidden;
        height:15px;
        width:250px;
	}
    .viewboxhome .leftside{
        text-align:right;
    } 
    input[type="text"] {
        font-size:4.5em;
		font-weight:bold;
		width:845px;
		height:57px;
		border:none;
		border-bottom:0px solid lightgrey;
		display:inline-block;		
     }
</style>
<script src="/lib/js/watchMeGraph.js">
</script>
<script src="/lib/js/canvas.text.js">
</script>
<script src="/lib/js/faces/helvetiker-normal-normal.js">
</script>
<script src="/lib/js/datepicker.js">
</script>
<script>
    jQuery.noConflict();
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(canvas, windowWidth, windowHeight, timeZoneCorrect, zoom, url) {
            this.canvas = canvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
            this.timeZoneCorrect = timeZoneCorrect;
            this.endDate = new Date();
			this.now = new Date().valueOf();
            this.startDate = new Date(this.endDate.valueOf() - zoom);
            this.endTime = this.endDate.valueOf();
            this.startTime = this.startDate.valueOf();
            this.OGendTime = this.endDate.valueOf();
            this.OGstartTime = this.startDate.valueOf();
            this.interp = zoom / 192;
            this.drag = undefined;
            this.zoom = zoom;
			this.url = url;
			var this_ = this;
			jQuery.get("/get_closest_url/", { url:this.url },
					   function(data) {
						   if (data.code == 200) {
							   this_.url = data.results.length > 0 ? data.results[0] : "";
							   jQuery("#urladdtextinput").val(this_.url);

							   this_.getProfile(this_.startTime, this_.endTime, this_.url); 
							   this_.initUrlGraph(this_.url);
							   this_.initLineGraphs(this_.startTime, this_.endTime, this_.url); 
							   this_.initBarGraphs(this_.url); 
							   this_.initTopUsers(this_.startTime, this_.endTime, this_.url);			       
						   } else {
							   // TODO: replace plz with an error div
							   //console.log("error calling get_closest_url: " + data.code + " " + data);
						   }
					   }, "json");	    	    
        },
		getProfile: function(startTime, endTime, url){
            try {
                jQuery.get("/get_page_profile_queries/", {
							   url:url
						   }, function(data){
							   if (data.code == 200) {		
								   var newData = data.results;
								   jQuery("#totalTime").html("&nbsp; &#124; &nbsp;<b>total time spent: </b> " + timeCounterLongAbv(newData.totalTime));
								   jQuery("#num").html("<b>total visits: </b>" + newData.number);
								   jQuery("#avgTime").html("&nbsp; &#124; &nbsp;<b>average time spent: </b>" + timeCounterLongAbv(newData.average));			
							   }
							   else {
								   //console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
				// console.log(e);
            }
		},
		initTopUsers: function(startTime, endTime, url){
			var this_ = this;	
			try {
                jQuery.get("/get_top_users_for_url/10/", {
							   url: url
						   }, function(data){
							   if (data.code == 200) {	
								   this_.drawTopUsers(data.results);							   			            
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		drawTopUsers: function(data){
			var this_ = this;
			var html = "";
			for (var i = 0; i < data.length; i++) {
				if (data[i].number > 0){
					html += "<li>";
					html += "<a href=\"/profile/" + data[i].user + "/\">" + data[i].user + "</a><h7>" + data[i].number + "</h7>";
					html += "</li>";					
				}
 			}
			jQuery("#topvisitors").html(html);					   			
		},
		initUrlGraph: function(url){
			var this_ = this;	
			var urlGraph = undefined;			
            try {
				jQuery("#loadimg").show();
                jQuery.get("/get_to_from_url/10/", {
							   url: url
						   }, function(data){
							   if (data.code == 200) {	
								   jQuery("#loadimg").hide();
								   this_.drawUrlGraph(data.results);							   			            
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		drawUrlGraph: function(data){
			var this_ = this;
			// 3 columns of divs
			var leftHTML = "";
			var rightHTML = "";
			var centerHTML = "<h6 style=\"padding:0px\"><a href=\"" + this_.url + "\" style=\"font-weight:bold\">" + this_.url + "</a></h6>";
			
			for (var i = 0; i < data.pre.length; i++){
				if (data.pre_titles[i]){
					leftHTML += "<h6 class=\"leftside\"><a href=\"javascript: viz.swopURL('" + data.pre[i][0] + "')\">" + data.pre_titles[i] + "</a></h6>";
				}
				else{
					leftHTML += "<h6 class=\"leftside\"><a href=\"javascript: viz.swopURL('" + data.pre[i][0] + "')\">" + data.pre[i][0] + "</a></h6>";
				}
				leftHTML += "&nbsp;<a href=\"" + data.pre[i][0] + "\" target=”_blank”><img src=\"/lib/img/arrow_full_upperright_16.png\"/></a>";
				leftHTML += "<br />";
			}
			for (var i = 0; i < data.next.length; i++){
				rightHTML += "<a href=\"" + data.next[i][0] + "\" target=”_blank”><img src=\"/lib/img/arrow_full_upperright_16.png\"/></a>&nbsp;";
				if (data.next_titles[i]){
					rightHTML += "<h6><a href=\"javascript: viz.swopURL('" + data.next[i][0] + "')\">" + data.next_titles[i] + "</a></h6>";
				}
				else{
					rightHTML += "<h6><a href=\"javascript: viz.swopURL('" + data.next[i][0] + "')\">" + data.next[i][0] + "</a></h6>";					
				}
				rightHTML += "<br />";
			}			
			jQuery("#urlLeft").html(leftHTML);
			jQuery("#urlRight").html(rightHTML);
			jQuery("#urlCenter").css({'left' : 475 - (this_.url.length * 7)/2 + "px"});					   			
			jQuery("#urlCenter").html(centerHTML);					   			
			
			//(ctx.measureText("" + this_.endDate.format('mmmm d')).width) - 2, this_.padding + 20);
			// 1 canvas bg
			var totalTimeG = newify(compareFactory, this_, {
										canvas: document.getElementById("pathgraph"),
										windowHeight: 253,
										windowWidth: 950,
										lineWidth: 5,
										minH: 190,
										maxH: 300, // hue
										data: data
									});			
		},
		initLineGraphs: function(startTime, endTime, url){
			var this_ = this;
            try {
                jQuery.get("/get_graph_points_url/28/", {
							   from: startTime,
							   to: endTime,
							   url: url
						   }, function(data){
							   if (data.code == 200) {						
								   var totalTimeG = newify(lineGraphFactoryLite, {
															   canvas: document.getElementById("totalTimeGraph"),
															   startTime: startTime,
															   endTime: endTime,
															   windowHeight: this_.windowHeight,
															   windowWidth: this_.windowWidth,
															   interp: (endTime - startTime) / 28,
															   color: "#ff00ff",
															   fillGraph: true,
															   data: data.results.ttData
														   });
								   var avgTimeG = newify(lineGraphFactoryLite, {
															 canvas: document.getElementById("avgTimeGraph"),
															 startTime: startTime,
															 endTime: endTime,
															 windowHeight: this_.windowHeight,
															 windowWidth: this_.windowWidth,
															 interp: (endTime - startTime) / 28,
															 color: "#ff00ff",
															 fillGraph: true,
															 data: data.results.avgData
														 });
							   }
							   else {
								   //console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
        },
		initBarGraphs: function(url){
			var this_ = this;
            try {
                jQuery.get("/get_day_of_week_graph_for_url/", {
							   url: url
						   }, function(data){
							   if (data.code == 200) {				
								   var dayWeekGraph = newify(barGraphLite, {
																 canvas: document.getElementById("dayWeekGraph"),
																 windowHeight: this_.windowHeight,
																 windowWidth: this_.windowWidth,
																 bottomPadding:30,
																 barPadding:10,
																 textPadding:4,
																 columnWidth:20,																 
																 label: ['Monday', 'Tuesday', 'Wednes', 'Thursday', '  Friday', 'Saturday', 'Sunday'],
																 data: data.results
														 });
							   }
							   else {
								   //console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
            try {
                jQuery.get("/get_time_of_day_graph_for_url/", {
							   url: url
						   }, function(data){
							   if (data.code == 200) {						
								   var timeDayGraph = newify(barGraphLite, {
																 canvas: document.getElementById("dayTimeGraph"),
																 windowHeight: this_.windowHeight,
																 windowWidth: this_.windowWidth,
																 color: "#ff00ff",
																 bottomPadding:30,
																 columnWidth:8,
																 barPadding:0,
																 textPadding:0,
																 label: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24],
																 data: data.results
														 });
							   }
							   else {
								   //console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
        },
		refresh: function(){
			var this_ = this;	    
			var url = jQuery("#urladdtextinput").val();
			jQuery.get("/get_closest_url/", { url:url },
					   function(data) {
						   if (data.code == 200) {
							   this_.url = data.results.length > 0 ? data.results[0] : "";
							   jQuery("#urladdtextinput").val(this_.url);
							   this_.getProfile(this_.startTime, this_.endTime, this_.url); 
							   this_.initUrlGraph(this_.url);
							   this_.initLineGraphs(this_.startTime, this_.endTime, this_.url); 
							   this_.initBarGraphs(this_.url); 
							   this_.initTopUsers(this_.startTime, this_.endTime, this_.url);			       
						   } else {
							   // TODO: replace plz with an error div
							  // console.log("error calling get_closest_url: " + data.code + " " + data);
						   }
					   }, "json");	    	    
		},
		swopURL: function(newURL){
			jQuery("#urladdtextinput").val(newURL);
			viz.refresh();
		}
    };
jQuery(document).ready(function(){
						   jQuery("#urladdtextinput").focus();
						   var currentDate = new Date();																					   
						   var myWidth = window.innerWidth - 16;
						   var myHeight = window.innerHeight - 250;
						   var input = jQuery("#urladdtextinput").val();

						   document.getElementById("dayTimeGraph").setAttribute("width", 335);
						   document.getElementById("dayTimeGraph").setAttribute("height", 200);
						   document.getElementById("dayWeekGraph").setAttribute("width", 335);
						   document.getElementById("dayWeekGraph").setAttribute("height", 200);

						   document.getElementById("totalTimeGraph").setAttribute("width", 335);
						   document.getElementById("totalTimeGraph").setAttribute("height", 200);
						   document.getElementById("avgTimeGraph").setAttribute("width", 335);
						   document.getElementById("avgTimeGraph").setAttribute("height", 200);
						   document.getElementById("pathgraph").setAttribute("width", 950);
						   document.getElementById("pathgraph").setAttribute("height", 350);

						   self.viz = newify(WatchmeVisualisation, document.getElementById("main"), 335, 200, 0, 2419200000, input);// 4 weeks
					   });
</script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div id="profile_content" style="width:950px; margin-left:auto;margin-right:auto; ">
  <img src="/lib/img/statistics.png" onkeypress="{if (event.keyCode==13)viz.refresh()}" onClick="viz.refresh()" style="vertical-align:middle;float:left;margin-bottom:24px;" />
  <input type="text" name="list" id="urladdtextinput" value="{{ url }}" onkeypress="{if (event.keyCode==13)viz.refresh()}"/>
  <div id="urlstats">
    <div id="num" style="display:inline-block">
      <b>total visits:</b>
    </div>
    <div id="totalTime" style="display:inline-block">
      <b>&nbsp; &#124; &nbsp;total time spent: </b>
    </div>
    <div id="avgTime" style="display:inline-block">
      <b>&nbsp; &#124; &nbsp;average time spent:</b>
    </div>
  </div>
  <div style="border-top:1px solid #999999">&nbsp;</div>
  <div style="width:950; height:350; position:relative; z-index:0">
	<div id="urlLeft" class="viewboxhome" style="position:absolute; left:-82px; top:12px; text-align:right;"></div>
	<div id="urlRight" class="viewboxhome" style="position:absolute; left:712px; top:12px;"></div>
	<div id="urlCenter" style="position:absolute; left:410px; top:110px; background:#ffffff; padding:6px; border:1px solid lightgrey"></div>
  </div>			
  <canvas id="pathgraph" style="z-index:-2;">
  </canvas>
</div>


<div id="report">
  <div id="profile" style="margin-top:-50px">
	<h2 style="border-top:none">Top Visitors</h2>
	<br />
    <ul class="friends" id="topvisitors">	  
    </ul>
  </div>
  <div id="profile_content" style="margin-top:0px">
    <div style="border-top:1px solid #999999">&nbsp;</div>
    <div id="key" style="margin-top:-7px;margin-bottom:4px">
      <div id="totalGraphKey" style="width:300px; text-align:center; display: inline-block;">
        number of visits per hour of day
      </div>
      <div id="avgGraphKey" style="float:right; width:300px; text-align:center; display: inline-block;">
        number visits per day of week
      </div>
    </div>   

    <canvas id="dayTimeGraph" style="border-bottom:px solid lightgrey; margin: 0px; display: inline-block">
    </canvas>
    <canvas id="dayWeekGraph" style="border-bottom:0px solid lightgrey; margin: 0px; margin-left:24px; display: inline-block">
    </canvas>
	<br /><br />
    <canvas id="totalTimeGraph" style="border-bottom:px solid lightgrey; margin: 0px; display: inline-block">
    </canvas>
    <canvas id="avgTimeGraph" style="border-bottom:0px solid lightgrey; margin: 0px; margin-left:24px; display: inline-block">
    </canvas>
    <div id="key" style="margin-top:-40px">
      <div id="totalGraphKey" style="width:300px; text-align:center; display: inline-block;">
        total time spent
      </div>
      <div id="avgGraphKey" style="float:right; width:300px; text-align:center; display: inline-block;">
        average time spent
      </div>
    </div>   
  </div>
  <br/>
</div>
{% endblock %}
