{% extends "base.html" %}
{% block title %}search{% endblock %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="/lib/CSS/datepicker.css" />
<script src="/lib/js/watchMeGraph.js">
</script>
<script src="/lib/js/canvas.text.js">
</script>
<script src="/lib/js/faces/helvetiker-normal-normal.js">
</script>
<script src="/lib/js/datepicker.js">
</script>
<script>
    jQuery.noConflict();
</script>
<script>
    var WatchmeVisualisation = {
        initialize: function(canvas, windowWidth, windowHeight, timeZoneCorrect, zoom, url) {
            this.canvas = canvas;
            this.windowWidth = windowWidth;
            this.windowHeight = windowHeight;
            this.timeZoneCorrect = timeZoneCorrect;
            this.endDate = new Date();
			this.now = new Date().valueOf();
            this.startDate = new Date(this.endDate.valueOf() - zoom);
            this.endTime = this.endDate.valueOf();
            this.startTime = this.startDate.valueOf();
            this.OGendTime = this.endDate.valueOf();
            this.OGstartTime = this.startDate.valueOf();
            this.interp = zoom / 192;
            this.drag = undefined;
            this.zoom = zoom;
			this.url = url;
            this.initSmallGraphs(this.startTime, this.endTime, url); 
			this.initUrlGraph(this.startTime, this.endTime, url);
			this.initTopUsers(this.startTime, this.endTime, url);
        },
		initTopUsers: function(startTime, endTime, url){
			var this_ = this;	
			try {
                jQuery.get("http://localhost:8000/get_top_users_for_url/10/", {
							   url: url,
							   from: startTime,
							   to: endTime
						   }, function(data){
							   if (data.code == 200) {	
								   this_.drawTopUsers(data.results);							   			            
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		drawTopUsers: function(data){
			var this_ = this;
			var html = "";
			for (var i = 0; i < data.length; i++) {
				html += "<li>";
                html += "<a href=\"/user/" + data[i].user + "/\">" + data[i].user + "</a><h7>" + data[i].number + "</h7>";
				html += "</li>";
			}
			jQuery("#topvisitors").html(html);					   			
		},
		initUrlGraph: function(startTime, endTime, url){
			var this_ = this;	
			var urlGraph = undefined;
			
            try {
                jQuery.get("http://localhost:8000/get_to_from_url/10/", {
							   url: url,
							   from: startTime,
							   to: endTime
						   }, function(data){
							   if (data.code == 200) {	
								   this_.drawUrlGraph(data.results, startTime, endTime);							   			            
							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
		},
		drawUrlGraph: function(data, startTime, endTime){
			var this_ = this;


			// 3 columns of divs
			var leftHTML = "";
			var rightHTML = "";
			var centerHTML = "<h6><a href=\"" + this_.url + "\">" + this_.url + "</a></h6>";
			for (var i =0; i < data.from.length; i++){
				leftHTML += "<h6><a href=\"" + this_.from.url[i] + "\">" + this_.url.from.url[i] + "</a></h6>";
			}
			for (var i =0; i < data.to.length; i++){
				rightHTML += "<h6><a href=\"" + this_.url.to.url[i] + "\">" + this_.url.to.url[i] + "</a></h6>";
			}			
			jQuery("#urlLeft").html(leftHTML);
			jQuery("#urlRight").html(rightHTML);
			jQuery("#urlCenter").html(centerHTML);					   			

			// 1 canvas bg
			var totalTimeG = newify(pathGraph, {
										canvas: document.getElementById("pathGraph"),
										startTime: startTime,
										endTime: endTime,
										windowHeight: this_.windowHeight,
										windowWidth: this_.windowWidth,
										lineWidth: 10,
										minH: 160,
										maxH: 250, // hue
										data: data
									});			
		},
		initSmallGraphs: function(startTime, endTime, url){
            var this_ = this;
            try {
                jQuery.get("http://localhost:8000/get_views_url/", {
							   url: url,
							   from: startTime,
							   to: endTime
						   }, function(data){
							   if (data.code == 200) {								   
								   // prolly shouldnt be in here
								   // but it should run at this time using this data
								   // shows total web viewed and average webviewd
								   var fooTotal = 0;
								   for (var i = 0; i < data.results.length; i++) {
									   fooTotal += data.results[i].end - data.results[i].start;
								   }
								   jQuery("#totalTime").html("<b>total time spent: </b> " + timeCounter(fooTotal / 1000));
								   jQuery("#num").html("<b>total visits: </b>" + data.results.length);
								   jQuery("#avgTime").html("<b>average time spent: </b>" + timeCounterLongAbv((fooTotal / (data.results.length * 2)) / 1000));
								   this_.drawLiteGraph(data.results, startTime, endTime);

							   }
							   else {
								   console.log("yaaaa!!!H!H!H!" + data.code + " ");
							   }
						   }, "json");
            } 
            catch (e) {
                console.log(e);
            }
        },
        drawLiteGraph: function(data, startTime, endTime){
			var this_ = this;
            var newData = data;
            var startTime = startTime; //newData[1].start.valueOf();
			var endTime = endTime;
            var interpNum = 28; // ALARM yea this is number of points on graph
            // fix this. it should be dynamic or a variable
            var interp = (endTime - startTime) / interpNum;
            var count = (Math.floor((endTime - startTime) / interp));
            
            // format the data
            var ttData = []; // total time per count
            var avgDataNum = []; // number of websites
            var dateArray = function(){
                var foo = [];
                for (var i = 0; i < count; i++) {
                    foo[i] = startTime + (interp * i);
                    // set all arrays to 0 so i can increment them
                    ttData[i] = 0;
                    avgDataNum[i] = 0;
                }
                return foo;
            }();
            
            // function to get total time on websites per time instance (ie count)
            for (var i = 0; i < newData.length; i++) {
                // oh man this is ineffecient hrm
                for (var j = 0; j < count; j++) {
                    if (j >= count) {
                        if (newData[i].start.valueOf() > dateArray[j]) {
                            ttData[j] += newData[i].end - newData[i].start;
                            avgDataNum[j] += 1;
                        }
                    }
                    else {
                        if ((newData[i].start.valueOf() > dateArray[j]) && (newData[i].start.valueOf() < dateArray[j + 1])) {
                            ttData[j] += newData[i].end - newData[i].start;
                            avgDataNum[j] += 1;
                        }
                    }
                }
            }
            
            var avgData = function(){
                var foo = [];
                for (var i = 0; i < count; i++) {
                    foo[i] = (ttData[i] / (avgDataNum[i] + 1));
                }
                return foo;
            }();
            
            var totalTimeG = newify(lineGraphFactoryLite, {
										canvas: document.getElementById("totalTimeGraph"),
										startTime: startTime,
										endTime: endTime,
										windowHeight: this_.windowHeight,
										windowWidth: this_.windowWidth,
										interp: (endTime - startTime) / interpNum,
										color: "#ff00ff",
										data: ttData
									});
            var avgTimeG = newify(lineGraphFactoryLite, {
									  canvas: document.getElementById("avgTimeGraph"),
									  startTime: startTime,
									  endTime: endTime,
									  windowHeight: this_.windowHeight,
									  windowWidth: this_.windowWidth,
									  interp: (endTime - startTime) / interpNum,
									  color: "#ff00ff",
									  data: avgData
								  });
        },
		refresh: function(startTime, endTime){
            var this_ = this;
            this_.endTime = endTime;
            this_.startTime = startTime;
			
			this_.initSmallGraphs(this_.startTime, this_.endTime, url); 
			this_.initUrlGraph(this_.startTime, this_.endTime, url);
			this_.initTopUsers(this_.startTime, this_.endTime, url);
		}
    };
jQuery(document).ready(function(){
						   var currentDate = new Date();																					   
						   var myWidth = window.innerWidth - 16;
						   var myHeight = window.innerHeight - 250;
						   var input = jQuery("#urladdtextinput").val();
						   jQuery("#datepicker").val(currentDate.format('mm/dd/yyyy'));						   
						   jQuery('#datepicker').DatePicker({
																format: 'm/d/Y',
																date: jQuery('#datepicker').val(),
																current: jQuery('#datepicker').val(),
																starts: 1,
																position: 'bottom',
																current: '2009-07-29',
																
																onBeforeShow: function(){
																	jQuery('#datepicker').DatePickerSetDate(jQuery('#datepicker').val(), true);
																},
																onChange: function(formated, dates){
																	var fooDate = jQuery.datepicker.formatDate("@", new Date(jQuery('#datepicker').DatePickerGetDate(true)));
																	if (fooDate > new Date().valueOf()) {
																		fooDate = new Date().valueOf();
																		jQuery('#datepicker').val(currentDate.format('mm/dd/yyyy'));
																		jQuery("#messageSent").show("slow");
																	}
																	else {
																		jQuery('#datepicker').val(formated);
																		self.viz.refresh(parseInt(fooDate) - self.viz.zoom, parseInt(fooDate)), jQuery("#messageSent").hide("slow");
																	}
																	jQuery('#datepicker').DatePickerHide();
																	
																}
															});				

						   document.getElementById("totalTimeGraph").setAttribute("width", 335);
						   document.getElementById("totalTimeGraph").setAttribute("height", 200);
						   document.getElementById("avgTimeGraph").setAttribute("width", 335);
						   document.getElementById("avgTimeGraph").setAttribute("height", 200);
						   document.getElementById("pathgraph").setAttribute("width", 950);
						   document.getElementById("pathgraph").setAttribute("height", 350);

						   
						   self.viz = newify(WatchmeVisualisation, document.getElementById("main"), 335, 200, 0, 604800000, input);// 1 week
					   });
</script>
{% endblock %}
{% block content %}
<div class="loader" id="loadimg"></div>
<div id="profile_content" style="width:950px; margin-left:auto;margin-right:auto; ">
	  <h1>search</h1><br />
	<div id="dateselector" style="font-size:1.1em; float:right; padding-top:10px; width:210px">
	week ending:
    <input id="datepicker" class="datepicker" value="06/14/2008" type="text" style="font-size:12px"/>
	<img src="/lib/img/calendar_16.png" style="vertical-align:middle; margin-left:4px; margin-bottom:2px;"/>
    <div id="messageSent">
      robots do not know the future :( 
	  <br/>
	  &#8230;yet
	</div>
  </div>


  <form name="list" id="urladdform">
	<input type="text" name="list" id="urladdtextinput" style="display:inline-block; width:228px;" value="http://localhost:8000/"/>
	<div id="urladd" style="width:auto">search</div>
	<input type="submit" id="urladd" value="add" style="display:none;"/>
  </form>

  <canvas id="pathgraph" style="z-index:-1">
  </canvas>
</div>


<div id="report">
    <div id="profile" style="margin-top:-10px">
	  <div style="border-top:1px solid #999999">&nbsp;</div>
        <div id="num">
            <b>total visits:</b>
        </div>
        <div id="totalTime">
            <b>total time spent: </b>
        </div>
        <div id="avgTime">
            <b>average time spent:</b>
        </div>
	  <h2 style="border-top:none">Top Visitors</h2>
			  <br />
        <ul class="friends" id="topvisitors">
			  
        </ul>
    </div>
    <div id="profile_content" style="margin-top:0px">
        	  <div style="border-top:1px solid #999999">&nbsp;</div>
		<br />
        <canvas id="totalTimeGraph" style="border-bottom:px solid lightgrey; margin: 0px; display: inline-block">
        </canvas>
        <canvas id="avgTimeGraph" style="border-bottom:0px solid lightgrey; margin: 0px; margin-left:24px; display: inline-block">
        </canvas>
        <div id="key" style="margin-top:-40px">
            <div id="totalGraphKey" style="width:300px; text-align:center; display: inline-block;">
                total time spent
            </div>
            <div id="avgGraphKey" style="float:right; width:300px; text-align:center; display: inline-block;">
                average time spent
            </div>
        </div>   
    </div>
    <br/>
</div>
{% endblock %}
