{% extends "base.html" %}
{% block title %}Privacy Settings{% endblock %}
{% block imports %}
    <style>
	  ul {
	  border:0px;	
	  }
	  #popularsites li {
	  border:0px;	
	  padding-left:6px;
	  font-size:11px;
	  width:200px;
	  }
	</style>
    <script src="/lib/js/urllist.js">
    </script>
	<script>
	function initMenu(){
		jQuery('#popularsites ul').hide();
		jQuery('#popularsites li a').click(
			function() {
				jQuery(this).next().slideToggle('normal');
			}
		);
		var html = "";
		var typesArray = ["news","blogs","media","shopping","social","reference"];
		for (var i = 0; i < typesArray.length; i++){			
			html = "<a href=\"javascript:addAllPrivacyURLS(\'" + pageList[typesArray[i]] + "\');\"> add all</a>";
			for (var j = 0; j < pageList[typesArray[i]].length; j++){
				html += "<li>";
				html += "<a href=\"javascript:addPrivacyURL(\'" + pageList[typesArray[i]][j] + "\');\">" + pageList[typesArray[i]][j] + "</a>";
				html += "</li>";			
								}
			jQuery("#" + typesArray[i]).html(html);
		}
	};
function addPrivacyURL(url){
	var urlEncoded = encodeURIComponent(url);
	jQuery("<li>" + url + "<a href=\"/delete_privacy_url/?input=" + url + "\"><img src=\"/lib/img/cancel_16.png\"/></a>" + "</li>").appendTo('#urladdul');
	jQuery.get("/add_privacy_url/", {input:url}); 
};

function addAllPrivacyURLS(urls){
	var urlsArray = urls.split(",");
	for (var i = 0; i < urlsArray.length; i++){
		jQuery("<li>" + urlsArray[i] + "<a href=\"/delete_privacy_url/?input=" + urlsArray[i] + "\"><img src=\"/lib/img/cancel_16.png\"/></a>" + "</li>").appendTo('#urladdul');		
	}
	jQuery.get("/add_privacy_url/", {input:urls}); 
};

jQuery(document).ready(function(){
    initMenu();
    // no params :(
    jQuery.get("/get_privacy_urls/", {}, 
	       function(data){
		 if (data.code == 200) {
		   var html = "";
		   for (var i = 0; i < data.results.length; i++) {
		     html += "<li>";
		     html += data.results[i];
		     html += "<a href=\"/delete_privacy_url/?input=" + data.results[i] + "\"><img src=\"/lib/img/cancel_16.png\"/></a>";
		     html += "</li>";
		     //console.log(data.results[i]);
		   }
		   jQuery("#urladdul").html(html);
		 }
		 else {
		   console.log("yaaaa!!!H!H!H!" + data.code + " ");
		 }
	       }, "json");
    self.addURL = function(){
      var input = jQuery("#urladdtextinput").val();
      jQuery.ajax({
	type:"GET",
	    url:"../add_privacy_url/",
	    dataType:"json",
	    data:{input:input},
	    success:function(data){
	    if (data.host && data.host.length > 0) {
	      jQuery("<li>" + data.host + "<a href=\"/delete_privacy_url/?input=" + data.host + "\"><img src=\"/lib/img/cancel_16.png\"/></a>" + "</li>").appendTo('#urladdul');
	    }
	  },
	    error:function() {}
	});
    };
  });

</script>
{% endblock %}
{% block content %}
	<div id="report" style="width:880px">
      <div id="profile_edit" style="border:1px solid grey; width:210px; margin-right:50px; margin-top:50px;float:none; display:inline-block" >
        <h2>Edit Your Profile</h2>
        {% include 'profile_save_form.html' %}
      </div>
	  <div id="profile_edit" style="float:right; border:none; margin-top:40px;">
		<br />
		<h2>add popular sites</h2>
		<br />
		<ul id="popularsites">
		  <li>
			<a href="#news">news + </a> 
			<ul id="news">
			</ul>
		  </li>
		  <li>
			<a href="#blogs">blogs +</a>
			<ul id="blogs">
			</ul>
		  </li>
		  <li>
			<a href="#media">media + </a>
			<ul id="media">
			</ul>
		  </li>
		  <li>
			<a href="#shopping">shopping + </a>
			<ul id="shopping">
			</ul>
		  </li>
		  <li>
			<a href="#social">social + </a>
			<ul id="social">
			</ul>
		  </li>
		  <li>
			<a href="#reference">reference + </a> 
			<ul id="reference">
			</ul>
		  </li>
		</ul>
	  </div>
      <div id="faq" style="width:330px; display:inline-block; vertical-align:top">
        <h1>Raise your eyebrowse</h1>
        <br/>
        <div class="bodytext">
		  Only the websites you add to this list will be logged. At any time you can use <b><a href="http://support.mozilla.com/en-US/kb/Private+Browsing">private browsing</a></b> in Firefox to temporarily turn off logging.
		  <br /><br />
		  For your own safty, please do not log sites such as google.com, facebook.com, bank webpages or your emails
        </div>
		<div id="listlist" style="border:none; padding-left:0px">
          <label for="list">
            Add URL:
          </label>
		  <input type="text" name="list" id="urladdtextinput" style="display:inline-block; width:227px;" value="nytimes.com" onkeypress="{if (event.keyCode==13)addURL()}"/>
		  <input type="submit" id="urladd" value="add" onkeypress="{if (event.keyCode==13)addURL()}" onClick="addURL()" style="width:auto;" />
          <ul id="urladdul" style="padding-left:7px;">
          </ul>
		</div>
	  </div>
	</div>
{% endblock %}
	
