{% extends "base.html" %}
{% block title %}Privacy Settings{% endblock %}
{% block imports %}
<script>
function addSites(type){

};

jQuery(document).ready(function(){
    try {
      // no params :(
      jQuery.get("http://localhost:8000/get_privacy_urls/", {}, 
		 function(data){
		   if (data.code == 200) {
		     var html = "";
		     for (var i = 0; i < data.results.length; i++) {
		       html += "<li>";
		       html += data.results[i];
		       html += "<a href=\"http://localhost:8000/delete_privacy_url/?input=" + data.results[i] + "\"><img src=\"/lib/img/cancel_16.png\"/></a>";
		       html += "</li>";
				 //console.log(data.results[i]);
		     }
		     jQuery("#urladdul").html(html);
		   }
		   else {
		     console.log("yaaaa!!!H!H!H!" + data.code + " ");
		   }
		 }, "json");
    } 
    catch (e) {
        console.log(e);
		  }
	self.addURL = function(){
		var input = jQuery("#urladdtextinput").val();
		jQuery("<li>" + input + "<a href=\"http://localhost:8000/delete_privacy_url/?input=" + input + "\"><img src=\"/lib/img/cancel_16.png\"/></a>" + "</li>").appendTo('#urladdul');
		jQuery.get("http://localhost:8000/add_privacy_url/", {input:input}); 
	};
});

</script>
{% endblock %}
{% block content %}
<div id="report" style="width:880px">
    <div id="profile_edit" style="border:1px solid grey; width:210px; margin-right:40px; margin-top:50px;float:none; display:inline-block" >
        <h2>Edit Your Profile</h2>
        {% include 'profile_save_form.html' %}
    </div>
	<div id="profile_edit" style="float:right; border:none; margin-top:40px;">
	  <br />
	  <h2>add popular sites</h2>
	  <br />
	  <a href="javascript:addSites('news')">news + </a><br /> 
	  <a href="javascript:addSites('blogs')">blogs + </a><br />
	  <a href="javascript:addSites('media')">media + </a><br /> 
	  <a href="javascript:addSites('shopping')">shopping + </a><br /> 
	  <a href="javascript:addSites('social')">social + </a><br /> 
	  <a href="javascript:addSites('reference')">reference + </a> 
	  
	</div>
    <div id="faq" style="width:330px; display:inline-block; vertical-align:top">
        <h1>Privacy Settings</h1>
        <br/>
        <div class="bodytext">
		  Only the websites you add to this list will be logged. At any time you can use <b><a href="http://support.mozilla.com/en-US/kb/Private+Browsing">private browsing</a></b> in Firefox to temporarily turn off logging.
		  <br /><br />
		  for your own safty, please do not log sites such as google.com, facebook.com, bank webpages or your emails
        </div>
		<div id="listlist" style="border:none; padding-left:0px">
          <label for="list">
            Add URL:
          </label>
		  <input type="text" name="list" id="urladdtextinput" style="display:inline-block; width:227px;" value="http://localhost:8000/" onkeypress="{if (event.keyCode==13)addURL()}"/>
		  <input type="submit" id="urladd" value="add" onkeypress="{if (event.keyCode==13)addURL()}" onClick="addURL()" style="width:auto;" />
          <ul id="urladdul" style="padding-left:7px;">
          </ul>
		</div>
	</div>
</div>
{% endblock %}
	
