<!DOCTYPE html>
<html>
    <head>
<title>Privacy Settings</title>
        <style>
            @import url("/lib/css/reset-fonts-grids.css");
           @import url("/lib/css/watchhome.css");
input[type="text"] {
width:250px;
}
</style>
<script src="/lib/js/jquery-1.3.2.min.js">
</script>
<script>
jQuery.noConflict();
</script>
<script>
try {
  jQuery.get("http://localhost:8000/_get_privacy_list/{{ user.username }}/", {}, // no params :(
	     function(data) {
	       if (data.code == 200) {	
		 var html = "";
		 html += "<ul>";		 
		 for (var i = 0; i < data.results.length; i++){
		   html += "<li>";
		   html += data.results[i];
		   html += "<a href=\"http://localhost:8000/_delete_privacy_url/{{ user.username }}/" + data.results[i] + "\"/><img src=\"/lib/img/cancel_16.png\" />";
		   html += "</li>";
		 }
		 html += "<ul>";
		 jQuery("#listlist").html(html);
				   
	       } else {
		 console.log("yaaaa!!!H!H!H!" + data.code + " ");
	       }
	     }, "json");	
} catch(e) {
  console.log(e);
}
</script>
   </head>
<body>
<div id="whitelist">
  <h1>Privacy Settings</h1><br />
<div class="bodytext">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus <a href="">data retention policy</a> parturient montes, nascetur ridiculus mus.</div>

<div id="profile_edit" style="margin-top:10px; border:none; padding:4px; float:none;margin-left:0px;">
<form id="save-form" method="post" action="/settings/{{ user.username }}/" style="text-align:center; width:260px;">
{{ form.as_p }}
<input type="submit" value="save" />
</form>
</div>
  
<form name="list" action="http://localhost:8000/_add_privacy_url/{{ user.username }}/" method="get">
<label for="list">Add URL:</label>
<input type="text" name="list" style="display:inline-block; width:228px;"/>
<input type="submit" value="add" style="display:inline-block; padding:3px; padding-left:4px; margin-left:4px;" />
</form> 
    <div id="listlist">
      <ul>
	<li>
	http://localhost:8000/whitelist/ <img src="/lib/img/cancel_16.png" />
	</li>
	<li>
	http://www.w3schools.com/html  <img src="/lib/img/cancel_16.png" />
	</li>
      </ul>
    </div>
    <hr>
    <div id="footer" style="width:auto; margin:-5px; border-top:0px solid black">
      <a href="/faq/">faq</a>&nbsp | &nbsp<a href="/help/">help</a>&nbsp | &nbsp<a href="http://groups.csail.mit.edu/haystack/">research</a>
    </div>
    </body>
    </html>
    
