{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block imports %}
        <script src="http://zamiang.webfactional.com/lib/js/jquery-1.3.2.min.js">
        </script>
        <script src="http://zamiang.webfactional.com/lib/js/protocrock.js">
        </script>
        <script src="http://zamiang.webfactional.com/lib/js/zamiang.js">
        </script>
        <script src="http://zamiang.webfactional.com/lib/js/watchMeGraph.js">
        </script>
        <script src="http://zamiang.webfactional.com/lib/js/canvas.text.js">
        </script>
        <script src="http://zamiang.webfactional.com/lib/js/faces/helvetiker-normal-normal.js">
        </script>
        <script>
            jQuery.noConflict();
        </script>
        <script>
            function getListIt(){
                try {
                    netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                } 
                catch (e) {
                }
                return Components.classes['@electronic.max/listit;1'].getService().wrappedJSObject;
            };
            
            var WatchmeVisualisation = {
                initialize: function(canvas, windowWidth, windowHeight, timeZoneCorrect, zoom, startDate){
                    this.canvas = canvas;
                    this.windowWidth = windowWidth;
                    this.windowHeight = windowHeight;
                    this.timeZoneCorrect = timeZoneCorrect;
                    this.endDate = new Date(new Date().valueOf() + this.timeZoneCorrect);
                    if (startDate) {
                        this.startDate = new Date(startDate + this.timeZoneCorrect);
                        zoom = this.endDate - this.startDate;
                    }
                    else {
                        this.startDate = new Date(this.endDate.valueOf() - zoom + this.timeZoneCorrect);
                    }
                    this.now = new Date(new Date().valueOf() + this.timeZoneCorrect);
                    this.endTime = this.endDate.valueOf();
                    this.startTime = this.startDate.valueOf();
                    this.OGendTime = this.endDate.valueOf();
                    this.OGstartTime = this.startDate.valueOf();
                    this.interp = zoom / 192;
                    this.drag = undefined;
                    this.zoom = zoom;
                    
                    var listit = getListIt();
                    var event_store = listit.CMS.event_store;
                    var entity_store = listit.CMS.entity_store;
                    this.listit = listit;
                    var today_www_viewed_events = event_store.getEvents("www-viewed", [new Date().valueOf() - zoom, new Date().valueOf()]);
                    
                    var dateSliderArray = [];
                    var lineGraphArray = [];
                    var statusArray = [];
                    this.drawArray = [];
                    
                    for (var i = 0; i < today_www_viewed_events.length; i++) {
                        today_www_viewed_events[i].host = newify(statusFactory, this, {
                            name: today_www_viewed_events[i].entity.id,
                            data: today_www_viewed_events[i].entity.host,
                            type: today_www_viewed_events[i].type,
                            startPoint: today_www_viewed_events[i].start,
                            endPoint: today_www_viewed_events[i].end,
                            xOffset: 0,
                            yOffset: 0,
                            marginTop: this.windowHeight - 76,
                            height: 10,
                            color: "#0000ff",
                            lableOn: false
                        });
                        statusArray.push(today_www_viewed_events[i].host);
                    }
                    
                    todayGraph = newify(lineGraphFactory, this, {
                        xOffset: 0,
                        yOffset: 0,
                        topPadding: 75,
                        padding: windowHeight - 93,
                        color: "#00ffff",
                        dashed: false,
                        key: true
                    });
                    lineGraphArray.push(todayGraph);
                    
                    /*
                     // one day this will work, but that day is not today
                     avgWebGraph = newify(lineGraphFactory, this, {
                     xOffset: 0,
                     yOffset: 0,
                     topPadding: 75,
                     padding: windowHeight - 93,
                     color: "#ff0000",
                     dashed: true,
                     key: false,
                     avg: true
                     });
                     lineGraphArray.push(avgWebGraph);
                     */
                    mainDateSlider = newify(dateSlider, this, {
                        xOffset: 0,
                        yOffset: 0,
                        padding: 55
                    });
                    dateSliderArray.push(mainDateSlider);
                    
                    this.drawArray.push(lineGraphArray);
                    this.drawArray.push(statusArray);
                    this.drawArray.push(dateSliderArray);
                    mainEvtHandlers = newify(evtHandlers, this);
                    
                    this.draw();
                },
                draw: function(){
                    if (this.canvas !== undefined && this.canvas.getContext) {
                        var ctx = this.canvas.getContext('2d');
                        ctx.clearRect(0, 0, this.windowWidth, this.windowHeight);
                        for (var i = 0; i < this.drawArray.length; i++) {
                            for (var k = 0; k < this.drawArray[i].length; k++) {
                                this.drawArray[i][k].draw();
                            }
                        }
                    }
                    else {
                        alert('You need Safari 4 or Firefox 3+ to see this.');
                    }
                },
                getCanvas: function(){
                    return this.canvas;
                },
                setDrawArray: function(p){
                    this.drawArray = p;
                }
            };
            
            
            jQuery(document).ready(function(){
                var myWidth = undefined;
                var myHeight = undefined;
                
                myWidth = window.innerWidth - 16;
                myHeight = window.innerHeight - 20;
                
                document.getElementById("main").setAttribute("width", myWidth);
                document.getElementById("main").setAttribute("height", myHeight);
                
                self.viz = newify(WatchmeVisualisation, document.getElementById("main"), myWidth, myHeight, timeZoneCorrect, 86400000);
            });
        </script>
{% endblock %}
{% block content %}
        <canvas id="main">
        </canvas>
        <div id="fooTxt">
        </div>
        <div id="fooDate"></div>	
{% endblock %}
