body { 
   font-family: Tahoma, Arial,sans serif;
   background-color:
   black; color: white; 
   margin-left:0px;
}

a { color:#fca11f; } 
a:visited {color: #fgfgfg }
a:active  {color: white }
a:hover{color: #fcd11f }

p { margin-top: 20px; }
h2 { font-size: 16pt; font-weight: bold; color: white; margin: 0pt;}
h2 { font-size: 14pt; font-weight: bold; color: white; margin: 0pt;} 

#main {
  padding:20px;
  margin: 20px;
  background:url(../imgs/trans40.png);
  text-align:left;
}

dl dt {
}
dl dd {
   margin-top: 5px;
   margin-left: 0px; margin-right:0px;
}



.topbar { color: #dddddd; background-color: #252525; border-bottom: 1px solid #aaaaaa; padding-bottom: 5pt; width:100%;}
.topbartitle { color: #dddddd; position:relative; top:21px; padding-top:0px; font-weight: bold;  }


/* */
.hmini { font-size: 14pt; font-weight: bold; vertical-align: super; font-variant: small-caps; }
.hmaxi { font-size: 20pt; font-weight: bold; position:relative; top:-0.4em; margin-left: 12px; font-variant: small-caps; text-align: right; }

.hmaxj { font-size: 40pt; font-weight: bold; color: rgb(34,0,73);  position:relative; left:auto; right: auto;
         bottom:-0.1em; margin-left: 12px; font-variant: small-caps; }

/* prose on the mainpage */
.prose { margin-bottom:2em;}
.prose P { margin-top: 1em; margin-top: 0em;}

/* sidebar   */
div#sidebartitle  { margin-top: 0px; margin-bottom:10px; font-size: 1.2em;}
dt#sidebar {font-size: 10pt;}
dd#sidebar {font-size: 8pt; margin-bottom: 10px; margin-left: 0px; left: 0px;}
dl#sidebar {font-size: 8pt; margin-bottom: 20px; margin-top: 0px; left: 0px;}


img.logo { width: 40px; height: 40px; margin: 0 4px 10px 0;}
.topbar a:link { color: #fca11f; background: transparent; text-decoration: none; }
.topbar a:visited { color: #fca11f; background: transparent; text-decoration: none; }
.topbar a:active { color: #a9d13e; background: transparent; text-decoration: none; }
.prose a:link { color: #fca11f; background: transparent; text-decoration: none; }
.prose a:visited { color: #fca11f; background: transparent; text-decoration: none; }
.prose a:active { color: #a9d13e; background: transparent; text-decoration: none; }

/* captions for sidebar images */
#nokcap { text-align:center; color:rgb(0,0,80); font-variant: small-caps;}
#csailcap { text-align:center; color:rgb(0,0,0); font-variant: small-caps;}

.screenshot { float:right ; margin-left:10px; }

.downloadboxes { font-size:10pt;border-style: solid; border-width: 1px; border-color:#505050; padding-top:15px; padding-bottom:15px; padding-left:4px; padding-right:4px;}

.useremail { font-size:90%; display:inline-block; width:120px; margin-right: 5px; text-align:right; margin-top:5px; margin-bottom:5px;}
/*.useremail {  }*/

#submit { cursor-style:pointer; color:white: background:black; border-style:solid; border-width:1px;}

#msg { text-align: center; margin: 6px; }
#downloadlink { text-align: center; }
input { width:140px; color:#3b3b3b; background:#ffffff; border-style: solid; border-width: 1px;; }
#terms { border-style:solid; border-width:1px; border-color:white; padding:10px; font-size:8pt;}