.p1 { margin-top: 30px; }

body { margin-left:0px; margin-right:60px; background-color: #ffffff; color: #3b3b3b; font-family: sans-serif; font-size: 16pt;  }
.h1 { font-size: 26pt; font-weight: bold; color: rgb(34,0,73); vertical-align: middle; font-variant: small-caps; }
.h2 { font-size: 18pt; font-weight: bold; color: rgb(34,0,73); vertical-align: middle; font-variant: small-caps; }

input { width:200px; color:#3b3b3b; background:#ffffff; border-style: thin; border-width: 1px;; }

.topbar { color: #dddddd; background-color: #252525; border-bottom: 1px solid #aaaaaa; padding-bottom: 5pt;}
.topbartitle { color: #dddddd; position:relative; top:21px; padding-top:0px; font-weight: bold;  }

/* */
.hmini { font-size: 14pt; font-weight: bold; vertical-align: super; font-variant: small-caps; }
.hmaxi { font-size: 20pt; font-weight: bold; position:relative; top:-0.4em; margin-left: 12px; font-variant: small-caps; text-align: right; }

.hmaxj { font-size: 40pt; font-weight: bold; color: rgb(34,0,73);  position:relative; left:auto; right: auto;
         bottom:-0.1em; margin-left: 12px; font-variant: small-caps; }

/* prose on the mainpage */
.prose { width: 560px; margin-bottom:2em;}
.prose P { margin-top: 1em; margin-top: 0em;}

/* sidebar   */
div#sidebartitle  { margin-top: 0px; margin-bottom:10px; font-size: 1.2em;}
dt#sidebar {font-size: 10pt;}
dd#sidebar {font-size: 8pt; margin-bottom: 10px; margin-left: 0px; left: 0px;}
dl#sidebar {font-size: 8pt; margin-bottom: 20px; margin-top: 0px; left: 0px;}


img.logo { width: 40px; height: 40px; margin: 0 4px 10px 0;}
.topbar a:link { color: #fca11f; background: transparent; text-decoration: none; }
.topbar a:visited { color: #fca11f; background: transparent; text-decoration: none; }
.topbar a:active { color: #a9d13e; background: transparent; text-decoration: none; }
.prose a:link { color: #fca11f; background: transparent; text-decoration: none; }
.prose a:visited { color: #fca11f; background: transparent; text-decoration: none; }
.prose a:active { color: #a9d13e; background: transparent; text-decoration: none; }

/* captions for sidebar images */
#nokcap { text-align:center; color:rgb(0,0,80); font-variant: small-caps;}
#csailcap { text-align:center; color:rgb(0,0,0); font-variant: small-caps;}

