body { 
   font-family: Helvetica Neue, Helvetica Neue, Helvetica, sans serif;
   background-image:url(https://welist.it/list.jpg);
   color: white; 
   margin-left:0px
   font-weight:200;
   line-height:130%;
   
}
/* fca11f */

.listitlogo {
    font-family: Helvetica Neue;
    font-size:48pt;
    color:#cc6600;
}
.dot {
    color:black;
}
.beforeyouforgetit {
    font-size:18pt;
}

a { color:#cc6600; } 
a:visited {color: #cc6600 }
a:active  {color: #cc66ff }
a:hover{color: #fcd11f }

h2 { font-size: 16pt;  margin: 0pt; font-weight:normal; margin-bottom:1.2em;}

p {  margin-top:1em; margin-bottom:1em; }

.news {
    margin-bottom:1.5em;
}
.news li {
    margin-left:17px;
    margin-bottom:3px;
}

#download {
    border:solid 1px black;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-size:120%;font-weight:bold;text-align:center;padding:10px;
}

table {
    color:black;
    border-collapse:separate;
}

#back {
    /*background-color:#cc6600;*/
    z-index:-1; position:fixed; left:0px; top:1in; right:0px; bottom:0px;
}

#main {
  /*background:url(../imgs/trans40.png);*/
  /*background-color:rgba(205,102,00,0.4);*/ /* #cc6600 */
    background-color:white;
  border: solid 1px #cc6600;
  background-color:rgba(255,255,255,0.6);
  color:black;
  text-align:left;
  margin: 20px auto;
}

#main td {
    padding-top:2em;
}

dl dt {}
dl dd {
   margin-top: 5px;
   margin-left: 0px; margin-right:0px;
}

ul {
    list-style-type:none;
}
ul li {
    margin-bottom:2px;
}


#topbar {
    /*color: #dddddd; 
    background-color: #252525;
        border-bottom: 1px solid #aaaaaa; 
    */
    margin-top:20px;
    color:black;
    padding-bottom: 5pt;
    width:100%;
}

#topbartitle { 
    /*color: #dddddd; */
    color:black;
    position:relative; 
    top:21px; 
    padding-top:0px; 
    /*font-weight: bold;  */
}

#topbar > table {
    margin: 0 auto;
}


/* */
.hmini { font-size: 14pt; font-weight: bold; vertical-align: super; font-variant: small-caps; }
.hmaxi { font-size: 20pt; font-weight: bold; position:relative; top:-0.4em; margin-left: 12px; font-variant: small-caps; text-align: right; }

.hmaxj { font-size: 40pt; font-weight: bold; color: rgb(34,0,73);  position:relative; left:auto; right: auto;
         bottom:-0.1em; margin-left: 12px; font-variant: small-caps; }

/* prose on the mainpage */
.prose { margin-bottom:2em;}
.prose P { margin-top: 1em; margin-top: 0em;}

/* sidebar   */
div#sidebartitle  { margin-top: 0px; margin-bottom:10px; font-size: 1.2em;}
dt#sidebar {font-size: 10pt;}
dd#sidebar {font-size: 8pt; margin-bottom: 10px; margin-left: 0px; left: 0px;}
dl#sidebar {font-size: 8pt; margin-bottom: 20px; margin-top: 0px; left: 0px;}


img.logo { width: 40px; height: 40px; margin: 0 4px 10px 0;}
#topbar a:link { color: #cc6600; background: transparent; text-decoration: none; }
#topbar a:visited { color: #cc6600; background: transparent; text-decoration: none; }
#topbar a:active { color: #a9d13e; background: transparent; text-decoration: none; }
.prose a:link { color: #cc6600; background: transparent; text-decoration: none; }
.prose a:visited { color: #cc6600; background: transparent; text-decoration: none; }
.prose a:active { color: #a9d13e; background: transparent; text-decoration: none; }

/* captions for sidebar images */
#nokcap { text-align:center; color:rgb(0,0,80); font-variant: small-caps;}
#csailcap { text-align:center; color:rgb(0,0,0); font-variant: small-caps;}

.screenshot { float:right ; margin-left:10px; }

.downloadboxes { font-size:10pt;border-style: solid; border-width: 1px; border-color:#505050; padding-top:15px; padding-bottom:15px; padding-left:4px; padding-right:4px;}

.useremail { font-size:90%; display:inline-block; width:120px; margin-right: 5px; text-align:right; margin-top:5px; margin-bottom:5px;}
/*.useremail {  }*/

#submit {
    cursor:pointer;
    color:grey;
    background:black;
    border-style:solid;
    border-width:1px;
}

#msg { text-align: center; margin: 6px; }
#downloadlink { text-align: center; }
input { color:#3b3b3b; background:#ffffff; border-style: solid; border-width: 1px; }
.force140 { width:140px; }

#terms { border-style:solid; border-width:1px; border-color:#cc6600; padding:10px; font-size:8pt;}

#main-content {  }
#main-content td { padding:25px;  }

.feature-listinalist {  margin-left:0px; padding-left:20px; }
.feature-listinalist li {  margin-left:0px; padding-left:0px; padding-top:0.2em; padding-bottom:0.2em; }

.fakehyperlink { color: #cc6600; background: transparent; text-decoration: none; }

#gettingstarted li {
    margin-top:5px;
}