
.faq-list  {
   width: 400px;
   list-style-type: none;
}

.feature-list  {
   width: 400px;
   list-style-type: none;
}

.feature-list > li {
    border:1px solid rgba(205,102,0,0.8);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin-bottom:10px;
}
.feature-list div {
     /*background-color: #252525;*/
}


.feature-list p {
	margin-bottom : 10px;
	text-decoration: none;
	font-weight: normal;
	margin: 0px;
	padding-left: 10px; padding-right:10px; padding-top:5px; padding-bottom:5px;
}
.feature-list .feature-title {
	cursor:pointer;
	display:block;
	padding:5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: normal;
	/*background-color: #252525;*/
	/*background-image: url("../imgs/AccordionTab0.png");*/
	height: 18px;
}
.feature-list .feature-title:hover {
	/*background-color: #252525;
	background-image: url("../imgs/AccordionTab2.png");
	*/
}
.feature-list .feature-title.selected {
	color: #cc6600;
	/*background-color: #252525;
	background-image: url("../imgs/AccordionTab2.png");
	*/
}
.feature-description {
    padding-left:16px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;    
}
.credits {
    font-size:8pt;
    font-style:italic;
}

.listdot {
    height: 12px;
    width: 12px;
    margin-right: 4px;
}

.terms p {
    text-align:justify;
    margin-bottom : 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 10pt;
    margin: 0px;
    padding: 10px;
}
