.feature-list dl {
   /*font-size:11pt;*/
}
.feature-list dt {
   /*font-size:11pt;*/
}

.faq-list  {
   width: 400px;
   font-family: verdana;
   border: none;
   list-style-type: none;
}

.feature-list  {
   width: 400px;
   font-family: verdana;
   border: none;
   list-style-type: none;
}
.feature-list div {
	background-color: #252525;
}
.feature-list p {
	margin-bottom : 10px;
	border: none;
	text-decoration: none;
	font-weight: normal;
	/*font-size: 11pt;*/
	margin: 0px;
	padding-left: 10px; padding-right:10px; padding-top:5px; padding-bottom:5px;
}
.feature-list .feature-title {
	cursor:pointer;
	display:block;
	padding:5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: normal;
	#font-size: 110%;
	font-size:11pt;
	background-color: #252525;
	border-bottom: 1px solid #252525;
	height: 18px;
	background-image: url("../imgs/AccordionTab0.png");
}
.feature-list .feature-title:hover {
	background-color: #252525;
	background-image: url("../imgs/AccordionTab2.png");
}
.feature-list .feature-title.selected {
	color: #fca11f;
	background-color: #252525;
	background-image: url("../imgs/AccordionTab2.png");
}
.feature-description {
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;    
}

.listdot {
    height: 12px;
    width: 12px;
    margin-right: 4px;
}

.terms p {
    text-align:justify;
    text-justify:inter-word;
	margin-bottom : 10px;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 6pt;
	margin: 0px;
	padding: 10px;
}
