body {
  background-image: url(../../imgs/postits-sm.jpg);
  background-repeat: repeat-y;
  color: white;
}

textarea {  color:white;  background:#000000;}
input {  color:white;  background:#000000;}

.blockinline { display:inline-block; }
.block       { display:block; }
.choice { display:inline-block; }

.force300w { width:280px; }

.question {  margin-bottom: 15px;  }
.question_response .textfield { width:320px;  }
.question_response .choice {  padding-left:5px; }
.question_response textarea { width:100%;  }

.question dl dd { margin-top:0px; margin-bottom:0px; margin-left:20px;  }

.question_response input:disabled {
  color:#909090;
}

.othertextfield {width : 100px; }

#toolbar {
   position:fixed;
   bottom  : 0px;
   width : 100%;
   height  : 1.8em;
   background:#202020; 
   opacity:0.8;
   padding-top:3px;
   padding-bottom:3px;
}

.note_excerpt {
  font-style: italic;
  color: #fca11f
}

#toolbar div {
   text-align:left;
}

#toolbar .savebutton {
   text-align: right;
   float:right;
   margin-right:20px;
}
#message {
   height: 1em;
   float:left;
   margin-left:20px;
}

.note_shower {
  display:none;
  border: solid 1px white;
  padding:10px;
}
