
.question .question_response {
}

.question {
  margin-bottom: 15px;
}

.note {
  font-style:italic;
  text-align:center;
}

.question_response textarea {
  width:100%;
  display:block;
}

div.block {
 display:block;
}

.question_response input {
  width:200px;
}
.question_response span {
  padding-left:8px;
}
textarea {
  color:white;
  background:#000000;
}
input {
  color:white;
  background:#000000;
}

.question_response input:disabled {
  color:#909090;
}

#toolbar {
   position:fixed;
   bottom  : 0px;
   width : 100%;
   height  : 1.8em;
  background:#202020; 
   opacity:0.8;
   padding-top:3px;
   padding-bottom:3px;
}

#toolbar div {
   text-align:left;
}

#toolbar .savebutton {
   text-align: right;
   float:right;
   margin-right:20px;
}
#message {
   height: 1em;
   float:left;
   margin-left:20px;
}
